.label{
	color: black;
    font-size: 16px;
}

.data{
		
	font-weight: bold;
	font-size: 18px;
}

.sectionHeader{
	font-size:20px;
	border-bottom:1px solid;
	margin-bottom:2px
	
}

td{
	padding-bottom: 2px;
	width: 50%;
	
}
 
@page {
    margin-top: 15px;
    margin-bottom: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
}
