#microsite_header .header-main{
      position: relative;
      width: 100%;
}

#microsite_header .brandingBanner{
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
	
}

#microsite_header .headerLogo{
    margin-top:1em;
    margin-bottom:1em;
}
#microsite_header .brandingBanner a img{
    max-width: 300px !important;
}
@media only screen and (min-width: 1250px){
#microsite_header .header-main{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 10px;
}
#microsite_header .headerLogo{
    float: left;
}
}
@media only screen and (min-width: 800px){
#microsite_header .header-main {
    padding: 0 10px;
}
}
@media only screen and (max-width: 800px){

#microsite_header .brandingBanner {
    text-align: center;
}


}