<apex:component controller="rxTransSearchController">
  <style>
    .actionLink{
      color: black !important;
    }
    
    .rxColumnHeader{
        color: #222;
    }
    
    .rxColumnHeader:hover{
        cursor: pointer;
    }
    
    .rxColumnHeaderActive{
        color: #1797c0;
    }
    
    
    
  </style>
  
  <apex:includeScript value="{!URLFOR($Resource.jqueryDate, '/jquery-ui.min.js')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.jqueryDate, '/jquery-ui.min.css')}" />
  
  <apex:attribute name="clientUW" assignTo="{!uw}" description="client underwriter" type="String" required="false"/>
  <apex:attribute name="clientGrp" assignTo="{!grp}" description="client group" type="String" required="false"/>
  <apex:attribute name="clientEssn" assignTo="{!eSSN}" description="client essn" type="String" required="false"/>
  <apex:attribute name="cRxFrom" assignTo="{!clientRxFrom}" description="client current end date" type="String" required="false"/>
  <apex:attribute name="cRxTo" assignTo="{!clientRxTo}" description="client current start date" type="String" required="false"/>
  <apex:attribute name="mSeq" assignTo="{!memberSeq}" description="Member Sequence" type="String" required="false"/>
  
  <c:importvisualstrap theme="paper" id="paper"/>
  <c:visualstrapblock id="vsb">
  
    <!-- Search Errors Modal -->
    <div id="searchErrorsModal" class="modal" role="dialog">
    <div class="modal-dialog" style="margin: 10% auto;">
      <!--  Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Search Rx Errors</h4>
        </div>
        <div class="modal-body">
          <div class="row" id="messageRow" style="display:none">
            <div class="alert alert-danger" style="text-align:center;width: 90%; margin-left: auto; margin-right: auto;">
              <span id="message"></span>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label>Client</label>
                <div class="outputInfo">
                  <apex:selectList size="1" styleclass="form-control" style="height: 37px;" id="rxTransSearchUW" value="{!uw}" onchange="$('#rxTransSearchUW').val($(this).val());$('#rxTransSearchGrp').val('')" >
                    <apex:selectOptions value="{!client}"/>
                  </apex:selectList>
                  <input type="hidden" id="rxTransSearchUW" value="{!uw}" />
                </div>
              </div>
            </div>  
            <div class="col-xs-4">
              <div class="form-group">
                <label>Group</label>
                <div class="outputInfo">
                  <input type="text" value="{!grp}" class="form-control" id="rxTransSearchGrp" style="height: 37px;"/>
                </div>
              </div>
            </div> 
            <div class="col-xs-4">
              <div class="form-group">
                <label>Essn</label>
                <div class="outputInfo">
                  <input type="text" value="{!essn}" class="form-control" id="rxTransSearchEssn" style="height: 37px;"/>
                </div>  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label>From</label>
                <div class="outputInfo">
                  <input type="text" class="form-control datepicker" id="rxFrom"/>
                </div>
              </div>
            </div>  
            <div class="col-xs-4">
              <div class="form-group">
                <label>To</label>
                <div class="outputInfo">
                  <input type="text" class="form-control datepicker" id="rxTo" />
                </div>
              </div>
            </div>  
            <div class="col-xs-4">
              <div class="form-group">
                <label>Search Family</label>
                <div ><!--class="outputInfo" style="padding-bottom:19px"-->
                  <input type="checkbox" id="rxSearchFamily"/>
                </div>
              </div>
            </div>  
          </div>   
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group" style="text-align:center">
                <apex:commandbutton value="Search" reRender="" oncomplete="" onclick="searchAMS.verifySearchRX()"/>
                
              </div>
            </div>        
          </div>
        </div>
      </div>    
    </div> 
    </div> 
    
    <apex:actionfunction name="searchRx" action="{!rxSearch}" reRender="errorsResultsModal" oncomplete="searchAMS.searchRxComplete();" >  
      <apex:param assignTo="{!rxFrom}" name="rxFrom" value=""/>
      <apex:param assignTo="{!rxTo}" name="rxTo" value=""/>
      <apex:param assignTo="{!grp}" name="rxGroup" value=""/>
      <apex:param assignTo="{!uw}" name="rxUw" value=""/>
      <apex:param assignTo="{!eSSN}" name="rxEssn" value=""/>
      <apex:param assignTo="{!seq}" name="rxSeq" value=""/>
    </apex:actionfunction>

    <!-- End Search Errors Modal -->
    
    <!-- Errors Results Modal -->
  <apex:outputpanel id="errorsResultsModal">
    <div id="errorsResultsModal" class="modal" role="dialog">
    <div class="modal-dialog" style="margin: 10% auto;width:90%">
      <!--  Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Rx Errors</h4>
        </div>
        <div class="modal-body" style="overflow-x: scroll;">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label>From</label>
                <div class="outputInfo">
                  <apex:outputpanel rendered="{!rxFrom!=''}">
                    <apex:outputText value="{!mid(rxFrom, 5,2)}"/>/<apex:outputText value="{!right(rxFrom,2)}"/>/<apex:outputText value="{!Left(rxFrom, 4)}"/>
                  </apex:outputpanel>
                  <apex:outputpanel rendered="{!rxFrom==''}">
                    {!rxFrom}
                  </apex:outputpanel>
                </div>
              </div>
            </div>  
            <div class="col-xs-4">
              <div class="form-group">
                <label>To</label>
                <div class="outputInfo">
                  <apex:outputpanel rendered="{!rxTo!=''}">
                  
                    <apex:outputText value="{!mid(rxTo, 5,2)}"/>/<apex:outputText value="{!right(rxTo,2)}"/>/<apex:outputText value="{!Left(rxTo, 4)}"/>
                  </apex:outputpanel>
                  <apex:outputpanel rendered="{!rxTo==''}">
                    {!rxTo}
                  </apex:outputpanel>
                </div>
              </div>
            </div> 
            <div class="col-xs-4">
              <div class="form-group">
                <label>Search Family</label>
                <div >
                  <input type="checkbox" checked="" id="searchFamilyResults"/>
                </div>  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label>Total Deductible</label>
                <div class="outputInfo">
                  $<apex:outputtext value="{!totalDed}"/>
                </div>  
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label>Total Out Of Pocket</label>
                <div class="outputInfo">
                  $<apex:outputtext value="{!totalOOP}"/>
                </div>  
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label>&nbsp;</label>
                <div class="outputInfo">
                  <apex:commandlink action="{!excelDownload}" target="_blank" immediate="true" value="Download" rerender="" />  <!--rerender="" target="blank"-->
                </div>  
              </div>
            </div>
          </div>
          <div class="row">
            <apex:outputPanel rendered="{!RxErrors!=null}">
              <div class="col-xs-12">
                <div style="text-align:center">
                  <h4>{!pgrxErrorList.listSize} Records</h4>
                </div>
                <img id="expandDetails" src="{!$Resource.Plus_image}" onclick="$('#expandDetails').hide();$('#collapseDetails').show();$('#transDetails').show();" style="display:none;cursor:pointer"/>
                <img id="collapseDetails" src="{!$Resource.Minus_image}" onclick="$('#collapseDetails').hide();$('#expandDetails').show();$('#transDetails').hide();" style="cursor:pointer" />
              </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!RxErrors==null}">
              <div class="col-xs-12" style="text-align:center">
                <h4>No results returned</h4><br/><br/>
                <span style="cursor:pointer" onclick="$('#errorsResultsModal').modal('hide');$('#searchErrorsModal').modal('show');">New Search</span>
              </div>
            </apex:outputPanel>
          </div>
          <apex:outputpanel id="rxErrorsOp">
          <div class="row" id="transDetails" >
          <apex:outputPanel rendered="{!RxErrors!=null}">
            <apex:dataTable value="{!rxErrors}"  var="rx" styleClass="table table-striped" style="margin-top: 10px;width: 95%;  margin-left: auto;  margin-right: auto;" id="rxTransResultTable">
              <apex:column headerValue="TransType" headerClass="rxColumnHeader" id="Transtype__c">
                <apex:outputtext value="{!rx.Transtype__c}" />    
              </apex:column>
              <apex:column headerValue="DOS" headerClass="rxColumnHeader" id="DOS__c">
                  <apex:outputText value="{!Left(rx.Dos__c, 4)}"/>-<apex:outputText value="{!mid(rx.Dos__c, 5,2)}"/>-<apex:outputText value="{!right(rx.Dos__c,2)}"/>
              </apex:column>
              <apex:column headerValue="Transaction Date" headerClass="rxColumnHeader" id="Transdate__c">
                  <apex:outputText value="{!Left(rx.Transdate__c, 4)}"/>-<apex:outputText value="{!mid(rx.Transdate__c, 5,2)}"/>-<apex:outputText value="{!right(rx.Transdate__c,2)}"/>
              </apex:column>
              <apex:column headerValue="Client" >
                <apex:outputtext value="{!rx.Underwriter__c}" />    
              </apex:column>
              <apex:column headerValue="Group" >
                <apex:outputtext value="{!rx.Grpnbr__c}" />    
              </apex:column>
              <apex:column headerValue="Essn" >
                <apex:outputtext value="{!rx.Essn__c}" />  
              </apex:column>
              <apex:column headerValue="Sequence" headerClass="rxColumnHeader" id="Patseq__c">
                <apex:outputtext value="{!rx.Patseq__c}" />    
              </apex:column>
              <apex:column headerValue="Deductible Amount" headerClass="rxColumnHeader" id="Dedamount__c">
                <apex:outputtext value="${!rx.Dedamount__c}" />    
              </apex:column>
              <apex:column headerValue="OOP Amount" headerClass="rxColumnHeader" id="Oopamount__c">
                <apex:outputtext value="${!rx.Oopamount__c}" />    
              </apex:column>
              <apex:column headerValue="Claim Number" headerClass="rxColumnHeader" id="ClaimNbr__c">
                <apex:outputText value="{!rx.ClaimNbr__c}"/>
              </apex:column>
              <apex:column headerValue="Error Message" headerClass="rxColumnHeader" id="ErrMsg__c">
                <apex:outputText value="{!rx.ErrMsg__c}"/>
              </apex:column>
              <apex:column headerValue="File Name" headerClass="rxColumnHeader" id="Filename__c">
                <apex:outputText value="{!rx.Filename__c}"/>
              </apex:column>
            </apex:dataTable>
            <script>
              $(document).ready(function(){
                 if('{!fieldName}' != '' ){
                 
                     $('.rxColumnHeader').each(function(){
                         if(this.id.indexOf('{!fieldName}')>-1){
                             $(this).addClass('rxColumnHeaderActive');
                             
                             if('{!sortDir}' == '1'){
                                 $(this).children().append("<span class='glyphicon glyphicon-arrow-down'></span>");
                             }else if('{!sortDir}' == '0'){
                                 $(this).children().append("<span class='glyphicon glyphicon-arrow-up'></span>");
                             }
                             
                             return false;
                         }
                     });
                 
                 }
                 
                 $('.rxColumnHeader').click(function(){
                     
                     var fn = this.id.split(':').pop();
                     fn= fn.substring(0, fn.indexOf('__c')).concat('__c');
                     
                     $('#rxSearchActionPrevent').addClass('modal-backdrop in');
                     $('#rxSearchActionPrevent').show();
                     
                     sortRX(fn);
                     
                     $('.rxColumnHeader').removeClass('rxColumnHeaderActive');
                     $(this).addClass('rxColumnHeaderActive');
                     
                     
                 })
              
              });
              
            </script>
              <apex:actionFunction name="sortRX" action="{!sortByFieldVF}" oncomplete="$('#rxSearchActionPrevent').removeClass('modal-backdrop in');$('#rxSearchActionPrevent').hide();" reRender="rxErrorsOp">
                <apex:param name="rxFieldSort" value=""/>
              </apex:actionFunction>
            </apex:outputpanel>
            
            <apex:outputpanel rendered="{!RxErrors != null && pgrxErrorList.listSize>4}">
                <style>
                
                #navigation{
                    text-align: center;
                    padding:0.5em
                }
            
                #navigation > ul{
                
                    text-align: center;
                    display: inline-block;
                    position: relative;
            
                }    
                
                #navigation > ul > li{
                    margin-left: 0;
                    display: inline-block;
                }
                
                .visualstrap .pagination{
                    margin: 0;
                }
                </style>
                
                <div style="text-align:center;padding:0.5em" id="navigation">
                  <ul class="pagination pagination-sm">
                    <li>
                      <apex:commandLink action="{!pgrxErrorList.setPageVF}" reRender="rxErrorsOp" oncomplete="" rendered="{!pgrxErrorList.hasPrevious}" value="Previous" styleClass="actionLink">
                        <apex:param value="{!pgrxErrorList.page-1}" name="pageNum"/>
                      </apex:commandLink>
                    </li>
                    
                    <apex:repeat value="{!pgrxErrorList.NumOfPages}" var="i">
                        
                      <li>
                      <apex:commandLink action="{!pgrxErrorList.setPageVF}" rendered="{!pgrxErrorList.Page==i}" reRender="rxErrorsOp" oncomplete="" value="{!i}" styleClass="actionLink" style="color:white;background-color: #1797c0;">
                        <apex:param value="{!i}" name="pageNum"/>
                      </apex:commandLink>
                      </li>
                      
                      <li>
                      <apex:commandLink action="{!pgrxErrorList.setPageVF}" rendered="{!pgrxErrorList.Page!=i}" reRender="rxErrorsOp" oncomplete="$(this).parent().addClass('active')" value="{!i}" styleClass="actionLink" >
                        <apex:param value="{!i}" name="pageNum"/>
                      </apex:commandLink>
                      </li>
                    </apex:repeat>
                    
                    <li>
                    <apex:commandLink action="{!pgrxErrorList.setPageVF}" reRender="rxErrorsOp" oncomplete="" rendered="{!pgrxErrorList.hasNext && !pgrxErrorList.seeAll}" value="Next" styleClass="actionLink">
                     <apex:param value="{!pgrxErrorList.page+1}" name="pageNum"/>
                    </apex:commandLink>
                    </li>
                    
                    <li>
                    <apex:commandLink action="{!pgrxErrorList.seeAll}" reRender="rxErrorsOp" oncomplete="" rendered="{! !pgrxErrorList.seeAll && pgrxErrorList.NumOfPages.size>1}" value="See All" styleClass="actionLink"/>
                    </li>
                    <li>
                    <apex:commandLink action="{!pgrxErrorList.seeLess}" reRender="rxErrorsOp" oncomplete="" rendered="{!pgrxErrorList.seeAll && pgrxErrorList.NumOfPages.size>1}" value="See Less" styleClass="actionLink"/>
                    
                    </li>
                    </ul>
                    
                    <div style="float:right;    margin-right: 25px;">
                      <apex:SelectList id="notesPerPage" size="1" value="{!pgrxErrorList.notesPerPage}" onchange="notesPerPage(this.value)" style="padding: 7px; padding-right: 15px;">
                        <apex:selectOption itemValue="10" itemLabel="10"/>
                        <apex:selectOption itemValue="15" itemLabel="15"/>
                        <apex:selectOption itemValue="20" itemLabel="20"/>
                      </apex:SelectList>
                      <apex:actionFunction name="notesPerPage" action="{!pgrxErrorList.setpageSizeVF}" reRender="rxErrorsOp" oncomplete="">
                        <apex:param value="" name="pageSize"/>
                      </apex:actionFunction>
                   </div>
                </div>
              </apex:outputpanel>
            </div>      
          </apex:outputpanel>
        </div>
      </div>    
    </div>
    
    </div> 
  </apex:outputpanel>   
  <!-- End Errors Results Modal -->    
  
  <div id="rxSearchActionPrevent" style="z-index: 1500;text-align: center;display:none">
      <img src="{!$Resource.HccLoading}" style="margin-top: 15%;"/>
    </div> 
  
  </c:visualstrapblock>
  <apex:includeScript value="{!$Resource.rxSearchjs}"/>
  <script>
      var clientRxTo = '{!clientRxTo}';
      var clientRxFrom = '{!clientRxFrom}';
  </script>
</apex:component>