<apex:page standardController="Customer_Care_Inquiry__c" showheader="false" sidebar="false" extensions="cciRedirectExt" action="{!fwdUser}">
<!---->
  <apex:form >
    <apex:inputHidden value="{!Customer_Care_Inquiry__c.Customer_Care__c}" />
    <apex:inputHidden value="{!Customer_Care_Inquiry__c.id}"/>
  </apex:form>
  
</apex:page>