<apex:page sidebar="true" standardController="Direct_Billing_Member__c" extensions="directBillingMemberVFcontroller" title="DB - {!member.Employee_Name__c}" id="p" tabStyle="Direct_Billing_Member__c" docType="html-5.0"> 
  
  <script>if(location.href.match(/inline=1/)) window.top.location=location.href.replace(/inline=1/, '');</script>
  <style>
   
   .visualstrap select, .visualstrap select.form-control{
     font-size: 13px;
   }
   
   
   .visualstrap .form-control{
    height: 30px;
   }
   
   #medicalCallout .outputInfo{
     background-color: #d8d8d8; 
   }
   
   
   #medicalCallout .outputText{
     padding-top: 10px;
   }
   
   #medicalCallout .form-control{
    font-size: 12px;
    color: #000;
   }
   
   .btnDisabled{
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    
   }
   
   .buttonWrapper{
     margin-top: 1em;
   
   }
   
   .outputInfo .outputText{
       padding-top: 10px;   
   }
   
   .outputInfo{
       padding-left: 5px;
       font-size: 12px;
       //box-shadow: inset 0 -1px 0 #dddddd;
       overflow-x: hidden;
       height: 30px;
       box-shadow: inset 0 -2px 0 #ccc;
    
   }
   
   .visualstrap [type=text].form-control{
       font-size: 13px;
       
   }
   
   .navbar-static-top{
       z-index:0 !important;    
   }
   
   .navbar, .navbar-inverse{
    background-color: #1797c0 !important;
   }
   
   .visualstrap .page-header {
       margin-bottom: 10px !important;
       margin-top: 0px !important;
   }
  
   .modal-header{
    background-color: #1797c0;
   }
   
   .form-control-date{
    width:50% !important;
    display:inline-block !important;
    //margin-top: 5px !important;
   }
   
   #saveConfirm{
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 5px;
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        background-color: #1797c0;
    }
    
    .modal-title{color:white !important}
    
    .invoiceRow, .workTaskRow{
        cursor: pointer;    
    }
    
    .visualstrap .navbar-default .navbar-nav > li > a{
    color: white;
   }
    
   .visualstrap .nav > li > a {
     padding-left: 5px;padding-right: 5px;
   }
   
   .visualstrap select{
    padding-right: 20px;
   }
   
   .visualstrap select, .visualstrap select.form-control{
      height: 30px;
      box-shadow: inset 0 -2px 0 #ccc;
    }
    
    .visualstrap textarea, .visualstrap textarea.form-control, .visualstrap [type=text].form-control{
      box-shadow: inset 0 -2px 0 #ccc;
    }
    
    .visualstrap .form-control{
      box-shadow: inset 0 -2px 0 #ccc;
    }
    
    .form-group > label{
        font-size: 12px;
       font-weight: bold;
    }
    
    .visualstrap .label {
       color: #bbb;
       padding: 0;
       font-size: 13px;
    
    }
    
    .visualstrap .label-default {
     background-color: transparent; 
    }
    
    .visualstrap .navbar {
        min-height: 0;
    }
    
    .visualstrap .navbar-nav > li > a{
        padding-top: 10.5px;
        padding-bottom: 10.5px;

    }

    .visualstrap .navbar-brand {
        padding: 10.5px 15px;
        height: auto; 
    }
    
    .visualstrap .well {
            background-color: #fff;
    }
    
    .visualstrap textarea, .visualstrap textarea.form-control {
        height: 100px;
    }
    /*
    .form-layout-control{
        position: absolute;
        right: 20px;
        cursor: pointer;
        top: 5px;
        width: 19px;
    }
    
    .form-layout-control-expanded{
        background-image: url('{!$Resource.Minus_image}');
        
    }

    .form-layout-control-collapsed{
        background-image: url('{!$Resource.Plus_image}');
    }
    */
    
    .activePill{
        cursor: default;
        background-color: #fff; 
        padding: 1em;
        border: 1px solid #ccc;
        border-bottom: 1px solid #fff;
    }
    
    .activePill label{
        color: #0a6ebd;
        font-size:13px;
        padding:0;
        margin:0;
        
    }
    
    
    .inactivePill label{
        cursor: pointer;
        font-size:13px;
        color: #222;
        padding:0;
        margin:0;
    }
    
    .dateFormat a{
        color: #333435;
    }
    
  </style>
  <script>
    function setFocus() { }
    
  </script>
  <c:importvisualstrap theme="paper" id="paper"/>
  
  <apex:form id="f" style="display:none">
  <c:visualstrapblock id="vsb">
  
                            <!--++++++++++++++++++++++++++++ Member Section ++++++++++++++++++++++++++++-->
    
    <apex:outputpanel id="pageMessages">
      <apex:pageMessages />
    </apex:outputpanel>
  
    <div style="text-align:center" class="buttonWrapper">
          <apex:commandButton value="SAVE" action="{!saveMember}" styleClass="actionButton" rerender="pageMessages,jsPanel" oncomplete="saveMember();hdpJSfunctions.buttonComplete(this.id,'Save');" onclick="this.value='Saving...';this.disabled=true"/>&nbsp;
          &nbsp;
          <apex:commandButton value="CANCEL" rerender="" oncomplete="hdpJSfunctions.doneWaiting()" styleClass="actionButton" rendered="true" onclick="window.open('/apex/dbmembertab','_self');"/>
        </div>
    <div class="row" style="margin-top:1em;margin-left:0;margin-right:0" >
    <apex:outputpanel id="memberOP">
    <div class="col-xs-12 col-sm-9 leftCell" style="padding-bottom:1em;float:left;border-right: 2px solid #dddddd;" >
        <div class="col-xs-12 col-sm-6"> 
          <div class="form-group">
            <label>Member Number</label>
            <div class="outputInfo">
              <div class="outputText">
                <apex:outputfield value="{!member.name}" rendered="{!member.id!=null}" styleclass="form-control"/>
                <apex:outputtext value="N/A" rendered="{!member.id==null}"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Employee Name</label>
            <div class="outputInfo">
              <div class="outputText">
                <apex:outputfield value="{!member.Employee_Name__c}" styleclass="form-control" />
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label>Address 1</label>
            <div class="outputInfo">
              <apex:inputfield value="{!member.Address_1__c}" styleclass="form-control" />
            </div>
          </div>
          
          <div class="form-group">
            <label>Address 2</label>
            <div class="outputInfo">
              <apex:inputfield value="{!member.Address_2__c}" styleclass="form-control" />
            </div>
          </div>
          <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label>City</label>
              <div class="outputInfo">
                <apex:inputfield value="{!member.City__c}" styleclass="form-control" />
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>State</label>
              <div class="outputInfo">
                <apex:inputfield value="{!member.State__c}" styleclass="form-control" />
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Zip</label>
              <div class="outputInfo">
                <apex:inputfield value="{!member.Zip_Code__c}" styleclass="form-control" />
              </div>
            </div>
          </div>
          </div>
          
        </div>
        
        <div class="col-xs-12 col-sm-6"> 
          <div class="form-group">
            <label>Created By</label>
            <div class="outputInfo">
              <div class="outputText">
                <apex:outputfield value="{!member.createdby.name}" rendered="{!member.id!=null}" styleclass="form-control"/>
                <apex:outputtext value="N/A" rendered="{!member.id==null}"/>
              </div>
            </div>
          </div>   
          
          <div class="form-group">
            <label>EE SSN</label>
            <div class="outputInfo">
              <div class="outputText">
                <apex:outputfield value="{!member.EE_SSN__c}" styleclass="form-control" />
              </div>
            </div>
          </div> 
          
          <div class="form-group">
            <label>Department Code</label>
            <div class="outputInfo">
             <apex:outputPanel rendered="{!member.Department_Code__c==null}">
               <apex:inputfield value="{!member.Department_Code__c}" styleclass="form-control" />
             </apex:outputPanel>
             
             <apex:outputPanel rendered="{!member.Department_Code__c!=null}">
               <div class="outputText">
                 <apex:outputfield value="{!member.Department_Code__c}" styleclass="form-control" />
               </div>
             </apex:outputPanel>
            </div>
          </div> 
          <div class="form-group">
            <label>Comments</label>
            <apex:inputtextarea value="{!member.Comments__c}" styleclass="form-control" style="height:95px;font-size: 13px"/>
          </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-3 rightCell">
    <apex:outputpanel id="balanceInfo">
      <div class="well">
        <div class="form">
          <div class="col-xs-12"> 
            <div class="form-group">
              <label>Current Balance</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Current_Balance__c}" rendered="{!leave.id!=null}" />
                  <apex:outputtext value="N/A" rendered="{!leave.id==null}"/>  
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Outstanding Balance</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputtext value="${!leave.Outstanding_Balance__c}" rendered="{!leave.id !=null && leave.Outstanding_Balance__c!=null}" />
                  <apex:outputtext value="$0.00" rendered="{!leave.id!=null && leave.Outstanding_Balance__c==null}"/>
                  <apex:outputtext value="N/A" rendered="{!leave.id==null }"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </apex:outputpanel>    
    </div>
    
    </apex:outputpanel>
    
    <!--++++++++++++++++++++++++++++ End of Member Section ++++++++++++++++++++++++++++-->
    
    
    </div>
    <div class="row" style="border-top: 2px solid #dddddd;margin-left:0;margin-right:0"/>
    
    <!--++++++++++++++++++++++++++++ Leave Section ++++++++++++++++++++++++++++-->
    
    <div style="margin-top: 1em;margin-bottom:3em" >
    <div class="col-xs-12">
    <span id="leaveListWrapper" >
      <div style="text-align:center" class="buttonWrapper">
        <apex:commandButton value="New Leave" rerender="NotesAndInvoiceOp,leaveFormOp,balanceInfo,jsListeners" action="{!loadLeaveVF}" styleClass="actionButton" oncomplete="hdpJSfunctions.buttonComplete(this.id,'New Leave');hdpJSfunctions.slider('p:f:vsb:vsbComponent:leaveSaveBtn');hdpJSfunctions.doneWaiting()" />
        <span class="label label-default" style="position: absolute;left:30px" >
          Leaves
        </span> 
      </div>
    
    <apex:actionFunction name="loadLeaveAF" action="{!loadLeaveVF}" reRender="NotesAndInvoiceOp,leaveFormOp,balanceInfo,jsListners" oncomplete="hdpJSfunctions.hideLeaveList();hdpJSfunctions.doneWaiting();hdpJSfunctions.slider('p:f:vsb:vsbComponent:leaveSaveBtn');hdpJSfunctions.onload()">
      <apex:param name="leaveId" value="" />
    </apex:actionFunction>
    
    <apex:actionFunction name="payFrequencyChangeAF" action="{!setPayScheduleVF}" reRender="leaveStartDate,leaveForm" oncomplete="hdpJSfunctions.closeAP()">
      <apex:param name="payType" value="" />
    </apex:actionFunction>
    
    <apex:outputpanel id="leaveList">
       <apex:outputpanel rendered="{!leaveList != null && leaveList.size>0}">
            <div class="col-xs-12">
            <apex:dataTable value="{!leaveList}" var="l" styleClass="table table-striped" style="margin-top: 10px;">
              <apex:column headerValue="Action" >
                <apex:outputLink value="#" onclick="hdpJSfunctions.waiting();loadLeaveAF('{!l.id}')" >Edit</apex:outputLink>
                <apex:outputPanel rendered="{!$ObjectType.Direct_Billing_Leave__c.deletable}">
                <span style="padding-left: 2px;padding-right: 4px">|</span>
                  <apex:commandLink value="Delete" onclick="if(confirm('Are you sure?')){deleteLeave('{!l.id}')}" reRender="" oncomplete=""/>                 
                </apex:outputPanel>
              </apex:column>
              <apex:column value="{!l.name}" headerValue="Number" styleClass="workTaskRow" html-rowID="{!l.id}"/>
              <apex:column value="{!l.Start_Date__c}" headerValue="Start Date" styleClass="workTaskRow" html-rowID="{!l.id}"/>
              <apex:column value="{!l.End_Date__c}" headerValue="End Date" styleClass="workTaskRow" html-rowID="{!l.id}"/>
              <apex:column value="{!l.Reason__c}" headerValue="Reason" styleClass="workTaskRow" html-rowID="{!l.id}"/>
              <apex:column headerValue="Created By" styleClass="workTaskRow">
                <apex:outputfield value="{!l.createdby.Name}"/>&nbsp;
                <apex:outputfield value="{!l.createdDate}"/>
              </apex:column>    
              
            </apex:dataTable>
            </div>
          </apex:outputpanel>
          
     </apex:outputpanel>
     <apex:actionfunction name="deleteLeave" action="{!deleteLeaveVF}" reRender="leaveList,leaveFormOp,NotesAndInvoiceOp" oncomplete="">
       <apex:param value="" name="leaveId" />
     </apex:actionfunction>   
    </span>
    </div>
    </div> 
    <apex:outputpanel id="leaveFormOp">
    <apex:outputpanel rendered="{!leave != null}" >
    
    <div class="row" style="margin-left:0;margin-right:0" >
      <div class="col-xs-12" style="padding-top:1em;padding-bottom:1em;" >
        <apex:outputpanel id="leaveErrorMessage">
        <apex:pageMessages escape="false"/>
        </apex:outputpanel>
        
        <div style="text-align:center" class="buttonWrapper">
          <apex:commandButton value="SAVE" id="leaveSaveBtn" styleClass="actionButton" rendered="{!leave.DB_Member__c!=null}" rerender="leaveRecordId,leaveFormOp,NotesAndInvoiceOp,leaveErrorMessage,leaveList,leaveNoteFormOp,leaveNoteListOp,jsListners" oncomplete="hdpJSfunctions.buttonComplete(this.id, 'Save');" action="{!saveLeave}" onclick="this.value='Saving...';hdpJSfunctions.waiting();this.disabled=true"/>
          &nbsp;
          <apex:commandButton value="CANCEL" onclick="this.disabled=true;hdpJSfunctions.waiting();" styleClass="actionButton" rendered="{!leave.DB_Member__c!=null}" rerender="leaveFormOp,NotesAndInvoiceOp,jsListners,balanceInfo" oncomplete="hdpJSfunctions.doneWaiting();hdpJSfunctions.showLeaveList();hdpJSfunctions.onload();hdpJSfunctions.buttonComplete(this.id, 'Cancel');" action="{!cancelLeave}" />
        </div>
        
        <div class="row" style="margin-top:2em">
          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label>Leave ID</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputPanel id="leaveRecordId">
                    <apex:outputtext value="{!leave.name}" rendered="{!leave.id!=null}"/>
                    <apex:outputtext value="N/A" rendered="{!leave.id==null}"/>
                  </apex:outputPanel>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label>Leave Reason</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leave.Reason__c}" styleclass="form-control"/>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label>Pay Frequency</label>
              <div class="outputInfo">
                <apex:outputPanel rendered="{!leaveInvoiceList==null || leaveInvoiceList.size==0}">
                  <apex:inputfield value="{!leave.Pay_Frequency__c}" styleclass="form-control" onchange="document.getElementById('actionPrevent').className = 'modal-backdrop in';payFrequencyChangeAF(this.value);"/>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!leaveInvoiceList!=null && leaveInvoiceList.size>0}">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Pay_Frequency__c}" styleclass="form-control"/>      
                  </div>
                </apex:outputPanel>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
             <div class="form-group">
              <label>Leave Start Date</label>
              <div class="outputInfo">
                <apex:outputPanel id="leaveStartDate">
                  <apex:outputPanel rendered="{!leaveInvoiceList==null || leaveInvoiceList.size==0}">
                  <apex:selectList size="1" value="{!startDate}" styleclass="form-control" onchange="refreshDbRates(this.value)" style="padding-left:2px;font-size: 14px;">
                    <apex:selectOptions value="{!payEnd}"/>
                  </apex:selectList> 
                  </apex:outputPanel>
                  <apex:outputPanel rendered="{!leaveInvoiceList!=null && leaveInvoiceList.size>0}">
                    <div class="outputText">
                      <apex:outputfield value="{!leave.Start_Date__c}"/>
                    </div>  
                  </apex:outputPanel>
                </apex:outputPanel>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
             <div class="form-group">
              <label>Leave End Date</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leave.End_Date__c}" styleclass="form-control form-control-date"/>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
              <label>Premiums Total</label>
              <div class="outputInfo">
                <div class="outputText">
                  $<apex:outputfield value="{!leave.Premiums_Total__c}" styleclass="form-control"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <apex:actionFunction name="refreshDbRates" action="{!refreshDbRates}" reRender="medicalElection,medicalTier,medicalParmaElection,medicalParmaTier,dentalElection,dentalTier,VisionElection,personalAccidentElection,spouseLifeElection,dependentLifeElection,ltdElection,lifeADDelection,fsaElection,criticalIllnessElection,identityTheftElection,identityTheftTier,identityTheftPremium,legalPlanElection,legalPlanTier,legalPlanPremium,indemnityPlanElection,indemnityPlanTier,indemnityPlanPremium" oncomplete="">
          <apex:param name="startDate" value=""/>
        </apex:actionFunction>
        
        <div id="leaveFormExpandCollapse" onclick="hdpJSfunctions.toggleLeaveForm()" style="background-image: url('{!$Resource.Minus_image}');background-repeat: no-repeat;margin-left: -20px; margin-top: -10px; cursor: pointer;width: 30px">
          &nbsp;
        </div>
        
        <apex:outputpanel id="leaveForm" >

        <apex:outputpanel rendered="{!leaveInvoiceList.size==null || leaveInvoiceList.size==0}">
        <apex:outputpanel rendered="{!leave.Pay_Frequency__c=='Monthly'}">
        <div class="row" style="padding-top:2em;background-color: #e5e5e5;border:1px solid #ccc;margin-bottom: 3em;" id="electionsWrapper">
          <div class="row medicalParmaElections" style="margin-right:0;margin-left:0;"> 
            <div class="col-xs-12 col-sm-4">    
            <div class="form-group">
              <label>Medical - Parma Elections</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Medical_Parma_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('medicalParma')" id="medicalParmaElection">
                  <apex:selectOptions value="{!medicalParmaElections}"/>
                </apex:selectList>
              </div>
            </div>
            </div>
            
            <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Medical - Parma Tiers</label>
              <div class="outputInfo">
                <!--apex:outputfield value="{!leave.Medical_Parma_Tier__c}" styleclass="form-control"/-->
                <apex:selectList size="1" value="{!leave.Medical_Parma_Tier__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('medicalParma')" id="medicalParmaTier">
                  <apex:selectOptions value="{!medicalParmaTiers}"/>
                </apex:selectList>
              </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Medical - Parma Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Medical_Parma_Premium__c}" styleclass="form-control" id="medicalParmaPremium"/>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        </apex:outputpanel>
        <apex:outputpanel rendered="{!leave.Pay_Frequency__c!='Monthly'}">
        <span id="medicalCallout">
        <div class="row" style="padding-top:2em;background-color: #e5e5e5;border:1px solid #ccc;margin-bottom: 3em;" id="electionsWrapper">
          <div class="row" style="margin-right:0;margin-left:0">
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Medical Election</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Medical_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('medical')" id="medicalElection" style="padding-left: 2px;">
                  <apex:selectOptions value="{!medicalElections}" />
                </apex:selectList>  
              </div>
            </div>
            
            <div class="form-group">
              <label>Medical Tier</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Medical_Tier__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('medical')" id="medicalTier">
                  <apex:selectOptions value="{!medicalTiers}"/>
                </apex:selectList>
              </div>
            </div>
            
            <div class="form-group">
              <label>Medical Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Medical_Premium__c}" styleclass="form-control" id="medicalPremium"/>
                </div> 
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Dental Election </label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Dental_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('dental')" id="dentalElection">
                  <apex:selectOptions value="{!dentalElections}"/>
                </apex:selectList>
              </div>
            </div>
            <div class="form-group">
              <label>Dental Tier</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Dental_Tier__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('dental')" id="dentalTier">
                  <apex:selectOptions value="{!dentalTiers}"/>
                </apex:selectList>
              </div>
            </div>
            <div class="form-group">
              <label>Dental Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Dental_Premium__c}" styleclass="form-control" id="dentalPremium"/>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Vision Tier</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Vision_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.singleTierChange('Vision')" id="VisionElection">
                  <apex:selectOptions value="{!visionElection}"/>
                </apex:selectList>
              </div>
            </div>
            <div class="form-group">
              <label>Vision Premium </label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Vision_Premium__c}" styleclass="form-control" id="visionPremium"/> 
                </div>
              </div>
            </div>
          </div>
          </div>
          
          <div class="row medicalElections" style="border-top: 2px solid #dddddd;margin-left:15px;margin-right:15px;padding-bottom: 1em;"/>
          
          <div class="row" style="margin-right:0;margin-left:0">
          <div class="col-xs-12 col-sm-4 medicalElections">  
            <div class="form-group">
              <label>Personal Accident Election</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Personal_Accident_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.singleTierChange('personalAccident')" id="personalAccidentElection">
                  <apex:selectOptions value="{!personalAccidentElections}"/>
                </apex:selectList>
              </div>
            </div>
            <div class="form-group">
              <label>Personal Accident Amount Per Pay</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Personal_Accident_Amount_Per_Pay__c}" styleclass="form-control" id="personalAccidentPremium"/>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-4 medicalElections">  
              <div class="form-group">
                <label>Spouse Life</label>
                <div class="outputInfo">
                  <apex:selectList size="1" value="{!leave.Spouse_Life_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.singleTierChange('spouseLife')" id="spouseLifeElection">
                    <apex:selectOptions value="{!spouseLifeElections}"/>
                  </apex:selectList>
                </div>
              </div>
              <div class="form-group">
                <label>Spouse Life Amount Per Pay</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Spouse_Life_Premium__c}" styleclass="form-control" id="slPremium"/>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 medicalElections">  
              <div class="form-group">
                <label>Dependent Life</label>
                <div class="outputInfo">
                  <apex:selectList size="1" value="{!leave.Dependent_Life_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.singleTierChange('dependentLife')" id="dependentLifeElection">
                    <apex:selectOptions value="{!DependentLifeElections}"/>
                  </apex:selectList>
                </div>
              </div>
              <div class="form-group">
                <label>Dependent Life Amount Per Pay</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Dependent_Life_Premium__c}" styleclass="form-control" id="dlPremium"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row medicalElections" style="border-top: 2px solid #dddddd;margin-left:15px;margin-right:15px;padding-bottom: 1em;"/>
          
<!--4-15-20 start-->
          <div class="row" style="margin-right:0;margin-left:0">
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Identity Theft Election</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Identity_Theft_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('identityTheft')" id="identityTheftElection" style="padding-left: 2px;">
                  <apex:selectOptions value="{!identityTheftElections}" />
                </apex:selectList>  
              </div>
            </div>
            
            <div class="form-group">
              <label>Identity Theft Tier</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Identity_Theft_Tier__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('identityTheft')" id="identityTheftTier">
                  <apex:selectOptions value="{!identityTheftTiers}"/>
                </apex:selectList>
              </div>
            </div>
            
            <div class="form-group">
              <label>Identity Theft Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Identity_Theft_Premium__c}" styleclass="form-control" id="identityTheftPremium"/>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Legal Plan Election</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Legal_Plan_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('legalPlan')" id="legalPlanElection" style="padding-left: 2px;">
                  <apex:selectOptions value="{!legalPlanElections}" />
                </apex:selectList>  
              </div>
            </div>
            <div class="form-group">
              <label>Legal Plan Tier</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Legal_Plan_Tier__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('legalPlan')" id="legalPlanTier">
                  <apex:selectOptions value="{!legalPlanTiers}"/>
                </apex:selectList>
              </div>
            </div>
            <div class="form-group">
              <label>Legal Plan Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Legal_Plan_Premium__c}" styleclass="form-control" id="legalPlanPremium"/>
                </div> 
              </div>
            </div>
          </div> 
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label> Indemnity Plan Election</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Indemnity_Plan_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('indemnityPlan')" id="indemnityPlanElection" style="padding-left: 2px;">
                  <apex:selectOptions value="{!indemnityPlanElections}" />
                </apex:selectList>  
              </div>
            </div>
            
            <div class="form-group">
              <label>Indemnity Plan Tier</label>
              <div class="outputInfo">
                <apex:selectList size="1" value="{!leave.Indemnity_Plan_Tier__c}" styleclass="form-control" onchange="hdpJSfunctions.rateDropDownChange('indemnityPlan')" id="indemnityPlanTier">
                  <apex:selectOptions value="{!indemnityPlanTiers}"/>
                </apex:selectList>
              </div>
            </div>
            
            <div class="form-group">
              <label>Indemnity Plan Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Indemnity_Plan_Premium__c}" styleclass="form-control" id="indemnityPlanPremium"/>
                </div> 
              </div>
            </div>
          </div>
        </div>      
<!--4-15-20 end--> 
        <div class="row medicalElections" style="border-top: 2px solid #dddddd;margin-left:15px;margin-right:15px;padding-bottom: 1em;"/>
        <div class="row" style="margin-right:0;margin-left:0">
            <div class="col-xs-12 col-sm-3 medicalElections">  
              <div class="form-group">
                <label>Critical Illness Election</label>
                <div class="outputInfo">
                  <apex:inputfield value="{!leave.Critical_Illness_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.manualWaive(this.value, 'criticalIllness')"/>
                </div>
              </div>
              <div class="form-group">
                <label>Critical Illness Amount Per Pay</label>
                <div class="outputInfo">
                  <apex:inputfield value="{!leave.Critical_Illness_Amount_Per_Pay__c}" id="criticalIllnessPremium" styleclass="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 medicalElections">  
            <div class="form-group">
              <label>FSA Election</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leave.FSA_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.manualWaive(this.value, 'fsa')"/>
              </div>
            </div>
            <div class="form-group">
              <label>FSA Amount Per Pay</label>
              <div class="outputInfo">
                  <apex:inputfield value="{!leave.FSA_Premium__c}" id="fsaPremium" styleclass="form-control"/>
              </div>
            </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 medicalElections">  
              <div class="form-group">
                <label>Long Term Disability Election</label>
                <div class="outputInfo">
                  <apex:inputfield value="{!leave.Long_Term_Disability_Election__c}" styleclass="form-control" onchange="hdpJSfunctions.manualWaive(this.value, 'ltd')"/>
                </div>
              </div>
              <div class="form-group">
                <label>Long Term Disability Amount Per Pay</label>
                <div class="outputInfo">
                  <apex:inputfield value="{!leave.Long_Term_Disability_Premium__c}" styleclass="form-control" id="ltdPremium"/>
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 medicalElections">  
              <div class="form-group">
                <label>Life and AD&amp;D Election</label>
                <div class="outputInfo">
                  <apex:inputfield value="{!leave.Life_and_AD_D_Election__c }" styleclass="form-control" onchange="hdpJSfunctions.manualWaive(this.value, 'lifeADD')"/>
                </div>
              </div>
              <div class="form-group">
                <label>Life and AD&amp;D Amount Per Pay</label>
                <div class="outputInfo">
                  <apex:inputfield value="{!leave.Life_and_AD_D_Premium__c }" styleclass="form-control" id="lifeADDPremium" />
                </div>
              </div>
            </div>
          </div>

        </div>
        </span>
        </apex:outputpanel>
        </apex:outputpanel>
        
        
        <apex:outputpanel rendered="{!leaveInvoiceList!=null && leaveInvoiceList.size>0}">
        <apex:outputpanel rendered="{!leave.Pay_Frequency__c=='Monthly'}">
        <div class="row medicalParmaElections" style="margin-right:0;margin-left:0;padding-top: 2em;background-color: #e5e5e5;"> 
            <div class="col-xs-12 col-sm-4">    
            <div class="form-group">
              <label>Medical - Parma Elections</label>
              <div class="outputInfo">
                <div class="outputText">  
                  <apex:outputfield value="{!leave.Medical_Parma_Election__c}" styleclass="form-control" />
                </div>
              </div>
            </div>
            </div>
            
            <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Medical - Parma Tiers</label>
              <div class="outputInfo">
                <div class="outputText">  
                  <apex:outputfield value="{!leave.Medical_Parma_Tier__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-4">
            <div class="form-group">
              <label>Medical - Parma Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Medical_Parma_Premium__c}" styleclass="form-control" />
                </div>
              </div>
            </div>
            </div>
          </div>
        </apex:outputpanel>
        <apex:outputpanel rendered="{!leave.Pay_Frequency__c!='Monthly'}">
        <div class="row" style="padding-top:2em;padding-top: 2em;background-color: #e5e5e5;border:1px solid #ccc">
          <div class="row" style="margin-right:0;margin-left:0">
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Medical</label>
              <div class="outputInfo">
                <div class="outputText">    
                  <apex:outputfield value="{!leave.Medical_Election__c}" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Medical Tier</label>
              <div class="outputInfo">
                <div class="outputText">  
                  <apex:outputfield value="{!leave.Medical_Tier__c}" styleclass="form-control" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Medical Premium</label>
              <div class="outputInfo">
                <div class="outputText">  
                  <apex:outputfield value="{!leave.Medical_Premium__c}" styleclass="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Dental Election </label>
              <div class="outputInfo">
                <div class="outputText">  
                  <apex:outputfield value="{!leave.Dental_Election__c}" styleclass="form-control"  /> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Dental Tier</label>
              <div class="outputInfo">
                <div class="outputText">  
                  <apex:outputfield value="{!leave.Dental_Tier__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Dental Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Dental_Premium__c}" styleclass="form-control"/>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Vision Election</label>
              <div class="outputInfo">
                <div class="outputText">  
                  <apex:outputfield value="{!leave.Vision_Election__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Vision Premium </label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Vision_Premium__c}" styleclass="form-control"/>
                </div>
              </div>
            </div>
          </div>
          </div>
          
          <div class="row medicalElections" style="border-top: 2px solid #dddddd;margin-left:15px;margin-right:15px;padding-bottom: 1em;"/>
          
          <div class="row" style="margin-right:0;margin-left:0">
          <div class="col-xs-12 col-sm-4 medicalElections">  
            <div class="form-group">
              <label>Personal Accident Election</label>
              <div class="outputInfo">
                <div class="outputText">  
                  <apex:outputfield value="{!leave.Personal_Accident_Election__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Personal Accident Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Personal_Accident_Amount_Per_Pay__c}" styleclass="form-control"/>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-4 medicalElections">  
              <div class="form-group">
                <label>Spouse Life</label>
                <div class="outputInfo">
                  <div class="outputText">  
                    <apex:outputfield value="{!leave.Spouse_Life_Election__c}" styleclass="form-control"  />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Spouse Life Premium</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Spouse_Life_Premium__c}" styleclass="form-control"/>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 medicalElections">  
              <div class="form-group">
                <label>Dependent Life</label>
                <div class="outputInfo">
                  <div class="outputText">  
                    <apex:outputfield value="{!leave.Dependent_Life_Election__c}" styleclass="form-control" /> 
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Dependent Life Premium</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Dependent_Life_Premium__c}" styleclass="form-control"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
<!--4-15-20 start-->
<apex:outputpanel >  <!--leave.Identity_Theft_Election__c==''-->
<div class="row medicalElections" style="border-top: 2px solid #dddddd;margin-left:15px;margin-right:15px;padding-bottom: 1em;"/>
          <div class="row" style="margin-right:0;margin-left:0">
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Identity Theft Election</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Identity_Theft_Election__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label>Identity Theft Tier</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Identity_Theft_Tier__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label>Identity Theft Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Identity_Theft_Premium__c}" styleclass="form-control"/>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label>Legal Plan Election</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Legal_Plan_Election__c}" styleclass="form-control" /> 
                </div>  
              </div>
            </div>
            <div class="form-group">
              <label>Legal Plan Tier</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Legal_Plan_Tier__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Legal Plan Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Legal_Plan_Premium__c}" styleclass="form-control" />
                </div> 
              </div>
            </div>
          </div> 
          <div class="col-xs-12 col-sm-4 medicalElections">
            <div class="form-group">
              <label> Indemnity Plan Election</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Indemnity_Plan_Election__c}" styleclass="form-control" /> 
                </div>  
              </div>
            </div>
            
            <div class="form-group">
              <label>Indemnity Plan Tier</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Indemnity_Plan_Tier__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label>Indemnity Plan Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.Indemnity_Plan_Premium__c}" styleclass="form-control" />
                </div> 
              </div>
            </div>
          </div>
        </div> 
</apex:outputpanel>             
<!--4-15-20 end--> 
        <div class="row medicalElections" style="border-top: 2px solid #dddddd;margin-left:15px;margin-right:15px;padding-bottom: 1em;"/>
        <div class="row" style="margin-right:0;margin-left:0">
            <div class="col-xs-12 col-sm-3 medicalElections">  
              <div class="form-group">
                <label>Critical Illness Election</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Critical_Illness_Election__c}" styleclass="form-control" /> 
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Critical Illness Premium</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Critical_Illness_Amount_Per_Pay__c}" styleclass="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 medicalElections"> 
            <div class="form-group">
              <label>FSA Election</label>
              <div class="outputInfo">
                <div class="outputText">
                    <apex:outputfield value="{!leave.FSA_Election__c}" styleclass="form-control" /> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>FSA Premium</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leave.FSA_Premium__c}" styleclass="form-control"/>
                </div>  
              </div>
            </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 medicalElections">  
              <div class="form-group">
                <label>Long Term Disability Election</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Long_Term_Disability_Election__c}" styleclass="form-control" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Long Term Disability Premium</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Long_Term_Disability_Premium__c}" styleclass="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-sm-3 medicalElections">  
              <div class="form-group">
                <label>Life and AD&amp;D Election</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Life_and_AD_D_Election__c}" styleclass="form-control" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Life and AD&amp;D Premium</label>
                <div class="outputInfo">
                  <div class="outputText">
                    <apex:outputfield value="{!leave.Life_and_AD_D_Premium__c}" styleclass="form-control"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </apex:outputpanel>
        </apex:outputpanel>
       </apex:outputpanel>
      </div>
    </div>  
     
    </apex:outputpanel>
    </apex:outputpanel>
    <!--++++++++++++++++++++++++++++ End of Leave Section ++++++++++++++++++++++++++++-->
    
    <apex:outputpanel id="lowerPageMessages" onclick="this.style.display='none'">
      <apex:pageMessages />
    </apex:outputpanel>
    
    <apex:outputpanel id="NotesAndInvoiceOp">
    <apex:outputpanel rendered="{!leave.id!=null}">
    
    <!--++++++++++++++++++++++++++++ Note/Invoice Navigation ++++++++++++++++++++++++++++-->
    
    <div style="margin-bottom: 1em;margin-top: 1em;text-align:center">
    <span class="form-group activePill" id="notesPill" style="padding-left:1em" onclick="pillAction.notes()">
      <label>Notes&nbsp;
        <apex:outputpanel styleclass="badge" id="noteCount">
          {!leaveNoteList.size}
        </apex:outputpanel>
      </label>
    </span>
    
    <span class="form-group inactivePill" id="invoicesPill" onclick="pillAction.invoices()" style="margin-left: 1em;">
      <label>Invoices&nbsp;
      <apex:outputpanel styleclass="badge" id="invoiceCount">
        {!leaveInvoiceList.size}
      </apex:outputpanel>
      </label>
    </span>
    
    </div>
    <div class="row" style="border-top: 2px solid #dddddd;margin-left:0;margin-right:0;margin-top:-5px;"/>
    <br/>
    
    <!--++++++++++++++++++++++++++++ Notes and Invoices ++++++++++++++++++++++++++++-->
    
    <!--++++++++++++++++++++++++++++ Invoices ++++++++++++++++++++++++++++-->
    
    <div id="invoiceAttachmentWrapper" style="display:none">
      
      <apex:outputpanel id="invoiceOp">
        <div class="col-xs-12" style="padding-top:1em;padding-bottom:1em;float:left;" >
        
        <div style="text-align:center;padding-bottom: 20px;" class="buttonWrapper">
           <span class="label label-default " style="position: absolute;left:30px">
              Invoices
            </span>
          <apex:commandButton value="Check for Invoices" action="{!runInvoices}" onclick="hdpJSfunctions.waiting()" rendered="{!leave != null && leaveInvoice ==null}" rerender="invoiceOp,leaveFormOp,leaveForm,invoiceCount,balanceInfo,lowerPageMessages" oncomplete="hdpJSfunctions.doneWaiting()" disabled="{!leave.id == ''}" styleclass="btn" style="margin-right:3em"/>
          <apex:commandButton value="Run Termination Letter" action="{!runTerminationLetter}"   onclick="hdpJSfunctions.waiting()" rendered="{!leave != null}" rerender="invoiceOp,leaveFormOp,leaveForm,invoiceCount,balanceInfo,lowerPageMessages" oncomplete="hdpJSfunctions.doneWaiting()" disabled="{!leave.id == ''}" styleclass="btn" style="margin-right:3em"/>
          <apex:outputPanel rendered="{!leave != null && leaveInvoice ==null}"> 
          <div style="display:inline-block;vertical-align:bottom">
          <div class="form-group" style="margin-bottom:0px">
            <label>Run invoices through date</label>
            <div class="outputInfo">    
              <apex:inputfield value="{!leave.End_Invoice_Override__c}" styleclass="form-control form-control-date"/>
            </div>
          </div>
          </div>
          </apex:outputPanel>
        </div>
        
        <apex:outputpanel rendered="{!leaveInvoice != null}">
        <div class="row" style="margin-top:2em">
        
        <div class="col-xs-12 col-sm-9" style="border-right: 1px solid #ccc;">
        <div style="text-align:center;margin-top:0;padding-bottom: 20px;" class="buttonWrapper">
          
          
          <apex:commandButton value="Save" action="{!saveLeaveInvoice}" onclick="hdpJSfunctions.waiting()" rendered="{!leaveInvoice != null}" rerender="lowerPageMessages,invoiceOp,invoiceList,balanceInfo" oncomplete="hdpJSfunctions.doneWaiting()" />
          &nbsp;
          <apex:commandButton value="Cancel" action="{!cancelLeaveInvoice}" rendered="{!leaveInvoice != null}" rerender="invoiceOp" oncomplete="hdpJSfunctions.doneWaiting()" />
        </div>
        
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Invoice Number</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputtext value="{!leaveInvoice.name}" rendered="{!leaveInvoice.id!=null}"/>
                  <apex:outputtext value="N/A" rendered="{!leaveInvoice.id==null}"/>
                </div>
              </div>
            </div>
          <div class="row"> 
          <div class="col-xs-12 col-sm-3">  
            <div class="form-group">
              <label>Invoice Date</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leaveInvoice.Invoice_Date__c}" styleclass="form-control form-control-date"/>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-5">  
            <div class="form-group">
              <label>Invoice Due Date</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leaveInvoice.Due_Date__c}" styleclass="form-control form-control-date"/>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">  
            <div class="form-group">
              <label>Days since Due</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leaveInvoice.Days_since_Due__c}" styleclass="form-control form-control-date"/>
                </div>
              </div>
            </div>
          </div>
          </div>
            <div class="form-group">
              <label>Invoice for Leave Month</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leaveInvoice.Invoice_Month__c}" styleclass="form-control form-control-date"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Invoice Amount</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leaveInvoice.Invoice_Amount__c}" styleclass="form-control"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Pay Dates on Invoice</label>
              <div class="outputInfo" style="height:90px">
                <div class="outputText">
                  <apex:outputfield value="{!leaveInvoice.Pay_Dates_included__c}" styleclass="form-control"/>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Check Number</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leaveInvoice.Check_Number__c}" styleclass="form-control"/>
              </div>
            </div>          
            <div class="form-group">
              <label>Payment Received</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leaveInvoice.Payment_Received_Date__c}" styleclass="form-control form-control-date"/>
              </div>
            </div>
            <div class="form-group">
              <label>Payment Amount</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leaveInvoice.Payment_Amount__c}" styleclass="form-control"/>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>2nd Check Number</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leaveInvoice.Check_Number_2__c}" styleclass="form-control"/>
              </div>
            </div>          
            <div class="form-group">
              <label>2nd Payment Received</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leaveInvoice.Payment_Received_Date_2__c}" styleclass="form-control form-control-date"/>
              </div>
            </div>
            <div class="form-group">
              <label>2nd Payment Amount</label>
              <div class="outputInfo">
                <apex:inputfield value="{!leaveInvoice.Payment_Amount_2__c}" styleclass="form-control"/>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label>Balance Due</label>
              <div class="outputInfo">
                <div class="outputText">
                  <apex:outputfield value="{!leaveInvoice.Balance_Due__c}" styleclass="form-control"/>
                </div>
              </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div id="invoiceAttachmentWrapper">
            <apex:outputpanel rendered="{!invoiceAttachments == null || invoiceAttachments.size==0}">
              <div class="col-xs-12">
                <div class="well">
                  <div class="form-group">
                    <label>&nbsp;&nbsp;No invoice attachments found</label>
                  </div>
                </div>
              </div>
            </apex:outputpanel>

            <apex:outputpanel rendered="{!invoiceAttachments != null || invoiceAttachments.size>0}">
              <apex:dataTable value="{!invoiceAttachments}" var="a" styleClass="table table-striped" style="margin-top: 10px;">
                <apex:column headerValue="Attachments" styleClass="invoiceRow" >
                 <apex:outputPanel rendered="{!a.attachmentID__c==null}">
                   <a href="#" onclick="hdpJSfunctions.openAttachment('{!a.fileName__c}'); return false;" html-id="{!a.id}">{!a.name}</a>
                 </apex:outputPanel>
                 <apex:outputPanel rendered="{!a.attachmentID__c!=null}">
                   <a href="#" onclick="hdpJSfunctions.openSF_Attachment('{!a.attachmentID__c}'); return false;" html-id="{!a.id}">{!a.name}</a>
                 </apex:outputPanel>
                </apex:column>
              </apex:dataTable>
            </apex:outputpanel>
          </div>
        
        </div>
        </div>
        </apex:outputpanel>
        
        <apex:actionFunction name="loadLeaveInvoiceVF" action="{!loadLeaveInvoiceVF}" reRender="invoiceOp,jsListeners" oncomplete="hdpJSfunctions.doneWaiting();">
          <apex:param value="" name="leaveInvoiceId" />
        </apex:actionFunction>
        
        <apex:outputpanel id="invoiceList" rendered="{!leave.id!=''}">
              <apex:outputpanel rendered="{!leaveInvoiceList != null && leaveInvoiceList.size>0}">
                <div class="col-xs-12">
                  <apex:dataTable value="{!leaveInvoiceList}" var="l" styleClass="table table-striped" style="margin-top: 10px;">
                    <apex:column headerValue="Action" >
                      <apex:commandLink value="Edit" action="{!loadLeaveInvoiceVF}" onclick="hdpJSfunctions.waiting();" reRender="invoiceOp,balanceInfo" oncomplete="hdpJSfunctions.doneWaiting();">                 
                        <apex:param value="{!l.id}" name="leaveInvoiceId" />
                      </apex:commandLink>
                    </apex:column>
                    <apex:column value="{!l.Name}" headerValue="Invoice Number" styleClass="invoiceRow" html-rowID="{!l.id}"/>
                    <apex:column value="{!l.Check_Number__c}" headerValue="Check Number" styleClass="invoiceRow" html-rowID="{!l.id}"/>
                    <apex:column value="{!l.Invoice_Date__c}" headerValue="Invoice Date" styleClass="invoiceRow" html-rowID="{!l.id}"/>
                    <apex:column value="{!l.Invoice_Month__c}" headerValue="Invoice For Month" styleClass="invoiceRow" html-rowID="{!l.id}"/>
                    <apex:column value="{!l.Invoice_Amount__c}" headerValue="Invoice Amount" styleClass="invoiceRow" html-rowID="{!l.id}"/>
                    <apex:column value="{!l.Balance_Due__c}" headerValue="Balance Due" styleClass="invoiceRow" html-rowID="{!l.id}"/>
                    <apex:column headerValue="Created By" styleClass="invoiceRow">
                        <apex:outputfield value="{!l.createdby.Name}"/>&nbsp;
                        <apex:outputfield value="{!l.createdDate}"/>
                    </apex:column>    
                  </apex:dataTable>
                </div>
              </apex:outputpanel>
              <apex:outputpanel rendered="{!leaveInvoiceList == null || leaveInvoiceList.size==0}">
                <div class="col-xs-12">
                  <div class="well">
                    <div class="form-group">
                      <label>&nbsp;&nbsp;No leave invoices</label>
                    </div>
                  </div>
                </div>
              </apex:outputpanel>
        </apex:outputpanel>
      </div>
    </apex:outputpanel>
   
    </div>
    
    <!--++++++++++++++++++++++++++++ Notes ++++++++++++++++++++++++++++-->
    
    <div id="leaveNotesWrapper" >  
      <div class="col-xs-12 col-sm-12 leftCell" style="padding-top:1em;padding-bottom:1em;" >
        <apex:outputpanel id="leaveNoteFormOp" >
          <div style="text-align:center" class="buttonWrapper">
            <span class="label label-default " style="position: absolute;left:30px">
              Notes
            </span>
            <apex:commandButton value="Add Note" styleClass="actionButton" rendered="{!leaveNote==null}" rerender="leaveNoteFormOp,noteCount" oncomplete="document.getElementById('p:f:vsb:vsbComponent:leaveNoteInput').focus()" disabled="{!leave.id == ''}" action="{!newLeaveNote}" styleclass="btn" style="margin-bottom: 1em;"/>
            &nbsp;
            <apex:commandButton value="SAVE" styleClass="actionButton" rendered="{!leaveNote != null}" rerender="leaveNoteFormOp,lowerPageMessages,leaveNoteListOp,noteCount" oncomplete="" action="{!saveLeaveNote}" styleclass="btn" onclick="this.value='Saving...';this.disabled=true"/>
            &nbsp;
            <apex:commandButton value="CANCEL" styleClass="actionButton" rendered="{!leaveNote != null}" rerender="leaveNoteFormOp" oncomplete="" action="{!cancelLeaveNote}" styleclass="btn"/>
          </div>
          <apex:outputpanel rendered="{!leaveNote != null}">
            <div class="row" style="margin-top:2em">
              <div class="col-xs-12">
                <div class="form-group">
                  <label>Note</label>
                  <apex:inputtextarea value="{!leaveNote.Note__c}" styleclass="form-control" id="leaveNoteInput"/>
                </div>
              </div>
            </div>
          </apex:outputpanel>
        </apex:outputpanel>
        
        <apex:outputpanel id="leaveNoteListOp">
          <div class="row">
            <apex:outputpanel id="leaveNoteList" rendered="{!leave.id!=''}">
              <apex:outputpanel rendered="{!leaveNoteList != null && leaveNoteList.size>0}">
                <div class="col-xs-12">
                  <apex:dataTable value="{!leaveNoteList}" var="l" styleClass="table table-striped" style="margin-top: 10px;" columnsWidth="80%,20%">
                    <apex:column value="{!l.Note__c}" headerValue="Note" html-rowID="{!l.id}"/>
                    <apex:column headerValue="Created By" >
                        <apex:outputfield value="{!l.createdby.Name}"/>&nbsp;
                        <apex:outputfield value="{!l.createdDate}"/>
                    </apex:column>    
                  </apex:dataTable>
                </div>
              </apex:outputpanel>
              <apex:outputpanel rendered="{!leaveNoteList == null || leaveNoteList.size==0}">
                <div class="col-xs-12">
                  <div class="well">
                    <div class="form-group">
                      <label>&nbsp;&nbsp;No leave notes</label>
                    </div>
                  </div>
                </div>
              </apex:outputpanel>
            </apex:outputpanel>
          </div>
        </apex:outputpanel>
      </div>
    </div>
    </apex:outputpanel>
    </apex:outputpanel>
    
  </c:visualstrapblock>
  
  <apex:outputpanel id="jsPanel">
  
    <script type="text/javascript">
      function saveMember(){
        
        if('{!member.id}'==''){
            location.href = '/apex/dbmember?id={!member.id}';       
        }
        return;
      }
    </script>
  </apex:outputpanel>
  
  <apex:actionfunction name="ratesChange" action="{!rateChange}" rerender="medicalPremium,medicalTier,medicalParmaPremium,medicalParmaTier,dentalPremium,dentalTier,visionPremium,personalAccidentPremium,slPremium,dlPremium,criticalIllnessPremium,fsaPremium,lifeADDPremium,identityTheftElection,identityTheftTier,identityTheftPremium,legalPlanElection,legalPlanTier,legalPlanPremium,indemnityPlanElection,indemnityPlanTier,indemnityPlanPremium" oncomplete="">
    <apex:param value="" name="planRecordType"/>
    <apex:param value="" name="planName"/>
    <apex:param value="" name="planTier"/>
  </apex:actionfunction>
  
  </apex:form>
  
  <div id="actionPrevent"/>
  
  <script type="text/javascript">
    
    document.getElementById('p:f').style.display = 'block';
    var hdpJSfunctions = {};
    
    
    hdpJSfunctions.closeAP = function(){var d = document.getElementById("actionPrevent");d.className = "";}
    
    hdpJSfunctions.hideLeaveList = function(){
        document.getElementById('leaveListWrapper').style.display='none';
    }
    
    hdpJSfunctions.showLeaveList = function(){
        document.getElementById('leaveListWrapper').style.display='block';
    }
    
    hdpJSfunctions.manualWaive = function(val, type){
        if(val=='Waive'){
            document.getElementById('p:f:vsb:vsbComponent:'+ type+ 'Premium').value="0.00";
        }
    }
    
    hdpJSfunctions.singleTierChange = function(type){
        ratesChange(type,type,document.getElementById('p:f:vsb:vsbComponent:'+type+'Election').value);
    }
    
    hdpJSfunctions.rateDropDownChange = function(type){
    
        ratesChange(type,document.getElementById('p:f:vsb:vsbComponent:'+ type +'Election').value,document.getElementById('p:f:vsb:vsbComponent:'+ type +'Tier').value);
    }
    
    hdpJSfunctions.slider = function(elId){
        var rect = document.getElementById(elId).getBoundingClientRect();
        window.scrollTo(rect.top, rect.left)
    }
    
    hdpJSfunctions.popUpBlocked = function(){
         try {
            var windowObjectReference = window.open('/servlet/servlet.FileDownload?file=00PQ0000007ROng&oid={!$Organization.Id}', '_blank','height=1;width=1'); 
            windowObjectReference.focus();   
            //windowObjectReference.close();
            console.log('false');
            return false;
            
        }  catch (e) {
            console.log('true');
            alert("Pop-up Blocker is enabled! Please add this site to your exception list.");
            return true;
        }
        
    }
    
    hdpJSfunctions.openAttachment = function(fileName){
        console.log(fileName);
        try {
            var windowObjectReference = window.open('/apex/displayUssscorpion?recordName='+fileName, '_blank'); 
            //return false;
            
        }  catch (e) {
            console.log('true');
            alert("Pop-up Blocker is enabled! Please add this site to your exception list.");
            //return true;
        }
        
        
        
    }
    hdpJSfunctions.openSF_Attachment = function(fileId){
        console.log(fileId);
        try {
            var windowObjectReference = window.open('/servlet/servlet.FileDownload?file='+fileId, '_blank'); 
            //return false;
            
        }  catch (e) {
            console.log('true');
            alert("Pop-up Blocker is enabled! Please add this site to your exception list.");
            //return true;
        }
        
        
        
    }    
    var pillAction = {};
      
      pillAction.notes = function(){
        document.getElementById('invoicesPill').className = 'form-group inactivePill';
        document.getElementById('notesPill').className = 'form-group activePill';
        document.getElementById('invoiceAttachmentWrapper').style.display = 'none';
        document.getElementById('leaveNotesWrapper').style.display = 'block';
        
      }
      
      pillAction.invoices = function(){
        document.getElementById('invoicesPill').className = 'form-group activePill';
        document.getElementById('notesPill').className = 'form-group inactivePill';
        document.getElementById('leaveNotesWrapper').style.display = 'none';
        document.getElementById('invoiceAttachmentWrapper').style.display = 'block';
        
      }
      
  </script>
  
  <apex:outputPanel id="jsListeners">
  <script>
    hdpJSfunctions.buttonComplete = function(elID, elVal){
        el = document.getElementById(elID);
        el.disabled=false;
        el.value =elVal;
        hdpJSfunctions.doneWaiting();
    }
    
    hdpJSfunctions.toggleLeaveForm = function(){
        
        if(document.getElementById('p:f:vsb:vsbComponent:leaveForm').style.display=='none'){
            document.getElementById('p:f:vsb:vsbComponent:leaveForm').style.display='block';
            document.getElementById('leaveFormExpandCollapse').style.backgroundImage = "url('{!$Resource.Minus_image}')";
            
        }else{
            document.getElementById('p:f:vsb:vsbComponent:leaveForm').style.display='none';
            document.getElementById('leaveFormExpandCollapse').style.backgroundImage = "url('{!$Resource.Plus_image}')";
            
            
        }
    
    }
     
    hdpJSfunctions.onload = function(){
        
        var workTaskRow = document.getElementsByClassName('workTaskRow');
        for(var i=0; i<workTaskRow.length; i++){
            rowid = workTaskRow[i].getAttribute('rowid');
            if(rowid!=null){
                workTaskRow[i].addEventListener('click', function(){document.getElementById("actionPrevent").className = "modal-backdrop in";loadLeaveAF(this.getAttribute('rowid'))}, false);
            }
        }
        
        var buttons = document.getElementsByClassName('actionButton');
        for(var i=0; i<buttons.length; i++){
            buttons[i].addEventListener('click', function(){document.getElementById("actionPrevent").className = "modal-backdrop in";}, false);
        }
        
        var invoiceRows = document.getElementsByClassName('invoiceRow');
        for(var i=0; i<invoiceRows.length; i++){
            rowid = invoiceRows[i].getAttribute('rowid');
            if(rowid!=null){
                invoiceRows[i].addEventListener('click', function(){document.getElementById("actionPrevent").className = "modal-backdrop in";loadLeaveInvoiceVF(this.getAttribute('rowid'))}, false);
            }
        }
        
        
    }
    
    hdpJSfunctions.waiting= function(){
        document.getElementById('actionPrevent').className = 'modal-backdrop in'; 
          
    }
      
    hdpJSfunctions.doneWaiting= function(){
        document.getElementById('actionPrevent').className = '';    
    }
     
    hdpJSfunctions.onload();
      
  </script>    
  </apex:outputPanel>
  <script>
  
    window.onload = function(){
      $('#sidebarCell').click(function(){
          if($('#sidebarCell').hasClass('sidebarCollapsed')){
              $('#sidebarCell').removeClass('sidebarCollapsed');
          }else{
              $('#sidebarCell').addClass('sidebarCollapsed');
          }
      });
      $('#sidebarCell').addClass('sidebarCollapsed');
      hdpJSfunctions.onload();
    }
  </script> 
</apex:page>