<apex:page controller="lifestartController" tabStyle="Lifestart__c" id="p" docType="html-5.0" title="{!title}">
  
  <style>
    .bPageBlock .detailList .labelCol {
      width: 32%;
    }
    
    .collapseL, .collapseR{
        display:none;
        cursor:pointer;
    }
    
    .expandL, .expandR{
        cursor:pointer;
    }
    
    textarea{
        width: 258px;
        height:69px;
    }
    
    .rich-tabpanel-content{
        background-color: transparent;
        font-size: 12px;
    }
    
    .activeTab{
        background-color: #5e82a3; 
        color:white; 
        background-image:none;
        padding:9px;
        font-size: 12px;

    }
    
    .inactiveTab { 
        background-color: transparent; 
        color:black; 
        background-image:none;
        padding:9px;
        font-size: 12px;
        cursor: pointer;

    }
    
    .dateTable{
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .dateTable td{
        width: 30%;
    }
    
    .dateTable .label{
        text-align: right;
        font-size: 91%;
        color:#4a4a56;
        font-weight:bold;
          width: 20%;
    }
    
    .headerRow{
        cursor: pointer;
    }
   
  </style>
  <script type="text/javascript">
   var j$ = jQuery.noConflict();
   function setFocusOnLoad() {}
   j$('#sidebarCell').addClass('sidebarCollapsed');
  </script>
    
  <apex:form id="f" style="display:none">
  <div class="bPageTitle">
  <div class="ptBody" >
    <div class="content" style="width:auto;text-align:left;display:inline-block">
      <img src="{!$Resource.lifestartIcon}" alt="Lifestart" class="pageTitleIcon" title="Lifestart" style="width:50px"/>
        
        <h1 class="pageType" style="margin-left:60px;font-size:.97em">
          <apex:outputPanel id="headerOP">
          <apex:outputPanel rendered="{!ls.id!=''}">
            <div style="padding-bottom:1px">Client - {!ls.Client__c}</div>
            <div style="padding-bottom:1px">Gravida - {!ls.Gravida__c}</div>
            <div style="padding-bottom:1px">Para  - {!ls.Para__c}</div>
            <div style="padding-bottom:1px">Estimated Delivery Date -&nbsp;<apex:outputfield value=" {!ls.Estimated_Delivery_Date__c}"/></div>
            <div style="padding-bottom:1px">Risk for Complication - {!RiskforComplication}</div>
          </apex:outputPanel> 
          <apex:outputPanel rendered="{!ls.id==''}">
          
            <div style="margin-right: 10em"/>
          </apex:outputPanel> 
          </apex:outputPanel> 
        </h1>
          
        <div class="blank">&nbsp;</div>
    </div>
  <div>
  
  </div>
  </div>
  </div>
  
  <div style="text-align:center; margin-top: -5em;">
    <apex:outputPanel id="headerOPa">
    <apex:outputPanel rendered="{!ls.id==null}" >
      <h2 class="pageDescription" style="font-weight: normal;font-size: 1.8em;line-height: 1.1em;">
          New Lifestart
      </h2>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!ls.id!=null}">
      <h2 class="pageDescription" style="font-weight: normal;font-size: 1.8em;line-height: 1.1em;">
        {!title}<br/>
      </h2>
      <span style="font-size:14px"><apex:outputField value="{!ls.Gestational_Age__c}" rendered="{!ls.Gestational_Age__c!=null}"/><apex:outputField value="{!ls.Est_Gestational_Age__c}" rendered="{!ls.Gestational_Age__c==null}"/></span>
    </apex:outputPanel>
    </apex:outputPanel>
  </div><br/>
  
    <apex:outputPanel id="pageErrorMessage" >
      <script>
        function saveFunc(){
          if({!saveError}==false){
            j$('.confirmM3').delay(1000).fadeOut(400);
          } 
        }    
      </script>
      <div style="margin-top:1em"/>
    <apex:pageMessages id="pageMessages"/>
    
     
    </apex:outputPanel>
  
  <!-- buttons -->
  <apex:pageBlock mode="maindetail" id="pageBlockMainBtn">
    <div style="text-align:center">
      <apex:commandButton value="Save" action="{!QuickSave}" accesskey="v" rerender="headerOP,headerOPa,pageBlockMain,theTabPanel,managementDetailspgb,pageBlockMainBtn,pageErrorMessage" onclick="this.disabled=true;this.value='Saving...'" oncomplete="this.disabled=false;saveFunc()"/>
      <apex:commandButton value="Cancel" onclick="window.open('/apex/lifeStartTab','_self')" reRender="" oncomplete=""/>
      <div style="display:inline-block;margin-left:2em"/>
      <apex:commandButton value="Complete Intake Assessment" action="{!completeIA}" onclick="this.disabled=true" reRender="theTabPanel" oncomplete="" rendered="{! !ls.Initial_Assesment_Complete__c && ls.id!=null}"/>
    </div>
  </apex:pageBlock>  
     
  <apex:tabPanel switchType="client" selectedTab="managementDetails" id="theTabPanel" tabClass="activeTab" inactiveTabClass="inactiveTab">
  
  <apex:tab label="Management Details" name="managementDetails" id="managementDetails" rendered="{!ls.id!=''}">
  <apex:pageBlock mode="maindetail" title="Management Details" id="managementDetailspgb">
    
    <apex:pageBlockSection title="" columns="2" collapsible="false" id="mgdPBS">
        <apex:pageBlockSection columns="1">
          <apex:pageblockSectionItem >
            <apex:outputLabel value="Patient Name"/>
            <apex:outputtext value="{!ls.Patient_First_Name__c} {!ls.Patient_Last_Name__c}"/>
          </apex:pageblockSectionItem>
          <apex:pageblockSectionItem >
            <apex:outputLabel value="Patient DOB"/>
            {!month(dob)}/{!day(dob)}/{!year(dob)} 
          </apex:pageblockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1">
          <apex:inputField value="{!ls.Status__c}" html-hideValue="Pended" html-shortID="status" styleClass="hideShow"/>
          <apex:inputField value="{!ls.Status_Reason__c}"/>
          <apex:pageblocksectionitem >
            <apex:outputLabel value="Pend Reason" styleClass="status"/>
            <apex:inputfield value="{!ls.Pend_Reason__c}" styleClass="status"/>
          </apex:pageblocksectionitem>
        </apex:pageBlockSection>
    </apex:pageBlockSection>
    <apex:pageBlockSection title="Mailings" columns="1" collapsible="false" id="mailingsPBS">
    </apex:pageBlockSection>  
      <table class="dateTable">
        <th/>
        <th style="font-size: 91%;color:#4a4a56;font-weight:bold;">Date Requested</th>
        <th style="font-size: 91%;color:#4a4a56;font-weight:bold;">Date Sent</th>
        <tr>
          <td class="label">
            <div style="padding-right: 3em;">
              Enrollment w/o Mayo 
            </div>
          </td>
          <td><apex:inputField value="{!ls.Enrollment_wo_Mayo_Requested__c}"/></td>
          <td><apex:inputField value="{!ls.Enrollment_wo_Mayo_Sent__c}"/></td>
        </tr>
        <tr>
          <td class="label">
            <div style="padding-right: 3em;">
              Enrollment with Mayo Book 
            </div>
          </td>
          <td><apex:inputField value="{!ls.Enrollment_with_Mayo_Book_Requested__c}"/></td>
          <td><apex:inputField value="{!ls.Enrollment_with_Mayo_Book_Sent__c}"/></td>
        </tr>
        <tr>
          <td class="label">
            <div style="padding-right: 3em;">
              Provider 
            </div>
          </td>
          <td><apex:inputField value="{!ls.Provider_Date_Requested__c}"/></td>
          <td><apex:inputField value="{!ls.Provider_Date_Sent__c}"/></td>
        </tr>
        <tr>
          <td class="label">
            <div style="padding-right: 3em;">
              Invitation Unable to Reach 
            </div>
          </td>
          <td><apex:inputField value="{!ls.Invitation_Unable_to_Reach_Requested__c}"/></td>
          <td><apex:inputField value="{!ls.Invitation_Unable_to_Reach_Sent__c}"/></td>
        </tr>
        <tr>
          <td class="label">
            <div style="padding-right: 3em;">
              Unable to Reach after Enrolled 
            </div>
          </td>
          <td><apex:inputField value="{!ls.Unable_to_Reach_after_Enrolled_Requested__c}"/></td>
          <td><apex:inputField value="{!ls.Unable_to_Reach_after_Enrolled_Sent__c}"/></td>
        </tr>
        <tr>
          <td class="label">
            <div style="padding-right: 3em;">
              Closed Delivered 
            </div>
          </td>
          <td><apex:inputField value="{!ls.Closed_Delivered_Requested__c}"/></td>
          <td><apex:inputField value="{!ls.Closed_Delivered_Sent__c}"/></td>
        </tr>
      </table>
      <apex:pageBlockSection title="Summary" columns="2" collapsible="false" id="SummaryPBS">
        <apex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem >
          <apex:outputlabel value="Medical History Summary"/>
          <apex:outputpanel >
            <apex:repeat value="{!medicalHistorySummary}" var="mhs">
              {!mhs}<br/>
            </apex:repeat>
          </apex:outputpanel>
        </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem >
          <apex:outputlabel value="Pregnancy Complications"/>
          <apex:outputpanel >
            <apex:repeat value="{!preganacyProfileSummary}" var="mhs">
              {!mhs}<br/>
            </apex:repeat>
          </apex:outputpanel>
        </apex:pageBlockSectionItem>  
        </apex:pageBlockSection>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection showHeader="false" columns="2" collapsible="false" >
          <apex:pageBlockSection columns="1">
            <apex:pageBlockSectionItem >
              <apex:outputlabel value="Most recent FHT"/>
              <apex:outputText value="{!recentFHT}"/>
            </apex:pageBlockSectionItem>
          </apex:pageblocksection> 
          <apex:pageBlockSection columns="1">
            <apex:pageBlockSectionItem >
              <apex:outputlabel value="Most recent Fetal Movement"/>
              <apex:outputText value="{!recentFetalMovement}"/>
            </apex:pageBlockSectionItem>
          </apex:pageblocksection>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Assessment Signs" columns="2" collapsible="false" id="assesmentPBS">
          <apex:pageBlockSection columns="1">
            <apex:pageBlockSectionItem >
              <apex:outputlabel value="20 - 26 Weeks"/>
              <apex:outputpanel >
                <apex:repeat value="{!assesment20_26}" var="a">
                    {!a}<br/>
                </apex:repeat>
              </apex:outputpanel>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
              <apex:outputlabel value="27 - 33 Weeks"/>
              <apex:outputpanel >
                <apex:repeat value="{!assesment27_33}" var="a">
                    {!a}<br/>
                </apex:repeat>
              </apex:outputpanel>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
              <apex:outputlabel value="34 - 40 Weeks"/>
              <apex:outputpanel >
                <apex:repeat value="{!assesment34_40}" var="a">
                    {!a}<br/>
                </apex:repeat>
              </apex:outputpanel>
            </apex:pageBlockSectionItem>
          </apex:pageblocksection>
          <apex:pageBlockSection columns="1"/>
        </apex:pageBlockSection>
    </apex:pageBlock>   
  </apex:tab>
  
  <!-- 
  **************************************
  *                                    *
  *        Initial Assessment           * 
  *                                    *
  ************************************** 
  --> 
  
  <apex:tab label="Initial Assessment" name="initialAssessment" id="initialAssessment" >
  
  <apex:pageBlock mode="maindetail" title="Initial Assessment" id="pageBlockMain">
   
    <apex:pageBlockSection title="Health History Summary" columns="1" collapsible="false" id="hhsPBS">
      <apex:pageBlockSection columns="2" title="Demographic Data" collapsible="false" id="ddPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="ddPBSLeft">
          <apex:inputField value="{!ls.Client__c}"/>
          <apex:inputField value="{!ls.Employee_First_Name__c}" id="employeeFirstName" styleClass="demo"/>
          <apex:inputField value="{!ls.Employee_Last_Name__c}" id="employeeLastName" styleClass="demo"/>
          <apex:pageBlockSectionItem id="eDOBsi">
            <apex:outputLabel value="Employee DOB" />
            <apex:input value="{!eDOB}" type="date" id="employeeDOB" styleClass="demo" />
          </apex:pageBlockSectionItem>
          <apex:inputField value="{!ls.Patient_is_Employee__c}" onchange="employeeRealtionship(this.checked)" id="psIsE"/>
          <apex:inputField value="{!ls.Eligibility_Verified__c}" />
          <apex:inputField value="{!ls.Patient_First_Name__c}" id="patientFirstName" />
          <apex:inputField value="{!ls.Patient_Last_Name__c}" id="patientLastName" />
          <apex:pageBlockSectionItem id="pDOBsi">
            <apex:outputLabel value="Patient DOB"/>
            <apex:outputPanel >
              <apex:input value="{!dob}" type="date" style="display:inline;" id="patientDOB" />
              <apex:outputPanel rendered="{!dob!=null}">
                {!ls.Age__c} Years Old
              </apex:outputPanel>
            </apex:outputPanel> 
          </apex:pageBlockSectionItem>
          <apex:inputField value="{!ls.Patient_E_mail_Address__c}"/>
          <apex:inputField value="{!ls.Home_Phone_Number__c}" styleClass="phone"/>
          <apex:inputField value="{!ls.Mobile_Phone_Number__c}" styleClass="phone"/>
          <apex:inputField value="{!ls.Work_Phone_Number__c}" styleClass="phone"/>
          <apex:inputField value="{!ls.Preferred_contact_number__c}"/>
          <apex:inputField value="{!ls.Best_Time_to_Contact__c}"/>
          <apex:inputField value="{!ls.Language__c}" id="language"/>
          <apex:inputField value="{!ls.Interpreter__c}" id="interpreter"/>
          <apex:inputField value="{!ls.Race_Ethnicity__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1" id="ddPBSrightt">
          <apex:inputField value="{!ls.Marital_Status__c}"/>
          <apex:inputField value="{!ls.Patient_Education__c}"/>
          <apex:inputField value="{!ls.Patient_Occupation__c}"/>
          <apex:inputField value="{!ls.Patient_Employment_Status__c}"/>
          <apex:inputField value="{!ls.On_Feet_More_Than_4_hours_shift__c}"/>
          <apex:pageblockSectionItem />
          <apex:inputField value="{!ls.Father_of_Baby_s_Name__c}"/>
          <apex:inputField value="{!ls.Fathers_Education__c}"/>
          <apex:inputField value="{!ls.Fathers_Occupation__c}"/>
          <apex:inputField value="{!ls.Fathers_Employment_Status__c}"/>
          
          <apex:pageBlockSectionItem />
          <apex:pageBlockSectionItem />
          
          
        </apex:pageBlockSection>
      </apex:pageBlockSection> 
    </apex:pageBlockSection>

    <apex:pageblockSection title="Pregnancy Profile" columns="1" showHeader="true" collapsible="true" id="ppPBS">
      <apex:pageblockSection columns="2" collapsible="false" id="ppPBS">
        <apex:pageblockSection columns="1" id="ppPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Height"/>
            <apex:outputPanel >
              <apex:inputField value="{!ls.Height_ft__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">Ft</span>&nbsp;&nbsp;
              <apex:inputField value="{!ls.Height_in__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">In</span>
            </apex:outputPanel>
          </apex:pageBlockSectionItem>
          <apex:inputField value="{!ls.Weight__c}"/>
          <apex:outputField value="{!ls.BMI__c}"/>  
          <apex:inputField value="{!ls.Pregravid_Weight__c}"/>
        </apex:pageblockSection>
        <apex:pageblockSection columns="1" id="ppPBSright">
          <apex:inputField value="{!ls.Estimated_Delivery_Date__c}"/>
          <apex:inputField value="{!ls.Fetal_Heart_Tones__c}"/>
          <apex:inputField value="{!ls.Fetal_Movement__c}"/>
          <apex:inputField value="{!ls.Fetal_Count__c}"/>
          <apex:inputField value="{!ls.Pregnancy_Complications__c}"/>
        </apex:pageblockSection>
      </apex:pageblockSection>
      
      <apex:pageblockSection columns="2" collapsible="false" showheader="false" id="prescribedDrugPBS">
        <apex:pageblockSection columns="1" id="prescribedDrugPBSLeft">
          <apex:inputField value="{!ls.Prescribed_Drugs__c}" id="prescribedDrug"/>
          <apex:outputPanel id="drugBlock" style="display:none;">
            <apex:pageBlock mode="mainDetail">
              <div style="text-align:center">
                <apex:commandButton value="New" reRender="" oncomplete="" rendered="{!ls.id!=null}" onclick="document.getElementById('drugForm').style.display='block'"/>    
              </div>
              
              <div id="drugForm" style="padding:10px;display:none;">
                <div style="padding:10px;border:1px solid #827566;border-radius:3px">
                  <apex:pageBlock mode="mainDetail" id="drugFormPB">
                    <apex:outputPanel id="drugErrorMessage" >
              
                        <script type="text/javascript">
                            if('{!isPHerror}'=='false'){
                                document.getElementById('drugForm').style.display='none';
                            }
                    
                        </script>
              
                      <apex:pageMessages />
                    </apex:outputPanel>
                    
                    <apex:actionFunction action="{!deleteDrug}" reRender="drugTable" name="deleteDrug" oncomplete="document.body.style.cursor='default';">
                      <apex:param name="deletePH" value=""/>
                    </apex:actionFunction>  
        
                    <apex:actionFunction action="{!getDrug}" reRender="drugFormPB" name="getDrug" oncomplete="document.body.style.cursor='default';document.getElementById('drugForm').style.display='block';">
                      <apex:param name="phid" value=""/>
                    </apex:actionFunction>
                    
                    <div style="text-align:center">
                      <apex:commandButton value="Save" action="{!saveDrug}" oncomplete="this.style.cursor='default';document.body.style.cursor='default';this.value='Save';this.disabled=false;" reRender="drugTable,drugErrorMessage,drugFormPB" onclick="this.value='Saving...';this.disabled=true;this.style.cursor='progress';document.body.style.cursor='progress'"/>    
                      <apex:commandButton value="Save & New" action="{!saveDrug}" oncomplete="this.style.cursor='default';document.body.style.cursor='default';this.value='Save & New';document.getElementById('drugForm').style.display='block';this.disabled=false;" reRender="drugTable,drugErrorMessage,drugFormPB" onclick="this.value='Saving...';this.disabled=true;this.style.cursor='progress';document.body.style.cursor='progress'"/>    
                      <apex:commandButton value="Cancel" action="{!drugCancel}" reRender="drugFormPB" oncomplete="" onclick="document.getElementById('drugForm').style.display='none';"/>    
                    </div>
                    <apex:pageBlockSection columns="1" showHeader="false" collapsible="false">
                      <apex:inputField value="{!drug.Drug_Type__c}"/>
                      <apex:inputField value="{!drug.Drug_Amount_Day__c}"/>
                      <apex:inputField value="{!drug.Drug_Comment__c}" />
                    </apex:pageBlockSection>  
                  </apex:pageBlock>
                </div>
              </div>  
              
              <apex:outputPanel id="drugTable">
              <apex:pageBlockTable value="{!drugList}" rendered="{!drugList != null && drugList.size>0}" var="d" >
              <apex:column headerValue="Action">
                <span onclick="document.body.style.cursor='progress';getDrug('{!d.id}')" style="cursor:pointer;text-decoration:underline">Edit</span>&nbsp;&nbsp;|&nbsp;
                <span onclick="if(window.confirm('Are you sure?')){document.body.style.cursor='progress';deleteDrug('{!d.id}')}"  style="cursor:pointer;text-decoration:underline">Del</span>
              
              </apex:column>
              <apex:column headerValue="Drug Type">
                <apex:outputfield value="{!d.Drug_Type__c}"/>
              </apex:column>
              <apex:column headerValue="Drug Amount/Day">
                <apex:outputField value="{!d.Drug_Amount_Day__c}"/>
              </apex:column>
              <apex:column headerValue="Comment">
                <apex:outputField value="{!d.Drug_Comment__c}"/>
              </apex:column>
              <apex:column headerValue="Created">
                <apex:outputField value="{!d.createdDate}"/>&nbsp;-&nbsp;
                <apex:outputField value="{!d.createdBy.Name}"/>
              
              </apex:column>
          </apex:pageBlockTable>
          <apex:outputPanel rendered="{!drugList == null || drugList.size==0}">
              <div style="margin-left:2em;font-size: 91%;color:#4a4a56;font-weight:bold;">No Records Found</div>
          </apex:outputPanel>
          </apex:outputPanel>
            </apex:pageBlock>
          </apex:outputPanel>   
        </apex:pageblockSection>
        <apex:pageblockSection columns="1">
          
        </apex:pageblockSection>
      </apex:pageblockSection>
      
    </apex:pageblockSection>
    
    <apex:actionFunction action="{!deleteProvider}" reRender="phyOP" name="deletePHY" oncomplete="document.body.style.cursor='default';">
      <apex:param name="delProID" value=""/>
    </apex:actionFunction> 
    
    <apex:pageBlockSection columns="1" title="Physicians" showHeader="true" collapsible="false" id="phyPBS">
      <apex:pageBlock mode="maindetail" id="phyPB">
        <div style="text-align:center;margin-bottom:.5em">
          <apex:commandButton value="New" rendered="{!ls.id!=null}" reRender="" oncomplete="" id="newPhy" onclick="document.getElementById('phyForm').style.display='block';this.style.display='none'"/>
        </div>
        <apex:outputpanel id="phyErrorMessage">
          <script>
            function finishPhySave(){
                console.log({!saveError});
                if({!saveError}==false){
                    document.getElementById('phyForm').style.display='none';
                    document.getElementById('p:f:pageBlockMain:phyPBS:phyPB:newPhy').style.display='inline-block';
                }
            
            }
          </script>
          <apex:pageMessages />
        </apex:outputpanel>
        <div id="phyForm" style="display:none;padding:10px;width:80%;margin-left:auto;margin-right:auto">
          <div style="padding:10px;border:1px solid #827566;border-radius:3px">
            <apex:pageBlock mode="mainDetail" id="phyFormPB">
              <div style="text-align:center">
                <apex:commandButton value="Save" action="{!saveProvider}" reRender="phyOP,phyErrorMessage,phyFormPB" onclick="this.value='Saving...';this.disabled=true;this.style.cursor='progress';document.body.style.cursor='progress'" oncomplete="this.value='Save';this.disabled=false;this.style.cursor='default';document.body.style.cursor='default';finishPhySave()" />
                <apex:commandButton value="Save & New" action="{!saveNewProvider}" onclick="this.value='Saving...';this.disabled=true;this.style.cursor='progress';document.body.style.cursor='progress'" reRender="phyOP,phyErrorMessage,phyFormPB" oncomplete="this.value='Save & New';this.disabled=false;document.getElementById('phyForm').style.display='block';this.style.cursor='default';document.body.style.cursor='default';"/>
                <apex:commandButton value="Cancel" action="{!newProvider}" reRender="phyFormPB" oncomplete="" onclick="document.getElementById('phyForm').style.display='none';document.getElementById('p:f:pageBlockMain:phyPBS:phyPB:newPhy').style.display='inline-block';"/>
              </div>
              <apex:pageBlockSection columns="2" showheader="false">
                <apex:pageBlockSection columns="1" showheader="false">
                  <apex:inputField value="{!pro.Specialty__c}"/>
                  <apex:inputField value="{!pro.First_Name__c}"/>
                  <apex:inputField value="{!pro.Last_Name__c}"/>
                  <apex:inputField value="{!pro.Letter__c}"/>
                  <apex:inputField value="{!pro.Phone_Number__c}"/>
                  <apex:inputField value="{!pro.Fax_Number__c}"/>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="1" showheader="false">
                  <apex:inputField value="{!pro.Street__c}"/>
                  <apex:inputField value="{!pro.City__c}"/>
                  <apex:inputField value="{!pro.State__c}"/>
                  <apex:inputField value="{!pro.Zip_Code__c}"/>
                  <apex:inputField value="{!pro.Email_Address__c}"/>
                </apex:pageBlockSection>
              </apex:pageBlockSection>
            </apex:pageblock>
          </div>
        </div>
        <apex:outputpanel id="phyOP">
          <apex:outputpanel rendered="{!proList != null  && proList.size>0}">
            <apex:pageblocktable value="{!prolist}" var="p" columnsWidth="5%">
              <apex:column headerValue="Action">
                <apex:commandLink value="Edit" action="{!getProvider}" reRender="phyFormPB" onclick="this.style.cursor='progress';document.body.style.cursor='progress';" oncomplete="this.style.cursor='pointer';document.body.style.cursor='default';document.getElementById('phyForm').style.display='block';document.getElementById('p:f:pageBlockMain:phyPBS:phyPB:newPhy').style.display='none'">
                  <apex:param name="proID" value="{!p.id}"/>
                </apex:commandLink>
                &nbsp;|&nbsp;
                <span onclick="if(window.confirm('Are you sure?')){document.body.style.cursor='progress';deletePHY('{!p.id}')}"  style="cursor:pointer;text-decoration:underline">Del</span>
              </apex:column>
              <apex:column headerValue="Physician Name">
                <apex:outputField value="{!p.First_Name__c}"/>&nbsp;<apex:outputField value="{!p.Last_Name__c}"/>&nbsp;-&nbsp;<apex:outputField value="{!p.Specialty__c}"/>
              </apex:column>
              <apex:column headerValue="Letter">
                <apex:outputField value="{!p.Letter__c}"/>
              </apex:column>
              <apex:column headerValue="Phone Number">
                <apex:outputField value="{!p.Phone_Number__c}"/>
              </apex:column>
              <apex:column headerValue="Fax Number">
                <apex:outputField value="{!p.Fax_Number__c}"/>
              </apex:column>
              <apex:column headerValue="Address">
                <apex:outputField value="{!p.Street__c}"/>&nbsp;<apex:outputField value="{!p.City__c}"/>,&nbsp;<apex:outputField value="{!p.State__c}"/>&nbsp;<apex:outputField value="{!p.Zip_Code__c}"/>&nbsp;
              </apex:column>
              <apex:column headerValue="E-mail Address">
                <apex:outputField value="{!p.Email_Address__c}"/>
              </apex:column>
              <apex:column headerValue="Last Modified">
                <apex:outputField value="{!p.lastmodifieddate}"/>&nbsp;-&nbsp;<apex:outputField value="{!p.lastmodifiedby.name}"/>
              </apex:column>
            </apex:pageblocktable>
          </apex:outputpanel>
          <apex:outputpanel rendered="{!proList == null || proList.size==0}">
            <div style="margin-left:2em;font-size: 91%;color:#4a4a56;font-weight:bold;">No Records Found</div>
          </apex:outputpanel>  
        </apex:outputpanel>
      </apex:pageBlock> 
    </apex:pageblockSection>
    
    <apex:pageBlockSection columns="1" title="Prior Pregnancy History" showHeader="true" collapsible="false" id="pphPBS">
      <apex:pageBlock mode="maindetail" id="phPB">
        <div style="text-align:center;margin-bottom:.5em">
          <apex:commandButton value="New" rendered="{!ls.id!=null}" reRender="" oncomplete="" id="newPPH" onclick="document.getElementById('phForm').style.display='block';this.style.display='none'"/>
          <apex:pageBlockSection columns="2" showheader="false">
          <apex:pageblocksection columns="1" showheader="false">
            <apex:inputfield value="{!ls.Gravida__c}"/>
          </apex:pageblocksection>
          <apex:pageblocksection columns="1" showheader="false">
            <apex:inputfield value="{!ls.Para__c}"/>
          </apex:pageblocksection>
          </apex:pageblocksection>  
        </div>
        <div id="phForm" style="display:none;padding:10px;width:80%;margin-left:auto;margin-right:auto">
          <div style="padding:10px;border:1px solid #827566;border-radius:3px">
            <apex:pageBlock mode="mainDetail" id="phFormPB">
              <apex:outputPanel id="phDelivered" >
                <script type="text/javascript">
                    if('{!ph.id}'!=''){
                      delivered('{!ph.Delivered__c}');
                    }
                  </script>
              </apex:outputPanel>
              
              <apex:outputPanel id="phErrorMessage" >
              
                  <script type="text/javascript">
                    if('{!isPHerror}'=='false'){
                        document.getElementById('phForm').style.display='none';
                      //  document.getElementById('p:f:pageBlockMain:pphPBS:phPB:newPPH').style.display='inline-block';
                    }
                    
                  </script>
              
                  <apex:pageMessages />
              </apex:outputPanel>
              <div style="text-align:center">
                <apex:commandButton value="Save" action="{!savePH}" reRender="phOP,phTable,phErrorMessage,phFormPB" onclick="this.value='Saving...';this.disabled=true;this.style.cursor='progress';document.body.style.cursor='progress'" oncomplete="this.value='Save';this.disabled=false;this.style.cursor='default';document.body.style.cursor='default';" />
                <apex:commandButton value="Save & New" action="{!savePH}" onclick="this.value='Saving...';this.disabled=true;this.style.cursor='progress';document.body.style.cursor='progress'" reRender="phOP,phTable,phErrorMessage,phFormPB" oncomplete="this.value='Save & New';this.disabled=false;document.getElementById('phForm').style.display='block';this.style.cursor='default';document.body.style.cursor='default';"/>
                <apex:commandButton value="Cancel" action="{!phCancel}" reRender="phFormPB" oncomplete="" onclick="document.getElementById('phForm').style.display='none';document.getElementById('p:f:pageBlockMain:pphPBS:phPB:newPPH').style.display='inline-block';"/>
              </div>
              <apex:pageBlockSection showHeader="false" collapsible="false">
                <apex:pageBlockSection collapsible="false" showHeader="false" columns="1">
                  <apex:inputField value="{!ph.Delivered__c}" onchange="delivered(this.value)"/>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Non-Delivered Outcome" styleClass="nonDelivered"/>
                    <apex:inputField value="{!ph.Non_Delivered_Outcome__c}" styleClass="nonDelivered"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Delivered Outcome" styleClass="Delivered"/>
                    <apex:inputField value="{!ph.Delivered_Outcome__c}" styleClass="Delivered"/> 
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Type of Delivery" styleClass="Delivered"/>
                    <apex:inputField value="{!ph.Type_of_Delivery__c}" styleClass="Delivered"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Weeks Gestation" styleClass="Delivered"/>
                    <apex:inputField value="{!ph.Weeks_Gestation__c}" styleClass="Delivered"/>
                  </apex:pageBlockSectionItem>
                  <apex:inputField value="{!ph.General_Notes__c}" />
                </apex:pageBlockSection>  
                <apex:pageBlockSection collapsible="false" showHeader="false" columns="1">
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Baby Gender" styleClass="Delivered"/>
                    <apex:inputField value="{!ph.Baby_Gender__c}" styleClass="Delivered"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Delivery Date" styleClass="Delivered"/>
                    <apex:inputField value="{!ph.Delivery_Date__c}" styleClass="Delivered"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Birth Weight" styleClass="Delivered"/>
                    <apex:outputPanel styleClass="Delivered">
                      <apex:inputField value="{!ph.Weight_at_Birth_lbs__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">lbs</span>&nbsp;&nbsp;
                      <apex:inputField value="{!ph.Weight_at_Birth_oz__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">oz</span>
                    </apex:outputPanel>
                  </apex:pageBlockSectionItem>
                </apex:pageBlockSection>  
              </apex:pageBlockSection>
            </apex:pageBlock>
          </div>  
        </div>
        
        <apex:actionFunction action="{!deletePH}" reRender="phTable,phOP" name="deletePH" oncomplete="document.body.style.cursor='default';">
          <apex:param name="deletePH" value=""/>
        </apex:actionFunction>  
        
        <apex:outputPanel id="phOP"> 
          <apex:pageBlockTable value="{!phList}" rendered="{!phList != null && phList.size>0}" var="ph" id="phTable">
            <apex:column headerValue="Action">
              <apex:commandLink value="Edit" action="{!getPH}" reRender="phFormPB,phDelivered" onclick="this.style.cursor='progress';document.body.style.cursor='progress';" oncomplete="this.style.cursor='pointer';document.body.style.cursor='default';document.getElementById('phForm').style.display='block';document.getElementById('p:f:pageBlockMain:pphPBS:phPB:newPPH').style.display='none'">
                <apex:param name="phid" value="{!ph.id}"/>
              </apex:commandLink>
              &nbsp;|&nbsp;
              <span onclick="if(window.confirm('Are you sure?')){document.body.style.cursor='progress';deletePH('{!ph.id}')}"  style="cursor:pointer;text-decoration:underline">Del</span>
            </apex:column>
            <apex:column headerValue="Outcome">
              <apex:outputField value="{!ph.Non_Delivered_Outcome__c}"/>
              <apex:outputField value="{!ph.Delivered_Outcome__c}"/>
            </apex:column>
            <apex:column headerValue="Baby Gender">
              <apex:outputField value="{!ph.Baby_Gender__c}"/>
            </apex:column>
            <apex:column headerValue="Delivery Date">
              <apex:outputField value="{!ph.Delivery_Date__c}"/>
            </apex:column>
            <apex:column headerValue="Type of Delivery">
              <apex:outputField value="{!ph.Type_of_Delivery__c}"/>
            </apex:column>
            <apex:column headerValue="Weeks Gestation">
              <apex:outputField value="{!ph.Weeks_Gestation__c}"/>
            </apex:column>
            <apex:column headerValue="Birth Weight">
              <apex:outputPanel rendered="{!ph.Delivered_Outcome__c=='Yes'}">
                <apex:outputtext value="{!ph.Weight_at_Birth_lbs__c} lbs {!ph.Weight_at_Birth_oz__c} oz"/>
              </apex:outputPanel>
            </apex:column>
            <apex:column headerValue="General Notes">
              <apex:outputField value="{!ph.General_Notes__c}"/>
            </apex:column>
            <apex:column headerValue="Created">
              <apex:outputField value="{!ph.createdDate}"/>&nbsp;-&nbsp;
              <apex:outputField value="{!ph.createdBy.Name}"/>
              
            </apex:column>
          </apex:pageBlockTable>
          <apex:outputPanel rendered="{!phList == null || phList.size==0}">
            <div style="margin-left:2em;font-size: 91%;color:#4a4a56;font-weight:bold;">No Records Found</div>
          </apex:outputPanel>
        </apex:outputPanel>
      </apex:pageBlock>  
    </apex:pageBlockSection>
    
    <apex:pageBlockSection columns="1" title="Medical History" showHeader="true" collapsible="true" id="medicalHistoryPBS">
      <apex:pageBlockSection columns="2" id="mhTop">
      <apex:pageBlockSection columns="1" id="medicalHistoryLeftPBS">
        <apex:inputField value="{!ls.Allergy_Sensitivity__c}" />
        <apex:pageBlockSectionItem id="obstetricHistoryPBSI">
          <apex:outputLabel >
            Obstetric History<br/>
            <img src="{!$Resource.Plus_image}" class="expandL" id="obstetricHistoryE"/>
            <img src="{!$Resource.Minus_image}" class="collapseL" id="obstetricHistoryC"/>
          </apex:outputLabel>
          <apex:inputField value="{!ls.Obstetric_History__c}" id="obstetricHistory"/>
        </apex:pageBlockSectionItem>
        
        <apex:pageBlockSectionItem id="otherInfectionsHistoryPBSI">
          <apex:outputLabel >
            Other Infections History<br/>
            <img src="{!$Resource.Plus_image}" class="expandL" id="otherInfectionsHistoryE"/>
            <img src="{!$Resource.Minus_image}" class="collapseL" id="otherInfectionsHistoryC"/>
          </apex:outputLabel>
          <apex:inputField value="{!ls.Other_Infections_History__c}" id="otherInfectionsHistory"/>
        </apex:pageBlockSectionItem>
        
        <apex:inputField value="{!ls.Pulmonary_History__c}"/>
        
        <apex:pageBlockSectionItem id="renalDiseaseHistoryPBSI">
          <apex:outputLabel >
            Renal Disease History<br/>
            <img src="{!$Resource.Plus_image}" class="expandL" id="renalDiseaseHistoryE"/>
            <img src="{!$Resource.Minus_image}" class="collapseL" id="renalDiseaseHistoryC"/>
          </apex:outputLabel>
          <apex:inputField value="{!ls.Renal_Disease_History__c}" id="renalDiseaseHistory"/>
        </apex:pageBlockSectionItem>
        <apex:inputField value="{!ls.Other_Notable_History__c}"/>
      </apex:pageBlockSection>
      
      <apex:pageBlockSection columns="1" id="medicalHistoryRightPBS">
       
        <apex:inputField value="{!ls.STD_History__c}"/>
       
        <apex:pageBlockSectionItem id="cardiovascularHistoryPBSI">
          <apex:outputLabel >
            Cardiovascular History<br/>
            <img src="{!$Resource.Plus_image}" class="expandR" id="cardiovascularHistoryE"/>
            <img src="{!$Resource.Minus_image}" class="collapseR" id="cardiovascularHistoryC"/>
          </apex:outputLabel>
          <apex:inputField value="{!ls.Cardiovascular_History__c}" id="cardiovascularHistory"/>
        </apex:pageBlockSectionItem>
        
        <apex:pageBlockSectionItem id="endocrineHistoryPBSI">
          <apex:outputLabel >
            Endocrine History<br/>
            <img src="{!$Resource.Plus_image}" class="expandR" id="endocrineHistoryE"/>
            <img src="{!$Resource.Minus_image}" class="collapseR" id="endocrineHistoryC"/>
          </apex:outputLabel>
          <apex:inputField value="{!ls.Endocrine_History__c}" id="endocrineHistory"/>
        </apex:pageBlockSectionItem>
        
        <apex:inputField value="{!ls.Neurologic_Disease_History__c}" id="neurologicDiseaseHistory"/>
        
        <apex:pageBlockSectionItem id="psychologicalSurgicalHistoryPBSI">
          <apex:outputLabel >
            Psychological Surgical History<br/>
            <img src="{!$Resource.Plus_image}" class="expandR" id="psychologicalSurgicalHistoryE"/>
            <img src="{!$Resource.Minus_image}" class="collapseR" id="psychologicalSurgicalHistoryC"/>
          </apex:outputLabel>
          <apex:inputField value="{!ls.Psychological_Surgical_History__c}" id="psychologicalSurgicalHistory"/>
        </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
      </apex:pageBlockSection>
      <apex:pageBlocksection columns="2" showHeader="true">
        <apex:pageBlocksection columns="1" showHeader="false">
          <apex:inputField value="{!ls.Do_you_feel_safe_in_your_home__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlocksection columns="1" showHeader="false">
          <apex:inputField value="{!ls.Do_you_have_thoughts_of_harming_yourself__c}"/>
          <apex:inputField value="{!ls.Gynecologic_Surgery_History__c}" onchange="gh(this.value)"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Note" styleclass="gh"/>
            <apex:inputField value="{!ls.Gynecologic_Surgery_History_Note__c}"  styleclass="gh"/>
          </apex:pageBlockSectionItem> 
        </apex:pageBlockSection>
      </apex:pageBlockSection>
    </apex:pageBlockSection>
      
    <apex:pageblockSection title="Initial Lifestyle Profile" columns="1" showHeader="true" collapsible="true">
      <apex:pageblockSection columns="2" title="Nutritional Assessment" showHeader="true" collapsible="false">
        <apex:pageblockSection columns="1">
          <apex:inputField value="{!ls.Nutritional_Use__c}" />
        </apex:pageblockSection>
        <apex:pageblockSection columns="1">
          <apex:inputField value="{!ls.Eating_Disorder__c}"/>
        </apex:pageblockSection>
      </apex:pageblockSection>
      
      <apex:pageblockSection columns="2" title="Psychosocial Assessment" showHeader="true" collapsible="false">
        <apex:pageblockSection columns="1">
         <apex:inputField value="{!ls.Support_Services_Needed__c}" />
         <apex:inputField value="{!ls.Emotional_Status__c}"/>
         <apex:inputField value="{!ls.Name_of_Support_Person__c}"/>
         <apex:inputField value="{!ls.Support_Person_Relationship__c}"/>
        </apex:pageblockSection>
        <apex:pageblockSection columns="1">
        </apex:pageblockSection>
      </apex:pageblockSection>
      <apex:pageblockSection columns="2" title="Drug use" showHeader="true" collapsible="false">
        <apex:pageblockSection columns="1">
          <apex:inputfield value="{!ls.Nicotine_User__c}" id="nicotine" styleClass="hideShow" html-hideValue="Yes" html-shortID="nicotine"/> 
          <apex:pageBlockSectionItem labelStyle="display:none" dataStyle="display:none">
            <apex:outputLabel value="Nicotine Note" styleclass="nicotine"/>
            <apex:inputfield value="{!ls.Nicotine_Note__c}" styleclass="nicotine"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.NonPrescribed_Drug_User__c}" id="npdrug" styleClass="hideShow" html-hideValue="Yes" html-shortID="npdrug"/> 
          <apex:pageBlockSectionItem labelStyle="display:none" dataStyle="display:none">
            <apex:outputLabel value="Non-Prescribed Drug Note" styleclass="npdrug"/>
            <apex:inputfield value="{!ls.NonPrescribed_Drug_note__c}" styleclass="npdrug"/>
          </apex:pageBlockSectionItem>
        </apex:pageblockSection>
        <apex:pageblockSection columns="1">
          <apex:inputfield value="{!ls.Alcohol_User__c}" id="alcohol" styleClass="hideShow" html-hideValue="Yes" html-shortID="alcohol"/> 
          <apex:pageBlockSectionItem labelStyle="display:none" dataStyle="display:none">
            <apex:outputLabel value="Alcohol Note" styleclass="alcohol"/>
            <apex:inputfield value="{!ls.Alcohol_Note__c}" styleclass="alcohol"/>
          </apex:pageBlockSectionItem>
        </apex:pageblockSection>
      </apex:pageblockSection>
    </apex:pageblockSection>
    <apex:pageblockSection title="Risk Level" columns="2" showHeader="true" collapsible="true">
      <apex:pageblockSection columns="1">
        <apex:inputField value="{!ls.Risk_for_Complication__c}" />
      </apex:pageblockSection>
      <apex:pageblockSection columns="1">
         <apex:inputField value="{!ls.Risk_Note__c}" />
      </apex:pageblockSection>
    </apex:pageblockSection>  
    <script type="text/javascript">
      j$(document).ready(function(){
          prescribedDrug(j$('#p\\:f\\:pageBlockMain\\:ppPBS\\:prescribedDrugPBS\\:prescribedDrugPBSLeft\\:prescribedDrug').val());
          j$('#p\\:f\\:pageBlockMain\\:ppPBS\\:prescribedDrugPBS\\:prescribedDrugPBSLeft\\:prescribedDrug').change(function(){
            prescribedDrug(this.value);
          });
          
          gh('{!ls.Gynecologic_Surgery_History__c}');
          expand();
          collapse();
          setFormatPhone();
          
          m_Delivered('{!ls.Delivered__c}');
          feedingType('{!ls.Feeding_Type__c}');
          nursing('{!ls.Nursing_Status__c}');
          
          employeeRealtionship({!ls.Patient_is_Employee__c});
          
          j$('#p\\:f\\:pageBlockMainPD\\:deliveryInformationPBS\\:deliveryInformationPBSLeft\\:delivered').change(function(){
            m_Delivered(this.value);    
          });
          
          j$('#p\\:f\\:pageBlockMainPD\\:NewbornInformationPBS\\:NewbornInformationPBSLeft\\:feedingType').change(function(){
            feedingType(this.value);
          });
          
          j$('#p\\:f\\:pageBlockMainPD\\:maternalInformationPBS\\:maternalInformationPBSLeft\\:nursingStatus').change(function(){
            nursing(this.value);
          });
          
          j$('.hideShow').change(function(){
            hideShow(this.getAttribute('hidevalue'), this.value, this.getAttribute('shortID')); 
          });
        
          j$('.hideShow').each(function(){
            hideShow(this.getAttribute('hidevalue'), this.value, this.getAttribute('shortID')); 
          });     

          j$('.demo').change(function(){
            employeeRealtionship(document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:psIsE').checked);        
          });
          
            
      });
      
    </script>  
  </apex:pageBlock>
  </apex:tab>
  
  
  <apex:tab label="< 20 Weeks" name="lt20" id="lt20" rendered="{!ls.Initial_Assesment_Complete__c}">
    
    <apex:pageBlock mode="maindetail" title="< 20 Weeks" id="pageBlockMainLT20">
   
      <apex:pageBlockSection title="Every Call Data" columns="2" collapsible="false" id="ecdPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="ecdPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Patient Height"/>
            <apex:outputPanel >
              <apex:outputField value="{!ls.Height_ft__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">Ft</span>&nbsp;&nbsp;
              <apex:outputField value="{!ls.Height_in__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">In</span>
            </apex:outputPanel>
          </apex:pageBlockSectionItem>
          <apex:inputField value="{!ls20.Current_Weight__c}"/>
          <apex:inputField value="{!ls20.Current_BMI__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1" id="ecdPBSright">
          <apex:inputField value="{!ls20.Fetal_Heart_Tones__c}"/>
          <apex:inputField value="{!ls20.Fetal_Movement__c}"/>
          <apex:inputField value="{!ls20.Risk_for_Complication__c}"/>
          <apex:inputField value="{!ls20.Risk_Note__c}"/>
          <apex:inputField value="{!ls20.Next_Call_Date__c}"/>
        </apex:pageBlockSection>
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Discussion Items" columns="2" collapsible="false" id="diPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="diPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value=" "/> 
            <apex:outputLabel value="Date Covered" style="font-size: 91%;color:#4a4a56;font-weight:bold;"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Common Discomforts"/> 
            <apex:inputfield value="{!ls20.Common_Discomforts_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Exercise and Fitness"/> 
            <apex:inputfield value="{!ls20.Exercise_and_Fitness_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Prenatal Testing/Labwork"/> 
            <apex:inputfield value="{!ls20.Prenatal_Testing_Labwork_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Danger Signs of Pregnancy"/> 
            <apex:inputfield value="{!ls20.Danger_Signs_of_Pregnancy_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Health Needs of Pregnancy"/> 
            <apex:inputfield value="{!ls20.Health_Needs_of_Pregnancy_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Medical Plan Benefits"/> 
            <apex:inputfield value="{!ls20.Medical_Plan_Benefits__c}"/> 
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1"/>
      </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:tab>
  
  <apex:tab label="20 - 26 Weeks" name="twenty_twentysix" id="twenty_twentysix" rendered="{!ls.Initial_Assesment_Complete__c && (ls20_26 != null)}">
    <apex:pageBlock mode="maindetail" title="20 - 26 Weeks" id="pageBlockMain20_26">
   
      <apex:pageBlockSection title="Every Call Data" columns="2" collapsible="false" id="ecdPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="ecdPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Patient Height"/>
            <apex:outputPanel >
              <apex:outputField value="{!ls.Height_ft__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">Ft</span>&nbsp;&nbsp;
              <apex:outputField value="{!ls.Height_in__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">In</span>
            </apex:outputPanel>
          </apex:pageBlockSectionItem>
          <apex:inputField value="{!ls20_26.Current_Weight__c}"/>
          <apex:inputField value="{!ls20_26.Current_BMI__c}"/>
          <apex:inputField value="{!ls20_26.Remains_Pregnant__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1" id="ecdPBSright">
          <apex:inputField value="{!ls20_26.Fetal_Heart_Tones__c}"/>
          <apex:inputField value="{!ls20_26.Fetal_Movement__c}"/>
          <apex:inputField value="{!ls20_26.Risk_for_Complication__c}"/>
          <apex:inputField value="{!ls20_26.Risk_Note__c}"/>
          <apex:inputField value="{!ls20_26.Next_Call_Date__c}"/>
        </apex:pageBlockSection>
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Discussion Items" columns="2" collapsible="false" id="diPBS">
        <apex:pageBlockSection columns="1" showHeader="false" id="diPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value=" "/> 
            <apex:outputLabel value="Date Covered" style="font-size: 91%;color:#4a4a56;font-weight:bold;"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Prenatal Testing/Labwork"/> 
            <apex:inputfield value="{!ls20_26.Prenatal_Testing_Labwork_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Fetal Growth and Development"/> 
            <apex:inputfield value="{!ls20_26.Fetal_Growth_Development_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Nutrition/Fluid Intake"/> 
            <apex:inputfield value="{!ls20_26.Nutrition_Fluid_Intake_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Activity (job, home, exercise, sleep)"/> 
            <apex:inputfield value="{!ls20_26.Activity_job_home_exercise_sleep_Da__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Physical Changes"/> 
            <apex:inputfield value="{!ls20_26.Physical_Changes__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Common Discomforts"/> 
            <apex:inputfield value="{!ls20_26.Common_Discomforts_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Medical Plan Benefits"/> 
            <apex:inputfield value="{!ls20_26.Medical_Plan_Benefits__c}"/> 
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1"/>
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Assessments" columns="2" collapsible="false" id="assessmentsPBS">
        <apex:pageBlockSection columns="1">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Signs of Premature Labor"/> 
            <c:MultiselectPicklist leftOption="{!allSOPML20_26}" rightOption="{!selectedSOPML20_26}" size="7" width="555px"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Danger Signs"/> 
            <c:MultiselectPicklist leftOption="{!allDS20_26}" rightOption="{!selectedDS20_26}" size="7" width="555px"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1"/>
      </apex:pageBlockSection>      
    </apex:pageBlock>
  </apex:tab>
  
  <apex:tab label="27 - 33 Weeks" name="twentyseven_thirtythree" id="twentyseven_thirtythree" rendered="{!ls.Initial_Assesment_Complete__c && ls27_33!=null}">
    <apex:pageBlock mode="maindetail" title="27 - 33 Weeks" id="pageBlockMain27_23">
   
      <apex:pageBlockSection title="Every Call Data" columns="2" collapsible="false" id="ecdPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="ecdPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Patient Height"/>
            <apex:outputPanel >
              <apex:outputField value="{!ls.Height_ft__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">Ft</span>&nbsp;&nbsp;
              <apex:outputField value="{!ls.Height_in__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">In</span>
            </apex:outputPanel>
          </apex:pageBlockSectionItem>
          <apex:inputField value="{!ls27_33.Current_Weight__c}"/>
          <apex:inputField value="{!ls27_33.Current_BMI__c}"/>
          <apex:inputField value="{!ls27_33.Remains_Pregnant__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1" id="ecdPBSright">
          <apex:inputField value="{!ls27_33.Fetal_Heart_Tones__c}"/>
          <apex:inputField value="{!ls27_33.Fetal_Movement__c}"/>
          <apex:inputField value="{!ls27_33.Risk_for_Complication__c}"/>
          <apex:inputField value="{!ls27_33.Risk_Note__c}"/>
          <apex:inputField value="{!ls27_33.Next_Call_Date__c}"/>
        </apex:pageBlockSection>
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Discussion Items" columns="2" collapsible="false" id="diPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="diPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value=" "/> 
            <apex:outputLabel value="Date Covered" style="font-size: 91%;color:#4a4a56;font-weight:bold;"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Nutrition/Fluid Intake"/> 
            <apex:inputfield value="{!ls27_33.Nutrition_Fluid_Intake_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Activity (job, home, exercise, sleep)"/> 
            <apex:inputfield value="{!ls27_33.Activity_job_home_exercise_sleep_Da__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Common Discomforts"/> 
            <apex:inputfield value="{!ls27_33.Common_Discomforts_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Fetal Growth and Development"/> 
            <apex:inputfield value="{!ls27_33.Fetal_Growth_Development_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Infant Feeding Method"/> 
            <apex:inputfield value="{!ls27_33.Infant_Feeding_Method__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Medical Plan Benefits"/> 
            <apex:inputfield value="{!ls27_33.Medical_Plan_Benefits__c}"/> 
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1"/>
      </apex:pageBlockSection>
      <apex:pageBlockSection title="Assessments" columns="2" collapsible="false" id="assessmentsPBS">
        <apex:pageBlockSection columns="1">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Signs of Premature Labor"/> 
            <c:MultiselectPicklist leftOption="{!allSOPML27_33}" rightOption="{!selectedSOPML27_33}" size="7" width="555px"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Danger Signs"/> 
            <c:MultiselectPicklist leftOption="{!allDS27_33}" rightOption="{!selectedDS27_33}" size="7" width="555px"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1"/> 
      </apex:pageBlockSection>
    </apex:pageBlock>
  
  </apex:tab>
  
  <apex:tab label="34 - 40 Weeks" name="thirtyfour_forty" id="thirtyfour_forty" rendered="{!ls.Initial_Assesment_Complete__c && ls34_40!=null}">
    <apex:pageBlock mode="maindetail" title="34 - 40 weeks" id="pageBlockMain34_40">
   
      <apex:pageBlockSection title="Every Call Data" columns="2" collapsible="false" id="ecdPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="ecdPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Patient Height"/>
            <apex:outputPanel >
              <apex:outputField value="{!ls.Height_ft__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">Ft</span>&nbsp;&nbsp;
              <apex:outputField value="{!ls.Height_in__c}" style="display:inline-block;width:3em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">In</span>
            </apex:outputPanel>
          </apex:pageBlockSectionItem>
          <apex:inputField value="{!ls34_40.Current_Weight__c}"/>
          <apex:inputField value="{!ls34_40.Current_BMI__c}"/>
          <apex:inputField value="{!ls34_40.Remains_Pregnant__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1" id="ecdPBSright">
          <apex:inputField value="{!ls34_40.Fetal_Heart_Tones__c}"/>
          <apex:inputField value="{!ls34_40.Fetal_Movement__c}"/>
          <apex:inputField value="{!ls34_40.Risk_for_Complication__c}"/>
          <apex:inputField value="{!ls34_40.Risk_Note__c}"/>
          <apex:inputField value="{!ls34_40.Next_Call_Date__c}"/>
        </apex:pageBlockSection>
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Discussion Items" columns="2" collapsible="false" id="diPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="diPBSLeft">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value=" "/> 
            <apex:outputLabel value="Date Covered" style="font-size: 91%;color:#4a4a56;font-weight:bold;"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Nutrition/Fluid Intake"/> 
            <apex:inputfield value="{!ls34_40.Nutrition_Fluid_Intake_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Activity (job, home, exercise, sleep)"/> 
            <apex:inputfield value="{!ls34_40.Activity_job_home_exercise_sleep_Da__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Common Discomforts"/> 
            <apex:inputfield value="{!ls34_40.Common_Discomforts_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Fetal Growth and Development"/> 
            <apex:inputfield value="{!ls34_40.Fetal_Growth_Development_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Reminder to Enroll Infant in Health Plan"/> 
            <apex:inputfield value="{!ls34_40.Reminder_to_Enroll_Infant_in_Health_Plan__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Medical Plan Benefits"/> 
            <apex:inputfield value="{!ls34_40.Medical_Plan_Benefits__c}"/> 
          </apex:pageBlockSectionItem>        
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1"/>
      </apex:pageBlockSection>
      <apex:pageBlockSection title="Assessments" columns="2" collapsible="false" id="assessmentsPBS">
        <apex:pageBlockSection columns="1">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Signs of Premature Labor"/> 
            <c:MultiselectPicklist leftOption="{!allSOPML34_40}" rightOption="{!selectedSOPML34_40}" size="7" width="555px"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Danger Signs"/> 
            <c:MultiselectPicklist leftOption="{!allDS34_40}" rightOption="{!selectedDS34_40}" size="7" width="555px"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1"/> 
      </apex:pageBlockSection>    
      <apex:pageBlockSection title="Birth Plan" columns="2" collapsible="false" id="birthPlanPBS">
        <apex:pageBlockSection columns="1">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Method of Delivery"/> 
            <apex:inputfield value="{!ls34_40.Method_of_Delivery__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Location of Delivery"/> 
            <apex:inputfield value="{!ls34_40.Location_of_Delivery__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Analgesia/Anesthesia"/> 
            <apex:inputfield value="{!ls34_40.Analgesia_Anesthesia__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Technology (IV's, Monitor)"/> 
            <apex:inputfield value="{!ls34_40.Technology_IV_Monitor__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Early Interaction with Infant"/> 
            <apex:inputfield value="{!ls34_40.Early_Interaction_with_Infant__c}"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Infant Feeding Method"/> 
            <apex:inputfield value="{!ls34_40.Infant_Feeding_Method__c}"/> 
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>      
        <apex:pageBlockSection columns="1"/> 
      </apex:pageBlockSection>    
    </apex:pageBlock>
  </apex:tab>
  
  <apex:tab label="Outcome" name="postDelivery" id="postDelivery" rendered="{!ls.Initial_Assesment_Complete__c}">
    <apex:pageBlock mode="maindetail" title="Outcome" id="pageBlockMainPD">
   
      <apex:pageBlockSection title="Delivery Information" columns="2" collapsible="false" id="deliveryInformationPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="deliveryInformationPBSLeft">  
          
          <apex:inputfield value="{!ls.Delivered__c}" id="delivered"/>
          
          <apex:pageblocksectionitem >
            <apex:outputLabel value="Delivered Outcome" styleClass="m_Delivered"/> 
            <apex:inputfield value="{!ls.Delivered_Outcome__c}" styleClass="m_Delivered"/>
          </apex:pageblocksectionitem>
         
          <apex:pageBlockSectionItem dataStyle="padding-left:0px" id="outcomePregnancyLeftPBSI">
            <apex:outputpanel styleClass="m_Delivered" id="outcomePregnancyOP">
              <apex:pageblock mode="mainDetail" id="outcomePregnancyLeftPB">
                <apex:pageblocksection columns="1" id="outcomePregnancyPBS">
                  <apex:pageblocksectionitem >
                    <apex:outputLabel value="Delivery Date" /> 
                    <apex:inputfield value="{!outcomePregnancy.Delivery_Date__c}" />
                  </apex:pageblocksectionitem>
                  
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Delivery Time" /> 
                    <apex:inputfield value="{!outcomePregnancy.Delivery_Time__c}" /> 
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Baby Name" /> 
                    <apex:inputfield value="{!outcomePregnancy.Baby_Name__c}" /> 
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Baby Gender" /> 
                    <apex:inputfield value="{!outcomePregnancy.Baby_Gender__c}" /> 
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Birth Weight" styleClass="m_Delivered"/>
                    <apex:outputPanel styleClass="m_Delivered">
                      <apex:inputField value="{!outcomePregnancy.Weight_at_Birth_lbs__c}" style="display:inline-block;width:4em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">lbs</span>&nbsp;&nbsp;
                      <apex:inputField value="{!outcomePregnancy.Weight_at_Birth_oz__c}" style="display:inline-block;width:4em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">oz</span>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:inputfield value="{!outcomePregnancy.Type_of_Delivery__c}" id="tod" styleClass="hideShow" html-hideValue="Cesarean" html-shortID="tod"/> 
                <apex:pageBlockSectionItem labelStyle="display:none" dataStyle="display:none">
                  <apex:outputLabel value="Cesarean reason" styleclass="tod"/>
                  <apex:inputfield value="{!outcomePregnancy.Cesarean_reason__c}" styleclass="tod"/>
                </apex:pageBlockSectionItem>
                <script>
                  j$('.hideShow').change(function(){
                    hideShow(this.getAttribute('hidevalue'), this.value, this.getAttribute('shortID')); 
                  });
                  
                  j$('.hideShow').each(function(){
                    hideShow(this.getAttribute('hidevalue'), this.value, this.getAttribute('shortID')); 
                  });   
                </script>
                </apex:pageblocksection>
                
                <apex:outputpanel rendered="{!outcomePregnancyList.size>0 && (ls.Delivered_Outcome__c== 'Triplet Liveborn' || ls.Delivered_Outcome__c== 'Twin Liveborn')}" id="outcomePregnancyTableOP">
                <apex:actionFunction name="deleteOutcomePregnancy" action="{!deleteOutcomePregnancy}" reRender="outcomePregnancyOP" oncomplete="document.body.style.cursor='default';this.style.cursor='default'">
                  <apex:param value="" name="opID"/>
                </apex:actionFunction>
                  <div style="text-align:center;margin-top:1em">
                    <apex:commandButton value="Add Delivery Information" action="{!newOutcomePregnancy}" reRender="outcomePregnancyPBS" onclick="document.body.style.cursor='progress';" oncomplete="document.body.style.cursor='default';"/>
                  </div>
                  <apex:pageblocktable value="{!outcomePregnancyList}" var="op" style="margin-top:1em">
                  
                    <apex:column headerValue="Action">
                      <apex:commandlink value="Edit" action="{!editOutcomePregnancy}" reRender="outcomePregnancyPBS" onclick="document.body.style.cursor='progress';this.style.cursor='progress'" oncomplete="document.body.style.cursor='default';this.style.cursor='default'">
                        <apex:param value="{!op.id}" name="opID"/>
                      </apex:commandlink>
                      &nbsp;|&nbsp;
                      <apex:commandlink value="Del" onclick="if(window.confirm('Are you sure?')){document.body.style.cursor='progress';this.style.cursor='progress';deleteOutcomePregnancy('{!op.id}')}" rerender="" oncomplete=""/>
                    </apex:column>
                    <apex:column headerValue="Delivery Date">
                      <apex:outputfield value="{!op.Delivery_Date__c}" />&nbsp;@&nbsp;<apex:outputfield value="{!op.Delivery_Time__c}" />
                    </apex:column>
                    <apex:column headerValue="Baby Name">
                      <apex:outputfield value="{!op.Baby_Name__c}" />
                    </apex:column>
                    <apex:column headerValue="Baby Gender">
                      <apex:outputfield value="{!op.Baby_Gender__c}" />
                    </apex:column>
                    <apex:column headerValue="Birth Weight">
                      <apex:outputfield value="{!op.Weight_at_Birth_lbs__c}" />&nbsp;Lbs,&nbsp;<apex:outputfield value="{!op.Weight_at_Birth_oz__c}" />&nbsp;Oz
                    </apex:column>
                    <apex:column headerValue="Type of Delivery">
                      <apex:outputfield value="{!op.Type_of_Delivery__c}" />
                    </apex:column>
                  </apex:pageblocktable>
                </apex:outputpanel>
              </apex:pageblock>
            </apex:outputpanel>
          </apex:pageBlockSectionItem>
          <!--
          <apex:pageBlockSectionItem>
            <apex:outputLabel value="Delivered Outcome" styleClass="m_Delivered"/> 
            <apex:inputfield value="{!ls.Delivered_Outcome__c}" styleClass="m_Delivered"/> 
          </apex:pageBlockSectionItem>
          -->
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Non-Delivered Outcome" styleClass="m_nonDelivered"/> 
            <apex:inputfield value="{!ls.Non_Delivered_Outcome__c}" styleClass="m_nonDelivered"/> 
          </apex:pageBlockSectionItem>
          <!--
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Delivery Time" styleClass="m_Delivered"/> 
            <apex:inputfield value="{!ls.Delivery_Time__c}" styleClass="m_Delivered"/> 
          </apex:pageBlockSectionItem>
          
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Birth Weight" styleClass="m_Delivered"/>
            <apex:outputPanel styleClass="m_Delivered">
              <apex:inputField value="{!ls.Weight_at_Birth_lbs__c}" style="display:inline-block;width:4em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">lbs</span>&nbsp;&nbsp;
              <apex:inputField value="{!ls.Weight_at_Birth_Oz__c}" style="display:inline-block;width:4em"/>&nbsp;<span style="font-size: 91%;color:#4a4a56;font-weight:bold;">oz</span>
            </apex:outputPanel>
          </apex:pageBlockSectionItem>
          
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Baby's Name" styleClass="m_Delivered"/> 
            <apex:inputfield value="{!ls.Baby_Name__c}" styleClass="m_Delivered"/> 
          </apex:pageBlockSectionItem>
          
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Baby Gender" styleClass="m_Delivered"/> 
            <apex:inputfield value="{!ls.Baby_Gender__c}" styleClass="m_Delivered"/> 
          </apex:pageBlockSectionItem>
          
          -->
          
        </apex:pageBlockSection>
        
        <apex:pageBlockSection showHeader="false" columns="1" id="deliveryInformationPBSRight">
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="NICU Stay?" styleClass="m_Delivered"/>
            <apex:inputfield value="{!ls.Nicu_Stay__c}" styleClass="hideShow m_Delivered" html-hideValue="Yes" html-shortID="nicu"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="NICU Stay Reason" styleClass="nicu m_Delivered"/>
            <apex:inputfield value="{!ls.NICU_Stay_Reason__c}" styleClass="nicu m_Delivered"/>
          </apex:pageBlockSectionItem>
          
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Length of NICU Stay" styleClass="nicu m_Delivered"/>
            <apex:inputfield value="{!ls.NICU_LOS__c}" styleClass="nicu m_Delivered"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Labor Description" styleClass="m_Delivered"/>
            <apex:inputfield value="{!ls.Labor_Description__c}" styleClass="m_Delivered"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Complications" styleClass="m_Delivered"/>
            <apex:inputfield value="{!ls.Complications__c}" styleClass="m_Delivered"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Abnormal Findings" styleClass="m_Delivered"/>
            <apex:inputfield value="{!ls.Abnormal_Findings__c}" styleClass="m_Delivered"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>        
      </apex:pageBlockSection>
      <apex:pageBlockSection title="Maternal Information" columns="2" collapsible="false" id="maternalInformationPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="maternalInformationPBSLeft"> 
          <apex:inputfield value="{!ls.Nursing_Status__c}" id="nursingStatus"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Stopped Nursing Reason" styleClass="stoppedNursing"/>
            <apex:inputfield value="{!ls.Stopped_Nursing_Reason__c}" styleClass="stoppedNursing"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Nipple Condition" styleclass="nursing"/>
            <apex:inputfield value="{!ls.Nipple_Condition__c}" styleclass="nursing hideShow" html-hideValue="Problem" html-shortID="nippleConditon"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Nipple Problem Note" styleclass="nippleConditon" />
            <apex:inputfield value="{!ls.Nipple_Problem_Note__c}" styleclass="nippleConditon"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Breast Problems"/>
            <apex:inputfield value="{!ls.Breast_Problems__c}" styleclass="hideShow" html-hideValue="Yes" html-shortID="breastProblems"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Breast Problems Note" styleclass="breastProblems" />
            <apex:inputfield value="{!ls.Breast_Problems_Notes__c}" styleclass="breastProblems"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Lochia__c}"/>
          <apex:inputfield value="{!ls.Perineum__c}" styleClass="hideShow" html-hideValue="Episiotomy/Laceration" html-shortID="perineum"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Perineum Healing" styleClass="perineum"/>
            <apex:inputfield value="{!ls.Perineum_Healing__c}" styleClass="perineum"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Perineum Note" styleClass="perineum"/>
            <apex:inputfield value="{!ls.Perineum_Note__c}" styleClass="perineum"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Abdominal_Incision__c}" styleClass="hideShow" html-hideValue="Yes - Not Healing||Yes - Healing" html-shortID="abdominalIncision" />
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Staples Removed" styleClass="abdominalIncision"/>
            <apex:inputfield value="{!ls.Staples_Removed__c}" styleClass="abdominalIncision"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Abdominal Incision Note" styleClass="abdominalIncision"/>
            <apex:inputfield value="{!ls.Abdominal_Incision_Note__c}" styleClass="abdominalIncision"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Contraceptive Choice"/> 
            <apex:inputfield value="{!ls.Contraceptive_Choice_Date_Covered__c}"/> 
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1" id="maternalInformationPBSRight"> 
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Elimination (urinary/bowel)" />
            <apex:inputfield value="{!ls.Elimination_urinary_bowel__c}" styleClass="hideShow" html-hideValue="Problem" html-shortID="elimination"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Elimination Note" styleClass="elimination"/>
            <apex:inputfield value="{!ls.Elimination_Note__c}" styleClass="elimination"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Generalized Pain"/>
            <apex:inputfield value="{!ls.Pain__c}" styleClass="hideShow" html-hideValue="Present" html-shortID="pain"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Pain Note" styleClass="pain"/>
            <apex:inputfield value="{!ls.Pain_Note__c}" styleClass="pain"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Nutrition Hydration" />
            <apex:inputfield value="{!ls.Nutrition_Hydration__c}" styleClass="hideShow" html-hideValue="Inadequate" html-shortID="nutritionHydration"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Nutrition Hydration Note" styleClass="nutritionHydration"/>
            <apex:inputfield value="{!ls.Nutrition_Hydration_Note__c}" styleClass="nutritionHydration"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Sleep_Intervals__c}"/>
          <apex:inputfield value="{!ls.Naps__c}"/>
          <apex:inputfield value="{!ls.Emotions__c}"/>
          <apex:inputfield value="{!ls.Postpartum_Depression__c}"/> 
          <apex:inputfield value="{!ls.Mother_Follow_up_Appointment_Scheduled__c}"/> 
          <apex:inputfield value="{!ls.Maternal_Information_Comments__c}"/>
        </apex:pageBlockSection>
      </apex:pageBlockSection>  
      <apex:pageBlockSection title="Newborn Information" columns="2" collapsible="false" id="NewbornInformationPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="NewbornInformationPBSLeft"> 
          <apex:inputfield value="{!ls.Feeding_Type__c}" id="feedingType"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Breast Feeding Frequency" styleClass="breast"/>
            <apex:inputfield value="{!ls.Breast_Feeding_Frequency__c}" styleClass="breast"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Audible suck and swallow" styleClass="breast"/>
            <apex:inputfield value="{!ls.Audible_suck_and_swallow__c}" styleClass="breast"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Satiation Shown" styleClass="breast"/>
            <apex:inputfield value="{!ls.Satiation_Shown__c}" styleClass="breast"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Formula Feeding Amount Frequency" styleClass="formula"/>
            <apex:inputfield value="{!ls.Formula_Feeding_Amount_Frequency__c}" styleClass="formula"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Emesis__c}" styleClass="hideShow" html-hideValue="Yes" html-shortID="emesis"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Emesis Note" styleClass="emesis"/>
            <apex:inputfield value="{!ls.Emesis_Note__c}" styleClass="emesis"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Elimination_Stool__c}"/>
          <apex:inputfield value="{!ls.Elimination_Urine__c}"/>
          <apex:inputfield value="{!ls.Cord__c}" styleClass="hideShow" html-hideValue="Drainage" html-shortID="cord"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Cord Note" styleClass="cord"/>
            <apex:inputfield value="{!ls.Cord_Note__c}" styleClass="cord"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Circumcision__c}" styleClass="hideShow" html-hideValue="Problem" html-shortID="circumcision"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Circumcision Note" styleClass="circumcision"/>
            <apex:inputfield value="{!ls.Circumcision_Note__c}" styleClass="circumcision"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1" id="NewbornInformationPBSRight"> 
          <apex:inputfield value="{!ls.Skin_Condition__c}" styleClass="hideShow" html-hideValue="Variations" html-shortID="skinCondition"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Skin Condition Note" styleClass="skinCondition"/>
            <apex:inputfield value="{!ls.Skin_Condition_Note__c}" styleClass="skinCondition"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Jaundice__c}" styleClass="hideShow" html-hideValue="Yes" html-shortID="jaundice"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Jaundice Location" styleClass="jaundice"/>
            <apex:inputfield value="{!ls.Jaundice_Location__c}" styleClass="jaundice"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Behavior__c}" styleClass="hideShow" html-hideValue="Problem" html-shortID="behavior"/>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Behavior Note" styleClass="behavior"/>
            <apex:inputfield value="{!ls.Behavior_Note__c}" styleClass="behavior"/>
          </apex:pageBlockSectionItem>
          <apex:inputfield value="{!ls.Baby_Follow_up_Appintment_Scheduled__c}"/>
        </apex:pageBlockSection>        
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Infant Care" columns="2" collapsible="false" id="infantCarePBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="infantCarePBSLeft"> 
          <apex:pageBlockSectionItem >
            <apex:outputLabel value=" "/> 
            <apex:outputLabel value="Date Covered" style="font-size: 91%;color:#4a4a56;font-weight:bold;"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Bathing Skin Nails"/>
            <apex:inputfield value="{!ls.Bathing_Skin_Nails_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Bulb Syringe Use"/>
            <apex:inputfield value="{!ls.Bulb_Syringe_Use_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Clothing"/>
            <apex:inputfield value="{!ls.Clothing_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Cord Care"/>
            <apex:inputfield value="{!ls.Cord_Care_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Genital Care Diapering"/>
            <apex:inputfield value="{!ls.Genital_Care_Diapering_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Immunizations"/>
            <apex:inputfield value="{!ls.Immunizations_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Sensory Stimulation"/>
            <apex:inputfield value="{!ls.Sensory_Stimulation_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Symptoms of Illness"/>
            <apex:inputfield value="{!ls.Symptoms_of_Illness_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Thermometer Use "/>
            <apex:inputfield value="{!ls.Thermometer_Use_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>        
        <apex:pageBlockSection />
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Injury Prevention" columns="2" collapsible="false" id="injuryPreventionPBS">
        <apex:pageBlockSection showHeader="false" columns="1" id="injuryPreventionPBSLeft"> 
          <apex:pageBlockSectionItem >
            <apex:outputLabel value=" "/> 
            <apex:outputLabel value="Date Covered" style="font-size: 91%;color:#4a4a56;font-weight:bold;"/> 
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Car Seat"/>
            <apex:inputfield value="{!ls.Car_Seat_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Choking"/>
            <apex:inputfield value="{!ls.Choking_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Crib Safety"/>
            <apex:inputfield value="{!ls.Crib_Safety_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Falls"/>
            <apex:inputfield value="{!ls.Falls_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Pets"/>
            <apex:inputfield value="{!ls.Pets_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Sleep Positions"/>
            <apex:inputfield value="{!ls.Sleep_Positions_Date_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Shaken Baby Syndrome"/>
            <apex:inputfield value="{!ls.Shaken_Baby_Syndrome_Dates_Covered__c}"/>
          </apex:pageBlockSectionItem>
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Smoking"/>
            <apex:inputfield value="{!ls.Smoking_Dates_Covered__c}"/>
          </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection />
      </apex:pageBlockSection>      
    </apex:pageBlock>  
  </apex:tab>
    
  </apex:tabpanel>
  <div style="margin-bottom:2em"/>
  <apex:pageBlock mode="mainDetail" title="Additional Clinical Activities" rendered="{!ls.id!=''}" id="acaPB">
    <div style="text-align:center">
      <apex:commandButton value="New" oncomplete="" reRender="" style="margin-left:10px;" accesskey="a" id="newLCA" onclick="this.style.display='none';document.getElementById('acaForm').style.display='block'"/><br/>
    </div>
    <div id="acaForm" style="display:none;padding:10px;width: 60%;margin-left: auto;margin-right: auto;">
      <div style="padding:10px;border:1px solid #827566;border-radius:3px">
        <apex:outputPanel id="acaErrorMessage" >
              <script type="text/javascript">
                if('{!isPHerror}'=='false'){
                  document.getElementById('acaForm').style.display='none';
                  document.getElementById('p:f:acaPB:newLCA').style.display='inline-block';
                }
              </script>
            <apex:pageMessages />
        </apex:outputPanel>
        <apex:pageBlock id="lcaPB" mode="mainDetail">
          
          <div style="text-align:center">
            
            <apex:commandButton value="Save" reRender="lcaPB,acaTable,lcaOP,acaErrorMessage" oncomplete="this.disabled='false';this.value='Save'" onclick="this.value='Saving...';this.disabled='true'" action="{!saveLCA}"/>
            <apex:commandButton value="Cancel" action="{!lcaCancel}" onclick="document.getElementById('acaForm').style.display='none';document.getElementById('p:f:acaPB:newLCA').style.display='inline-block'" reRender="lcaPB" oncomplete=""/>
          </div>
          <apex:pageblocksection columns="2" id="acaPBS">
            <apex:pageblocksection columns="1" id="left">
              <apex:inputfield value="{!lca.Contact_Type__c}" />
              <apex:inputfield value="{!lca.Communication_Type__c}" />
              <apex:inputfield value="{!lca.Initiated__c}" />
              <apex:inputfield value="{!lca.Follow_up_Needed__c}" />
              <apex:inputfield value="{!lca.Follow_up_Occurred__c}" />
            </apex:pageblocksection>
            <apex:pageblocksection columns="1" id="right">
              <apex:inputfield value="{!lca.Contact_Name__c}" />
              <apex:inputfield value="{!lca.Contact_Description__c}" />
              
            </apex:pageblocksection>
          </apex:pageblocksection>
        </apex:pageBlock>   
      </div>
    </div>
    <apex:outputpanel id="lcaOP">
      <apex:actionFunction action="{!deleteLCA}" reRender="lcaTable,lcaOP" name="deleteLCA" oncomplete="document.body.style.cursor='default';">
          <apex:param name="deleteLCA" value=""/>
        </apex:actionFunction>  
        
      <apex:outputPanel rendered="{!lcaList != null && lcaList.size>0}" style="margin-top:5px">
        <apex:pageblocktable value="{!lcaList}" var="l" style="margin-top:5px" id="acaTable" columnsWidth="7%,5%,5%,5%,10%,35%,7%;7%">
          <apex:column headerValue="Action">
            <apex:commandLink value="Edit" action="{!getLCA}" reRender="lcaPB" onclick="this.style.cursor='progress';document.body.style.cursor='progress';" oncomplete="this.style.cursor='default';document.body.style.cursor='default';document.getElementById('acaForm').style.display='block';">
              <apex:param name="lcaid" value="{!l.id}"/>
            </apex:commandLink>
            &nbsp;|&nbsp;
            <span onclick="if(window.confirm('Are you sure?')){document.body.style.cursor='progress';deleteLCA('{!l.id}')}"  style="cursor:pointer;text-decoration:underline">Del</span>  
          </apex:column>
          <apex:column headerValue="Contact Type">
            <apex:outputfield value="{!l.Contact_Type__c}"/>
          </apex:column>
          <apex:column headerValue="Communication Type">
            <apex:outputfield value="{!l.Communication_Type__c}"/>
          </apex:column>
          <apex:column headerValue="Initiated">
            <apex:outputfield value="{!l.Initiated__c}"/>
          </apex:column>
          <apex:column headerValue="Contact Name">
            <apex:outputfield value="{!l.Contact_Name__c}"/>
          </apex:column>
          <apex:column headerValue="Contact Description">
            <apex:outputfield value="{!l.Contact_Description__c}"/>
          </apex:column>
          <apex:column headerValue="Follow-up Needed">
            <apex:outputfield value="{!l.Follow_up_Needed__c}"/>
          </apex:column>
          <apex:column headerValue="Follow-up Occurred">
            <apex:outputfield value="{!l.Follow_up_Occurred__c}"/>
          </apex:column>
          <apex:column headerValue="Created By">
            <apex:outputfield value="{!l.createdby.name}"/>
          </apex:column>
          <apex:column headerValue="Created Date">
            <apex:outputfield value="{!l.createdDate}"/>
          </apex:column>
        </apex:pageblocktable>
        
        <script>
         
          try{
            j$('[id$=acaTable]').tablesorter();
          }catch(e){console.log(e);}  
        </script>
        
      </apex:outputpanel>
      
      <apex:panelGroup rendered="{!lcaList == null || lcaList.size==0}">
        <apex:outputText value="No records to display" style="padding-left:10px;font-size: .9em;font-weight: bold;"/>
      </apex:panelGroup>
      
    </apex:outputpanel> 
  </apex:pageBlock>
  
  <apex:outputPanel rendered="{!ls.id!=''}">
  <div style="margin-top:1em">
    <div style="float:left;display:inline-block">
      <apex:outputlabel value="Last Modified: "/>
      <apex:outputField value="{!ls.lastmodifieddate}"/>&nbsp;-&nbsp;
      <apex:outputField value="{!ls.lastmodifiedby.name}"/>
    </div>
    <div style="float:right;display:inline-block">
      <apex:outputlabel value="Created: "/>
      <apex:outputField value="{!ls.createddate}"/>&nbsp;-&nbsp;
      <apex:outputField value="{!ls.createdby.name}"/>
    </div>
  </div>
  </apex:outputpanel>
  
  </apex:form>
  <apex:includeScript value="{!$Resource.jq19}" loadOnReady="false"/>
  <apex:includeScript value="{!$Resource.lifeStart_min_js}" loadOnReady="false"/>
  <apex:includeScript value="{!$Resource.jquerySorter}"/>
  <script type="text/javascript">
    
    j$(document).ready(function(){
        j$('#p\\:f').show();
    });
    
    function employeeRealtionship(x){
        
        try{
        if(x==1){
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:patientFirstName').value = document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:employeeFirstName').value
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:patientLastName').value = document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:employeeLastName').value
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:pDOBsi:patientDOB').value = document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:eDOBsi:employeeDOB').value
            
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:patientFirstName').disabled=true;
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:patientLastName').disabled=true;
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:pDOBsi:patientDOB').disabled=true;
            
        }else{
            
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:patientFirstName').disabled=false;
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:patientLastName').disabled=false;
            document.getElementById('p:f:pageBlockMain:hhsPBS:ddPBS:ddPBSLeft:pDOBsi:patientDOB').disabled=false;
            
            
        }
        }catch(e){console.log(e);}
        
    }

  </script>
</apex:page>