<apex:page showHeader="false" docType="html-5.0" sidebar="false" standardStylesheets="true" standardController="Oncology__c"
    extensions="oncologyOnlineIntakeExtension" id="p" title="Intake">

    <head>

        <style>
            .panel-heading,
            #theHeader {
                background-color: #0d052e !important;
                color: white !important;
            }

            .visualstrap legend {
                color: #0d052e !important;
                border-bottom: 1px solid #205081;
            }

            .row {
                margin-bottom: 1em;
            }

            .inner {
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                color: #205081 !important;
            }

            .visualstrap .label {
                display: block;
                padding: .2em 0em .3em;
                font-size: 15px;
                font-weight: normal;
                line-height: 1.25;
                color: #2f2747 !important;
                text-align: inherit;
            }

            .label {
                display: block;
                color: #3b444b !important;
                text-transform: capitalize;
            }

            .subLabel {
                width: 20em;
                display: inline-block;
                ;
                padding: .5em;
                padding-left: 3em;
                font-weight: bold;
                text-transform: capitalize;
            }

            .visualstrap a {
                color: inherit;
            }

            input {
                padding-left: 5px;
                ;
            }

            .confirm {
                display: inline-block;
            }

            .required {
                color: red;
                display: inline-block;
                ;
            }

            #header-main {
                background: #2f2747;
            }

            header {
                box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
            }

            .container-wrap.header-main {
                position: relative;
            }

            @media only screen and (min-width: 1250px) .container-wrap {
                margin: 0 auto;
                max-width: 1400px;
                padding: 0 10px;
            }

            @media only screen and (min-width: 800px) .container-wrap {
                margin: 0 auto;
                padding: 0 10px;
            }

            .container-wrap {
                margin: 0;
                padding: 0;
            }


            #footer-main {
                background: #2f2747;
                color: #f2f2f2;
            }

            #footer-main {
                background: #fdb71a;
                padding: .5em .5em;
                color: #000014;
            }

            html {
                background-color: #2f2747;
            }

            .footer-meta {
                text-align: center;
                opacity: .6;
            }

            .visualstrap input,
            .visualstrap select,
            .visualstrap button,
            .visualstrap textarea {
                font-size: 18px;
                background-color: whitesmoke;
            }

            #theShake {
                margin-bottom: 2em;
            }

            .outputText {
                font-size: 18px;
                color: #2F4F4F;
            }

            .visualstrap select {
                background-color: whitesmoke;
            }

            .visualstrap .btn-primary:active:hover,
            .visualstrap .btn-primary,
            .visualstrap .btn-primary:hover,
            .visualstrap .btn-primary:active:focus,
            .visualstrap .btn-primary:focus {
                background-color: #0d052e;
                background-image: none;
                border: 1px solid #ccc;
                font-size: 16px;
                padding: 6px 10px;
                color: white !important;
            }

            .visualstrap .btn-primary[disabled] {
                background-color: #b5b5b5;
                border-color: #b5b5b5;
            }
        </style>

        <title>Intake</title>
    </head>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <apex:includeScript value="{!$Resource.jq19}" />
    <apex:includeScript value="https://code.jquery.com/ui/1.9.2/jquery-ui.js" />
    <c:microsite_header />

    <body style="min-height: 610px;">

        <!-- <body style="font-size:100%; position: relative; min-height: 100%;"> removed 11-24-20 replaced with microsite header-->
        <header class="clearfix" id="header-main">
            <div class="container-wrap header-main">
                <!--removed 11-24-20 replaced with microsite header
                <div class="brandingBanner">
                    <!--<a class="headerLogo" style="margin:0"><img id="headerlogo" src="{!$Resource.hdpLogoWhiteLettering}" style="width:400px" alt="Health Design Plus" /></a>
                    <a class="headerLogo" style="margin:0"><img id="headerlogo" src="{!$Resource.HDP_Corporate_Logo}" style="width:400px" alt="Health Design Plus" /></a>
                </div>
               -->


            </div>
        </header>
        <c:importvisualstrap theme="simplex" id="simplex" />

        <div id="theShake" style="width:97%;margin-left:auto;margin-right:auto">
            <apex:form id="f">
                <apex:actionfunction name="mySubmit" action="{!mySubmit}" rerender="messagePanel,thankyouMessage,intakeSubmitted" oncomplete="j$('#submitForm').val('Submit');j$('#submitForm').css('color','#205081'); j$('#submitForm').attr('disabled', false);document.body.scrollTop = document.documentElement.scrollTop = 0;intakeSubmitted(); "
                />
                <apex:inputhidden value="{!oncology__c.Same_as_Patient_Address__c }" />
                <c:visualstrapblock id="vsb">
                    <apex:outputPanel id="main">
                        <div class="panel" style="border:1px solid #ccc;">
                            <div class="panel-heading" style="background-color:#337ab7">
                                <span style="position:absolute;font-size:14px">
                                    <span style="cursor:pointer;text-decoration:underline" onclick="sendHelpEmail()">Help</span>
                                    <br/>
                                    <br/>
                                    <span id="customerService">{!JSENCODE(csNumber)}</span>
                                </span>
                                <div style="text-align: center">
                                    <h3 style="margin-top: 0;letter-spacing:1px;font-size:30px;display:inline-block;width: 100%;" id="theHeader">
                                        <apex:outputpanel rendered="{!clientName!='SISC'&&clientName!='Dollar General'&&clientName!='NextERA'}">Welcome to&nbsp;{!clientName}&nbsp;Cancer Centers of Excellence Program</apex:outputpanel>
                                        <apex:outputpanel rendered="{!clientName=='SISC'}">SISC Enhanced Cancer Benefit Program</apex:outputpanel>
                                        <apex:outputpanel rendered="{!clientName=='Dollar General'}">Oncology Centers of Excellence Program for Dollar General</apex:outputpanel>
                                        <!--<apex:outputpanel rendered="{!clientName=='NextERA'}">Welcome to the NextEra Energy(currently NextERA) Oncology(currently Cancer)Centers of Excellence Program.</apex:outputpanel>-->
                                        <apex:outputpanel rendered="{!clientName=='NextERA'}">Welcome to the NextEra Energy Oncology Centers of Excellence Program</apex:outputpanel>
                                    </h3>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div id="intakeForm">
                                    <div class="row" style="margin-bottom:1em">
                                        <div class="col-xs-12">
                                            <div class="label" style="font-weight:normal;">
                                                <span style="color:red">*</span>&nbsp;Indicates a required field </div>
                                        </div>
                                    </div>

                                    <div style="margin-bottom:1em;width: 66%;margin-left:auto;margin-right:auto;">
                                        <apex:outputPanel id="messagePanel">
                                            <apex:pagemessages />
                                        </apex:outputPanel>
                                    </div>
                                    <div id="empForm" class="row">
                                        <div class="col-xs-12">
                                            <fieldset>
                                                <legend style="font-weight: normal;font-size: 20px;">{!JSENCODE(employeeLabel)} Information</legend>
                                                <div style="display:block">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="label">{!JSENCODE(employeeLabel)}'s first name&nbsp;
                                                                <span class="required"
                                                                    id="empFNameReq">*</span>
                                                            </div>
                                                            <apex:input type="text" value="{!empFirstName}" id="empFName" html-hdpid="empFName" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                            />
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="label">{!JSENCODE(employeeLabel)}'s last name&nbsp;
                                                                <span class="required" id="empLNameReq">*</span>
                                                            </div>
                                                            <apex:input type="text" value="{!empLastName}" id="empLName" html-hdpid="empLName" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="label">Patient Medical Plan Number &nbsp;
                                                                <span class="required" id="bidReq">*</span>
                                                            </div>
                                                            <apex:inputfield value="{!oRecord.Patient_Medical_Plan_Number__c}" html-hdpid="bid" id="bid" onkeyup="j$('#p\\:f\\:vsb\\:vsbComponent\\:patMedicalPlan').val(this.value)"
                                                                onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val());"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="label">{!JSENCODE(employeeLabel)}'s date of birth&nbsp;
                                                                <span class="required"
                                                                    id="empDOBReq">*</span>
                                                            </div>
                                                            <span class="dateInput dateOnlyInput">
                                                                <apex:input type="text" value="{!empDob}" html-hdpid="empDOB" id="empDOB" onfocus="DatePicker.pickDate(true, 'p:f:vsb:vsbComponent:empDOB', false);"
                                                                    onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                />
                                                                <span class="dateFormat">[&nbsp;
                                                                    <a href="javascript:void(DatePicker.insertDate('{!MONTH(TODAY())}/{!DAY(TODAY())}/{!YEAR(TODAY())}', 'p:f:vsb:vsbComponent:empDOB', true));">{!MONTH(TODAY())}/{!DAY(TODAY())}/{!YEAR(TODAY())}</a>&nbsp;]</span>
                                                            </span>
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <div class="label">{!JSENCODE(employeeLabel)}'s gender&nbsp;
                                                                <span class="required"
                                                                    id="empGenderReq">*</span>
                                                            </div>
                                                            <apex:inputfield value="{!oRecord.Employee_Gender__c}" id="empGender" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                html-hdpid="empGender" />
                                                        </div>

                                                        <div class="col-xs-4">

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="label">Enter an e-mail address for the {!JSENCODE(employeeLabel)}</div>
                                                            <apex:input type="email" value="{!empEmail}" id="empEmail" />
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="label">Please confirm the e-mail address for the {!JSENCODE(employeeLabel)}</div>
                                                            <apex:input type="email" value="{!empEmailConfirm}" id="empEmailConfirm" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="label">Home number for the {!JSENCODE(employeeLabel)}&nbsp;
                                                                <div class="required" id="empPrimaryReq">*</div>
                                                            </div>
                                                            <apex:inputfield html-hdpid="empPrimary" id="empPrimary" value="{!oRecord.Employee_Phone__c}" onchange="checkRequiredPhone(j$(this).attr('hdpid'),j$(this).val(),'empPhone')"
                                                                onblur="formatPhone(this);" styleclass="empPhone" />
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <div class="label">Mobile number for the {!JSENCODE(employeeLabel)}&nbsp;
                                                                <div class="required" id="empMobileReq">*</div>
                                                            </div>
                                                            <apex:inputfield html-hdpid="empMobile" value="{!oRecord.Employee_Mobile_Phone__c}" onchange="checkRequiredPhone(j$(this).attr('hdpid'),j$(this).val(),'empPhone')"
                                                                onblur="formatPhone(this);" styleclass="empPhone" />
                                                        </div>

                                                        <div class="col-xs-4">
                                                            <div class="label">Other number for the {!JSENCODE(employeeLabel)}&nbsp;
                                                                <div class="required" id="empAltNumReq">*</div>
                                                            </div>
                                                            <apex:inputfield value="{!oRecord.Employee_Other_Phone__c}" html-hdpid="empAltNum" onchange="checkRequiredPhone(j$(this).attr('hdpid'),j$(this).val(),'empPhone')"
                                                                onblur="formatPhone(this);" styleclass="empPhone" />
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="label">Is the {!JSENCODE(employeeLabel)} the potential patient?&nbsp;
                                                                <div class="required" id="empPPReq">*</div>
                                                            </div>
                                                            <!--if(this.value=='No'){j$('#empAddySection').show();j$('#page\\:f\\:vsb\\:vsbComponent\\:patientInformation').show()}else{j$('#empAddySection').hide();j$('#page\\:f\\:vsb\\:vsbComponent\\:patientInformation').hide()}-->
                                                            <apex:actionfunction name="syncPatientandEmployeeDemo" action="{!syncPatientandEmployeeDemo}" reRender="patientInformation"
                                                                oncomplete="" />
                                                            <apex:selectlist size="1" value="{!isMemberPatient}" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val());syncPatientandEmployeeDemo()"
                                                                html-hdpid="empPP" id="empPP">
                                                                <apex:selectoption itemLabel="--" itemValue="" />
                                                                <apex:selectoption itemLabel="Yes" itemValue="Yes" />
                                                                <apex:selectoption itemLabel="No" itemValue="No" />
                                                            </apex:selectlist>

                                                        </div>
                                                    </div>

                                                </div>

                                            </fieldset>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <fieldset>
                                                <legend style="font-weight: normal;font-size: 20px;">{!JSENCODE(employeeLabel)} Address Information</legend>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="label">{!JSENCODE(employeeLabel)}'s street
                                                            <!--
                                                            <div class="required" id="empStreetReq">*</div>-->
                                                        </div>
                                                        <apex:input type="text" value="{!empAddress}" html-hdpid="empStreet" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                            style="width:30%;" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="label">{!JSENCODE(employeeLabel)}'s&nbsp;city
                                                            <!--&nbsp;
                                                            <div class="required" id="empCityReq">*</div>-->
                                                        </div>
                                                        <apex:inputfield value="{!oRecord.Employee_City__c}" html-hdpid="empCity" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                        />
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="label">{!JSENCODE(employeeLabel)}'s&nbsp;state
                                                            <!--
                                                            <div class="required" id="empStateReq">*</div>-->
                                                        </div>
                                                        <apex:inputfield value="{!oRecord.Employee_State__c}" html-hdpid="empState" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                        />
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="label">{!JSENCODE(employeeLabel)}'s&nbsp;zip code
                                                            <!--
                                                            <div class="required" id="empZipReq">*</div>-->
                                                        </div>
                                                        <apex:inputfield value="{!oRecord.Employee_Zip_Code__c}" html-hdpid="empZip" onchange="checkRequiredLength(j$(this).attr('hdpid'),j$(this).val(),5)"
                                                        />
                                                        <br/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="label">Do the {!JSENCODE(employeeLabel)} and patient have the same mailing
                                                            address?&nbsp;
                                                            <div class="required" id="empAddySameReq">*</div>
                                                        </div>
                                                        <apex:actionfunction name="syncPatientandEmployeeAddress" action="{!syncPatientandEmployeeAddress}" reRender="patientAddy"
                                                            oncomplete="" />
                                                        <apex:selectlist size="1" value="{!empAddySame}" html-hdpid="empAddySame" id="empAddySame" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val());syncPatientandEmployeeAddress()">
                                                            <apex:selectoption itemLabel="--" itemValue="" />
                                                            <apex:selectoption itemLabel="Yes" itemValue="Yes" />
                                                            <apex:selectoption itemLabel="No" itemValue="No" />

                                                        </apex:selectlist>

                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:2em">
                                        <div class="col-xs-12">

                                            <fieldset>
                                                <legend style="font-weight: normal;font-size: 20px;">Patient Information</legend>
                                                <div style="display:block">
                                                    <apex:outputpanel id="patientInformation">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="label">Patient's first name&nbsp;
                                                                    <div class="required" id="patFNameReq">*</div>
                                                                </div>
                                                                <apex:input type="text" value="{!patFirstName}" html-hdpid="patFName" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                />
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="label">Patient last name&nbsp;
                                                                    <div class="required" id="patLNameReq">*</div>
                                                                </div>
                                                                <apex:input type="text" value="{!patLastName}" html-hdpid="patLName" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="label">Relationship to the {!JSENCODE(employeeLabel)}&nbsp;
                                                                    <div class="required" id="pRelReq">*</div>
                                                                </div>
                                                                <apex:selectlist value="{!oRecord.Relationship_to_Subscriber__c}" size="1" style="padding-bottom:2px" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                    html-hdpid="pRel" id="pRel">
                                                                    <apex:selectoptions value="{!relOpts}" />
                                                                </apex:selectlist>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="label">Patient Medical Plan Number &nbsp;
                                                                    <div class="required" id="patMedicalPlanReq">*</div>
                                                                </div>
                                                                <apex:inputfield value="{!oRecord.Patient_Medical_Plan_Number__c}" html-hdpid="patMedicalPlan" id="patMedicalPlan" onkeyup="j$('#p\\:f\\:vsb\\:vsbComponent\\:bid').val(this.value)"
                                                                    onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val());"
                                                                />
                                                            </div>

                                                            <div class="col-xs-4">
                                                                <apex:outputPanel rendered="{!clientName!='Dollar General'&&clientName!='NextERA'}">
                                                                    <div class="label">Patient Plan Type

                                                                    </div>

                                                                    <apex:inputfield value="{!oRecord.Plan_Type__c}" html-hdpid="patPlanType" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                    />
                                                                </apex:outputPanel>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="label">Patient's date of birth&nbsp;
                                                                    <div class="required" id="patDOBReq">*</div>
                                                                </div>
                                                                <span class="dateInput dateOnlyInput">
                                                                    <apex:input type="text" value="{!patDob}" html-hdpid="patDOB" id="patDOB" onfocus="DatePicker.pickDate(true, 'p:f:vsb:vsbComponent:patDOB', false);"
                                                                        onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                    />
                                                                    <span class="dateFormat">[&nbsp;
                                                                        <a href="javascript:void(DatePicker.insertDate('{!MONTH(TODAY())}/{!DAY(TODAY())}/{!YEAR(TODAY())}', 'p:f:vsb:vsbComponent:patDOB', true));">{!MONTH(TODAY())}/{!DAY(TODAY())}/{!YEAR(TODAY())}</a>&nbsp;]</span>
                                                                </span>

                                                            </div>

                                                            <div class="col-xs-4">
                                                                <div class="label">Patient's gender&nbsp;
                                                                    <div class="required" id="patGenderReq">*</div>
                                                                </div>
                                                                <apex:inputfield value="{!oRecord.Gender__c}" html-hdpid="patGender" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                />
                                                            </div>

                                                            <div class="col-xs-4">

                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="label">Enter an e-mail address for the Patient</div>
                                                                <apex:input type="email" value="{!patEmail}" id="patEmail" />
                                                                <br/>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="label">Please confirm the e-mail address for the Patient</div>
                                                                <apex:input type="email" value="{!patEmailConfirm}" html-hdpid="patEmailConfirm" />
                                                                <br/>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="label">Home number for the Patient&nbsp;
                                                                    <div class="required" id="patPrimaryReq">*</div>
                                                                </div>
                                                                <apex:inputfield html-hdpid="patPrimary" value="{!oRecord.Patient_Phone__c}" onchange="checkRequiredPhone(j$(this).attr('hdpid'),j$(this).val(),'patPhone')"
                                                                    onblur="formatPhone(this);" styleclass="patPhone" />
                                                            </div>

                                                            <div class="col-xs-4">
                                                                <div class="label">Mobile number for the Patient&nbsp;
                                                                    <div class="required" id="patMobileReq">*</div>
                                                                </div>
                                                                <apex:inputfield html-hdpid="patMobile" value="{!oRecord.Patient_Phone2__c}" onchange="checkRequiredPhone(j$(this).attr('hdpid'),j$(this).val(),'patPhone')"
                                                                    onblur="formatPhone(this);" styleclass="patPhone" />
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="label">Other number for the Patient&nbsp;
                                                                    <div class="required" id="patOtherReq">*</div>
                                                                </div>
                                                                <apex:inputfield html-hdpid="patOther" value="{!oRecord.Patient_Phone3__c}" onchange="checkRequiredPhone(j$(this).attr('hdpid'),j$(this).val(),'patPhone')"
                                                                    onblur="formatPhone(this);" styleclass="patPhone" />

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="label">Preferred Phone?</div>
                                                                <apex:inputfield value="{!oRecord.Patient_Preferred_Phone__c}" />
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="label">Would you like a call back?</div>
                                                                <span class="dateInput">
                                                                    <!--<apex:inputtext style="width:6em" value="{!oRecord.Online_Intake_Callback_Date__c}" id="callBackReq" onfocus="DatePicker.pickDate(true, 'p:f:vsb:vsbComponent:callBackReq', false);" onclick=" $('.weekend').each(function(){$(this).attr('onclick',null);$(this).css('color','#999')});var today = new Date();var dd = parseInt(today.getDate());$('.weekday').each(function(){if($(this).hasClass('prevMonth') || !$(this).hasClass('nextMonth') && dd>=parseInt($(this).text())){$(this).attr('onclick',null);$(this).css('color','#999');}})">-->
                                                                    <apex:inputField style="width:6em" value="{!oRecord.Online_Intake_Callback_Date__c}" id="callBackReq" onclick=" $('.weekend').each(function(){$(this).attr('onclick',null);$(this).css('color','#999')});var today = new Date();var dd = parseInt(today.getDate());$('.weekday').each(function(){if($(this).hasClass('prevMonth') || !$(this).hasClass('nextMonth') && dd>=parseInt($(this).text())){$(this).attr('onclick',null);$(this).css('color','#999');}})">
                                                                        <apex:actionSupport action="{!validateCallBackTimeVF}" event="onblur" reRender="callBackError" oncomplete="" />
                                                                    </apex:inputField>
                                                                    <!--
                &nbsp;
                <span class="dateFormat">[&nbsp;<a href="javascript:void(DatePicker.insertDate('{!MONTH(TODAY()+1)}/{!DAY(TODAY()+1)}/{!YEAR(TODAY()+1)}', 'p:f:vsb:vsbComponent:callBackReq', true));">{!MONTH(TODAY()+1)}/{!DAY(TODAY()+1)}/{!YEAR(TODAY()+1)}</a>&nbsp;]</span> -->
                                                                </span>
                                                                <br/>
                                                                <div class="label" style="margin-top:0.5em">Preferred callback time</div>
                                                                <apex:selectlist value="{!oRecord.Online_Intake_Callback_Time__c}" size="1" style="margin-top:0.5em">
                                                                    <apex:selectOption itemLabel="" itemvalue="" />
                                                                    <apex:selectOption itemLabel="1" itemvalue="1" />
                                                                    <apex:selectOption itemLabel="2" itemvalue="2" />
                                                                    <apex:selectOption itemLabel="3" itemvalue="3" />
                                                                    <apex:selectOption itemLabel="4" itemvalue="4" />
                                                                    <apex:selectOption itemLabel="5" itemvalue="5" />
                                                                    <apex:selectOption itemLabel="6" itemvalue="6" />
                                                                    <apex:selectOption itemLabel="7" itemvalue="7" />
                                                                    <apex:selectOption itemLabel="8" itemvalue="8" />
                                                                    <apex:selectOption itemLabel="9" itemvalue="9" />
                                                                    <apex:selectOption itemLabel="10" itemvalue="10" />
                                                                    <apex:selectOption itemLabel="11" itemvalue="11" />
                                                                    <apex:selectOption itemLabel="12" itemvalue="12" />

                                                                    <apex:actionSupport action="{!validateCallBackTimeVF}" event="onchange" reRender="callBackError" oncomplete="" />
                                                                </apex:selectlist>
                                                                &nbsp;
                                                                <apex:selectlist value="{!callBackAmPm}" size="1">
                                                                    <apex:selectOption itemLabel="" itemvalue="" />
                                                                    <apex:selectOption itemLabel="AM" itemvalue="AM" />
                                                                    <apex:selectOption itemLabel="PM" itemvalue="PM" />
                                                                    <apex:actionSupport action="{!validateCallBackTimeVF}" event="onchange" reRender="callBackError" oncomplete="" />
                                                                </apex:selectlist>
                                                                &nbsp;
                                                                <apex:selectlist id="patBTCtz" value="{!oRecord.Patient_TimeZone__c}" size="1">
                                                                    <apex:selectOption itemLabel="" />
                                                                    <apex:selectOption itemLabel="Pacific" itemValue="Pacific" />
                                                                    <apex:selectOption itemLabel="Mountain" itemValue="Mountain" />
                                                                    <apex:selectOption itemLabel="Central" itemValue="Central" />
                                                                    <apex:selectOption itemLabel="Eastern" itemValue="Eastern" />
                                                                </apex:selectlist>
                                                                <apex:outputPanel id="callBackError">
                                                                    <apex:pagemessages />
                                                                </apex:outputPanel>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="label">Reason for patient requesting a call back</div>
                                                                <apex:inputfield value="{!oRecord.Reason_requesting_a_call_back__c}" />
                                                            </div>
                                                        </div>
                                                    </apex:outputpanel>
                                                </div>

                                            </fieldset>

                                            <div class="row" style="margin-top:2em">
                                                <div class="col-xs-12">
                                                    <div id="patientAddy">
                                                        <apex:outputpanel id="patientAddy">
                                                            <div id="patientAddressInformation">
                                                                <fieldset>
                                                                    <legend style="font-weight: normal;font-size: 20px;">Patient Address Information</legend>
                                                                    <div style="display:block">
                                                                        <div class="row">
                                                                            <div class="col-xs-12">
                                                                                <div class="label">patient's street
                                                                                    <!--&nbsp;
                                                                                    <div class="required" id="patStreetReq">*</div>
                                                                                -->
                                                                                </div>
                                                                                <apex:input type="text" value="{!patAddress}" html-hdpid="patStreet" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                                    style="width:30%;" />
                                                                                <br/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-6">
                                                                                <div class="label">patient's&nbsp;city
                                                                                    <!--&nbsp;
                                                                                    <div class="required" id="patCityReq">*</div>
                                                                                -->
                                                                                </div>
                                                                                <apex:inputfield value="{!oRecord.Patient_City__c}" html-hdpid="patCity" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                                />
                                                                                <br/>
                                                                            </div>

                                                                            <div class="col-xs-2">
                                                                                <div class="label">patient's&nbsp;state
                                                                                    <!--
                                                                                    <div class="required" id="patStateReq">*</div>-->
                                                                                </div>
                                                                                <apex:inputfield value="{!oRecord.Patient_State__c}" html-hdpid="patState" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val())"
                                                                                />
                                                                            </div>

                                                                            <div class="col-xs-4">
                                                                                <div class="label">patients's&nbsp;zip code
                                                                                    <!--
                                                                                    <div class="required" id="patZipReq">*</div>-->
                                                                                </div>
                                                                                <apex:inputfield value="{!oRecord.Patient_Zip_Code__c}" html-hdpid="patZip" onchange="checkRequiredLength(j$(this).attr('hdpid'),j$(this).val(),5)"
                                                                                />
                                                                                <br/>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </apex:outputpanel>
                                                    </div>
                                                </div>
                                            </div>

                                            <fieldset style="margin-top: 2em;">
                                                <legend style="font-weight: normal;font-size: 20px;">Additional Contact Information</legend>
                                                <div style="display:block">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="label"> Please provide additional comments regarding contact information</div>
                                                            <apex:inputTextarea value="{!empAdditionalContact}" id="empAdditionalContact" style="width:55%;height:70px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="generalQ">
                                                <fieldset style="margin-top: 1em;">
                                                    <legend style="font-weight: normal;font-size: 20px;">General</legend>
                                                    <div style="display:block">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="label">Patient's&nbsp;primary language&nbsp;
                                                                    <div class="required" id="langReq">*</div>
                                                                </div>
                                                                <apex:selectlist size="1" value="{!oRecord.Preferred_Language__c}" id="lang" html-hdpid="lang" onchange="checkRequired(j$(this).attr('hdpid'),j$(this).val());if(j$(this).val()=='Other'){j$('.pl').show()}else{j$('.pl').hide()}">
                                                                    <apex:selectoption itemLabel="--None--" itemValue="" />
                                                                    <apex:selectoption itemLabel="English" itemValue="English" />
                                                                    <apex:selectoption itemLabel="Other" itemValue="Other" />
                                                                </apex:selectlist>
                                                            </div>
                                                            <div class="col-xs-4 pl" style="display:none">
                                                                <div class="label">Primary language&nbsp;
                                                                    <div class="required" id="langOtherReq">*</div>
                                                                </div>
                                                                <input type="text" id="langOther" value="{!oRecord.Language__c}" onchange="checkRequired(j$(this).attr('id'),j$(this).val())"
                                                                />
                                                            </div>
                                                            <div class="col-xs-4 pl" style="display:none">
                                                                <div class="label">Translation Services Required</div>
                                                                <apex:inputField value="{!oRecord.Translation_Services_Required__c}" id="translation" />
                                                            </div>
                                                        </div>
                                                        <div class="label" style="vertical-align: top;">Please provide a brief descripton of your inquiry</div>
                                                        <apex:inputTextarea value="{!additionalInformation}" id="additionalInformation" style="width:55%;height:70px" />

                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="thankyou" style="display:none">

                                    <fieldset>
                                        <legend style="font-weight: normal;font-size: 20px;">Intake Completed</legend>
                                        <br/>
                                        <apex:outputpanel id="thankyouMessage">
                                            <div style="width:100%;text-align:center" id="thankyouMessage">Thank you for submitting the intake for {!patFirstName}&nbsp;{!patLastName}.
                                                <!--<br/><br/>The case number is {!oRecord.name}-->
                                            </div>
                                        </apex:outputpanel>
                                        <br/>
                                        <div style="width:100%;text-align:center">
                                            <!--<apex:commandbutton styleclass="btn btn-primary" onclick="if('{!clientName}'=='SISC'){window.open('https://test-hdplus.cs3.force.com/oncologyOnlineIntake?client=scis','_self')}else{window.open('https://test-hdplus.cs3.force.com/oncologyOnlineIntake','_self')}" rerender="" oncomplete="" value="Exit"/>
                                            <apex:commandbutton styleclass="btn btn-primary" onclick="if('{!clientName}'=='SISC'){window.open('https://test-hdplus.cs3.force.com/sisc/','_self')}else if('{!clientName}'=='Dollar General'){window.open('https://test-hdplus.cs3.force.com/dg/','_self')}else{window.open('https://test-hdplus.cs3.force.com/oncologyOnlineIntake','_self')}" rerender="" oncomplete="" value="Exit"/>-->
                                            <apex:commandbutton styleclass="btn btn-primary" onclick="if('{!clientName}'=='SISC'){window.open('https://staging-hdplus.cs4.force.com/sisc/','_self')}else if('{!clientName}'=='Dollar General'){window.open('https://staging-hdplus.cs4.force.com/dg/','_self')}else if('{!clientName}'=='Amazon'){window.open('https://staging-hdplus.cs4.force.com/amazon/','_self')}else{window.open('https://test-hdplus.cs3.force.com/oncologyOnlineIntake','_self')}"
                                                rerender="" oncomplete="" value="Exit" />
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <div style="width:100%;text-align:center" id="submitButtons">
                                    <button style="cursor:pointer" id="submitForm" class="btn btn-primary">Submit</button>
                                    <button style="cursor:pointer" class="btn btn-primary">Cancel</button>
                                </div>
                            </div>

                        </div>

                    </apex:outputPanel>

                    <apex:outputPanel id="done">
                        <script>
                        </script>

                    </apex:outputPanel>
                </c:visualstrapblock>

            </apex:form>
        </div>
        <footer id="footer-main">
            <div class="container-wrap">
                <nav class="footerNav clearfix">
                    <ul>
                    </ul>
                </nav>
                <div>
                    <div class="contenttext_container ">
                        <div id="6e94b93d-df9a-4f38-9043-cbe91db4c109" style="">
                            <p class="footer-meta">©
                                <span class="thisYear">
                                    <script type="text/javascript">var d = new Date(); document.write(d.getFullYear());</script>
                                </span> Contigo Health | All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script>
        j$ = jQuery.noConflict()
        j$(document).ready(function () {
            var sl = j$('#calYearPicker');
            j$('option[value="2019"]', sl).remove()
            j$('option[value="2020"]', sl).remove()
            j$('option[value="2021"]', sl).remove()
            j$('option[value="2022"]', sl).remove()
            j$('option[value="2023"]', sl).remove()

            for (var i = 2016; i >= 1930; i--) {
                sl.prepend('<option value="' + i + '">' + i + '</option>')
            }

        });
    </script>
    <apex:outputPanel id="intakeSubmitted">
        <script>
            intakeSubmitted = function () {
                if ('{!isError}' == 'false') {
                    j$('#intakeForm').remove();
                    j$('#submitButtons').remove();
                    j$('#thankyou').show();
                    return false;
                }
            }
        </script>
    </apex:outputPanel>
    <apex:outputPanel id="jsPanel">
        <script>
            j$ = jQuery.noConflict();
            var isEmp = false;
            var sameAddy = false;

            j$(document).ready(function () {

                //                var height = j$(window).height() - (j$(window).height() * .35);

                j$(function () {
                    j$(".dob").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "1930:2014",
                        appendText: " (dd/mm/yyyy)"
                    });

                    j$(".calendar").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "1997:2017",
                        appendText: " (dd/mm/yyyy)"
                    });

                });

            });

            j$('#submitForm').click(function () {
                j$(this).val('Submitting...');
                j$(this).attr('disabled', true);
                j$(this).css('color', '#b5b5b5');
                mySubmit();
                return false;
            });

            function validator(page) {
                //returning true indicates the required fields are not populated
                var foo = new Boolean();
                foo = false;
                if (page === 'empForm') { //empForm
                    if (j$('#bid').val() == '') {
                        foo = true;
                    }

                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empFName').val() == '') {
                        foo = true;
                        $('#empFNameReq').text('*');
                    }

                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empLName').val() == '') {
                        foo = true;
                        j$('#empLNameReq').text('*');
                    }

                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empEmail').val() != '' && (j$('#page\\:f\\:vsb\\:vsbComponent\\:empEmail').val() != j$('#page\\:f\\:vsb\\:vsbComponent\\:empEmailConfirm').val())) {
                        foo = true;
                        alert('The e-mail addresses do not match');
                        return foo;
                    }

                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empDOB').val().length < 8) {
                        foo = true;
                        j$('#empDOBReq').text('*');
                    }

                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empGender').val() == '') {
                        foo = true;
                        j$('#empGenderReq').text('*');
                    }

                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empPrimary').val().length != 14) {
                        j$('#empPrimaryReq').text('*');
                        foo = true;
                    }

                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empAlt').val().length > 0 && j$('#page\\:f\\:vsb\\:vsbComponent\\:empAlt').val().length != 14) {
                        foo = true;
                    }

                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empAlt').val().length > 0 && j$('#empAltType').val() == '') {
                        foo = true;
                    }

                    if (j$('#empPP').val() == '') {
                        j$('#empPPReq').text('*');
                        foo = true;

                    } else {

                        if (j$('#empPP').val() == 'No') {

                            if (j$('#page\\:f\\:vsb\\:vsbComponent\\:pRel').val() == '') {
                                j$('#pRelReq').text('*');
                                return true;
                            }

                            if (j$('#patFName').val() == '') {
                                foo = true;
                                j$('#patFNameReq').text('*');
                            }

                            if (j$('#patLName').val() == '') {
                                foo = true;
                                j$('#patLNameReq').text('*');
                            }

                            if (j$('#patEmail').val() != '' && (j$('#patEmail').val() != j$('#patEmailConfirm').val())) {
                                foo = true;
                                alert('The e-mail addresses do not match');
                            }

                            if (j$('#patDOB').val().length != 10) {
                                foo = true;
                                j$('#patDOBReq').text('*');
                            }

                            if (j$('#patGender').val() == '') {
                                foo = true;
                                j$('#patGenderReq').text('*');
                            }

                            if (j$('#patPrimary').val().length != 14) {
                                j$('#patPrimaryReq').text('*');
                                foo = true;
                            }

                            if (j$('#patPrimaryType').val() == '') {
                                j$('#patPrimaryTypeReq').text('*');
                                foo = true;
                            }

                            if (j$('#patAlt').val().length > 0 && j$('#patAlt').val().length != 14) {
                                foo = true;
                            }

                            if (j$('#patAlt').val().length > 0 && j$('#patAltType').val() == '') {
                                foo = true;
                            }

                        } else if (j$('#empPP').val() == 'Yes') {

                        }
                    }

                    return foo;

                } else if (page === 'empAddy') { //empAddy
                    if (j$('#page\\:f\\:vsb\\:vsbComponent\\:empStreet').val() != '' &&
                        j$('#page\\:f\\:vsb\\:vsbComponent\\:empCity').val() != '' &&
                        j$('#page\\:f\\:vsb\\:vsbComponent\\:empState').val() != '' &&
                        (j$('#page\\:f\\:vsb\\:vsbComponent\\:empZip').val() !== undefined && j$('#page\\:f\\:vsb\\:vsbComponent\\:empZip').val().length === 5)
                    ) {

                        if (isEmp) {
                            if (j$('#p:\\f:\\vsb:\\vsbComponent:\\patStreet').val() != '' &&
                                j$('#p:\\f:\\vsb:\\vsbComponent:\\patCity').val() != '' &&
                                j$('#p:\\f:\\vsb:\\vsbComponent:\\patState').val() != '' &&
                                (j$('#p:\\f:\\vsb:\\vsbComponent:\\patZip').val() !== undefined && j$('#p:\\f:\\vsb:\\vsbComponent\\:patZip').val().length === 5)
                            ) {
                                return false;
                            } else {
                                return true;
                            }

                        }
                        return false;

                    }
                    //patAddy

                } else if (page === 'patForm') { //patForm

                    return foo;
                } else if (page === 'generalQ') { //generalQ
                    if (j$('#recommendedSurgery').val() != '--' && j$('#lang').val() != '--') {
                        if (j$('#lang').val() == 'Other' && j$('#langOther').val() == '') {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                } else {
                    return false;
                }

            }
        </script>
    </apex:outputPanel>

    <script>
        function formatPhone(a) {

            a.value = trim(a.value);
            var b = a.value,
                c = "",
                e = -1;

            if (0 < b.length && "+" != b.charAt(0)) {
                var f = 0;
                "1" == b.charAt(0) && (b = b.substring(1, b.length));

                for (i = 0; i < b.length; i++) {
                    var d = b.charAt(i);
                    "0" <= d && "9" >= d && (0 === f ? c += "(" : 3 == f ? c += ") " : 6 == f && (c += "-"), c += d, f++);

                    if (!("0" <= d && "9" >= d) && " " != d && "-" != d && "." != d && "(" != d && ")" != d) {
                        e = i;
                        break;
                    }
                }

                0 <= e && (c += " " + b.substring(e, b.length));
                10 == f && 40 >= c.length && (a.value = c);
            }

            return !0

        }

        function trim(a) {
            return a && a.replace(/^\s*(\S*(?:\s+\S+)*)\s*$/, "$1") || ""
        }

        /*
        var ip='';
        j$(document).ready(function(){
            j$.getJSON("https://jsonip.com?callback=?",
                function(data){
                  ip = data.ip;
            });
        });
        */

        function checkRequiredLength(x, y, z) {

            if (y == '' || String(y).length != z) {
                if (j$('#' + x + 'Req').text().indexOf('*') < 0) {
                    j$('#' + x + 'Req').text('*');
                }
            } else {
                j$('#' + x + 'Req').text('');
            }

        }

        function checkRequiredPhone(x, y, z) {
            console.log(x + ' ' + y + ' ' + z)
            if (y == '' || y == '--') {
                j$('.' + z).each(function () {
                    j$('#' + j$(this).attr('hdpid') + 'Req').text('*');
                });
            } else {
                j$('.' + z).each(function () {
                    console.log(j$(this).attr('hdpid'));
                    j$('#' + j$(this).attr('hdpid') + 'Req').text('');
                });
            }
        }

        function checkRequired(x, y) {

            if (y == '' || y == '--') {
                if (j$('#' + x + 'Req').text().indexOf('*') < 0) {
                    j$('#' + x + 'Req').text('*');
                }
            } else {
                j$('#' + x + 'Req').text('');
            }

        }

        function sendHelpEmail() {
            window.location.href = "mailto:intake@hdplus.com?subject=Online Form Help&body=We're sorry you are having problems with the online form.%0D%0A%0D%0APlease take a moment and describe the issue you are having and someone will get back to you very soon.%0D%0A%0D%0AYou can also call our customer service at {!JSENCODE(csNumber)}.";

        }
    </script>

</apex:page>
