<apex:page standardController="Patient_Case__c" extensions="pcRedirect" standardStylesheets="false" sidebar="false" showHeader="false" applyBodyTag="false" action="{!redirector}">
<center><img src="{!URLFOR($Resource.loading, '')}" style="margin: 100px;"/></center>
</apex:page>