<apex:page tabStyle="SOMC_OE_Intake__c" id="p" applyBodyTag="false">
  <div style="text-align:center">
    <span style="font-weight:bold">Search: </span><input id="searchterm" name="searchterm" size="17" onkeypress="testkey(event)" type="text" style="margin-top: .25em;"/>
    <button id="searchBtn" type="button" onclick="alertTest()" title="Click to Search" style="cursor:pointer;margin-top: .25em;;margin-bottom: .25em;">Go!</button>&nbsp;
    <br/>
  </div>
  <script>  
  
  document.getElementById('sidebarCell').className += ' sidebarCollapsed';
  
  function testkey(e){
      if(e.keyCode==13){alertTest();}
  }
  
  function alertTest(){ 
      var st = document.getElementById('searchterm').value;  
      document.getElementById('searchBtn').disabled = true;
      document.getElementById('searchBtn').value='Going...';
     
      if(st.length>1){
          document.getElementById('searchBtn').value ='Going...';
          window.parent.location.href = '/apex/searchSOMCOE?st='+st;
      }else{
         document.getElementById('searchBtn').disabled = false;
         document.getElementById('searchBtn').value='Go!';
         alert('The search term must be longer than one character');
      };
         
  }

  
    
  </script>
<apex:enhancedList type="SOMC_OE_Intake__c" height="700" id="eList"/>
</apex:page>