<apex:page showHeader="false" sidebar="false" controller="multiReferralFormsController"> 
<apex:form style="body{overflow: hidden;}">

         <!--var theURL = '{!retURL}';
        parent.window.opener.location.href = theURL;-->       
    <apex:outputPanel id="jspanel">
    <script>
    
    function closethewindow(){
        var error = '{!error}';
        var theerrorMessage = '{!errorMessage}';

        if(error=='false'){
        document.body.style.cursor = 'default';
        var theOpp = '{!theOpp}';
        parent.window.opener.location.href = theOpp;
        alert('Successfully referred');
        window.close();
        }else{
            document.body.style.cursor = 'default';
            alert(theerrorMessage);
        }
        
   }
    
   function cursor_wait() { 
      document.body.style.cursor = 'wait'; 
   }
    </script>
  </apex:outputPanel>

<apex:outputPanel id="ds" >
</apex:outputPanel>  
 <div class="bPageTitle">
     <div class ="ptBody secodaryPalette brandSecondaryBrd">
      <div class="content">
       <img src="/s.gif" class="pageTitleIcon" title="Intake" alt="Intake"/>
       
           <h1 class="pageType"><apex:outputtext value="Patient : {!objTrans.Patient_First_Name__c} {!objTrans.Patient_Last_Name__c}" style="font-size:16px"/><br/>
           <apex:outputText value="Employee Name: {!objTrans.Employee_First_Name__c} {!objTrans.Employee_Last_Name__c}"/><br/>
           <apex:outputText value="Walmart Transplant"/>
           </h1>
      </div>
     </div>   
    </div>
    <center>
        <h1 class="pageType"> E-mail to {!objTrans.Referred_Facility__c}</h1><br/>
    </center> 

    <apex:pageBlock >
    <center>
    <input value="Send the e-mail" class="btn" name="attachFile" onclick="formSelected();this.style.cursor='progress;'" title="Send the e-mail" type="button" onmousedown="cursor_wait()"/>
    <input value="Preview the referral form" class="btn" name="attachFile" onclick="renderpdf();" title="Click to preview the form" type="button"/>
    </center>
    <apex:pageBlockSection columns="1" collapsible="false">
    <apex:pageBlockSection columns="1" collapsible="false">
    <apex:pageBlockSectionItem >    
        <apex:outputLabel value="To: " for="theto"/><apex:outputText value="{!theTo}" id="theto"/>
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
        <apex:outputLabel value="Cc: " for="thecc" title="Separate e-mail addresses using a comma"/><apex:inputText value="{!theCC}" size="100" id="thecc" accesskey="c" title="Separate e-mail addresses using a comma"/>
    </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
        <apex:outputLabel value="Subject: " for="thesubject"/><apex:inputText value="{!theSubject}" size="100" id="theSubject" accesskey="s"/>
    </apex:pageBlockSectionItem>    
    <apex:pageBlockSectionItem >
        <apex:outputLabel value="Body: " for="thebody"/><apex:inputTextarea value="{!theBody}" cols="122" id="thebody" label="Body" rows="8" accesskey="b"/>
    </apex:pageBlockSectionItem><br/>
    </apex:pageBlockSection> 
         
            <apex:outputPanel id="formView" rendered="true">
                <apex:pageBlockSection columns="1" collapsible="false" rendered="{!renderpdf}">
                   <apex:iframe src="{!URL}" frameborder="false" width="100%"/>     
                </apex:pageBlockSection>    
            </apex:outputPanel>
     
     </apex:pageBlockSection> 
        
  </apex:pageBlock><br/>
  <apex:actionFunction action="{!runrenderpdf}" name="renderpdf" reRender="formView" oncomplete="window.resizeTo(800,1000);"/>
  <apex:actionFunction action="{!formSelected}" name="formSelected" reRender="jspanel" oncomplete="closethewindow();"/>   
 </apex:form>
</apex:page>