<apex:page Controller="transitionReferralController" sidebar="false" showHeader="false" id="p">
  
  <div style="width: 90%; margin-left: auto; margin-right: auto; margin-top: 3em;">
  <div style="text-align:center"><h3 >Case Type: {!obj.recordtype.name}</h3></div><br/>
  
  <apex:form id="f">
  <apex:outputpanel id="pageMessage">
  <apex:pageMessages />
  </apex:outputPanel>
  <apex:inputhidden value="{!obj.Previously_Referred_Facility__c}"/>
  <apex:inputField value="{!obj.Converted_Date__c}" style="display: none" showDatePicker="false"/>
  <apex:inputField value="{!obj.Previously_Referred_Date__c }" style="display: none" showDatePicker="false"/>
 
  <apex:pageBlock id="pb">
    
    <div style="text-align:center">
      <!-- apex:commandButton value="Save" action="{!save}" onclick="this.value='Saving...'" oncomplete="this.value='Save';window.opener.location = '/{!obj.id}' " rerender="main,js,pageMessage"/  -->
      <!--<apex:commandButton value="Referral Form Preview" onclick="document.body.style.cursor='progress';previewReferral()" oncomplete="askNicotineUser()" id="refButton" rendered="{!$Profile.Name != 'Customer Service'}"/>-->
      <apex:commandButton rerender="js, pageMessage" value="Send Referral" action="{!referCase}" onclick="document.body.style.cursor='progress';this.style.cursor='progress';" oncomplete="onCompleteConvert();this.style.cursor='default';document.body.style.cursor='default'" />
    </div>
    
    
    
    <apex:pageBlockSection columns="1" id="main">
      <apex:pageBlockSectionItem id="pbsi">
        <apex:outputLabel value="Facility Transitioning to"/>
        <apex:selectList value="{!obj.Client_Facility__c}" size="1" >
            <apex:selectOptions value="{!referredFacilityOpts}"/>
        </apex:selectList>
        
      </apex:pageBlockSectionItem>
      
      <apex:pageBlockSectionItem >
        <apex:outputLabel value="Transition Reason"/>
        <apex:inputfield value="{!obj.Transition_Reason__c}"/>
      </apex:pageBlockSectionItem>
      
      <apex:outputfield value="{!obj.Previously_Referred_Facility__c}"/>
       
    </apex:pageBlockSection>      
      
  </apex:pageBlock>
  <apex:outputpanel id="js">
  <script>
  
    function previewReferral(){
            document.body.style.cursor='default';
            
            if(('{!obj.recordtype.name}').indexOf('Joint') > -1){
                window.open("/apex/jointReferralForm?id={!obj.id}","_blank","width=800,height=500,scrollbars=yes, resizable=yes"); 
            }else{
                window.open("/apex/spineReferralForm?id={!obj.id}","_blank","width=900,height=500,scrollbars=yes, resizable=yes"); 
            }
    }
    
    function onCompleteConvert(){
    
        var nicotine = "{!JSENCODE(obj.Current_Nicotine_User__c)}";
        var cResult = '{!miscMap['convertresult']}';
        
        document.body.style.cursor='default';
               
        if(cResult.toString()=='true'){
        var theURL = '/apex/multiReferralForms?id={!obj.Id}&cfid={!obj.Client_Facility__c}&tr={!obj.Transition_Reason__c}';     
            if(nicotine=='Yes'){
                
              if(confirm('The intake indicates the patient is a nicotine user. Are you sure you want to create the referral?')){
                  
                  location.href = theURL;
                  //window.open(theURL,"_blank","width=900,height=500,scrollbars=yes, resizable=yes");
                  //parent.window.opener.location.href = theOpp;
                  //window.close();
              }
            
            }else{
                  location.href = theURL;
                  //window.open(theURL,"_blank","width=900,height=500,scrollbars=yes, resizable=yes");     
                  //parent.window.opener.location.href = theOpp;
                  //window.close();
            }
        }  
        
    }
    /*
    var fac = document.getElementById("p:f:pb:main:pbsi:facilities");
    hasMercy = false;
    
    for(i=0; i<fac.length ;i++){
        if(fac[i].text=="Mercy Springfield"){
            hasMercy=true;
            break
        }
    }
    
    if(!hasMercy){
        var option = document.createElement("option");
        option.text = "Mercy Springfield";
        option.value = "Mercy Springfield";
        fac.add(option);
    }
    */
    
  </script>
  </apex:outputpanel>
  </apex:form>
  </div>
</apex:page>