<apex:page Controller="travelformcontroller" cache="true" applyBodyTag="false" applyHtmlTag="false" showHeader="false" contentType="application/msword#{!obj.Patient_Last_Name__c}_Travel_Schedule.doc" action="{!updatetrfdate}">
   <html xmlnsw="urnschemas-microsoft-comofficeword" xmlnso="urnschemas-microsoft-comofficeoffice">
    <head>
            <apex:outputText value="{!WordPrintViewXML}" escape="false"/>
    </head>
    <body>       
    <center>
    <table style="width:80%;padding-bottom 0.5em;border-bottom 1px solid #333399;margin-bottom 1em;">
    <tr>
    <td>
        <div style="color:#333399;font-weight:bold;font-size:22px;font-family:Tahoma;font-style:italic;text-align:center">Centers of Excellence<br/> Request for Travel</div>
    </td>
    <td>
        <img src="{!theurl}" style="floatright;margin-right50%"/>
    </td>
    </tr>
    </table>
    </center>
    <br/><br/>
    <table border="1" cellpadding="2" style="border:1px solid black;border-collapse:collapse;margin:auto;width:100%;">
    <thead>
    <th colspan="2" style="background-color:#CCECFF;color:#333399;text-align:center;font-weight:bold;font-size:16px;font-family:Tahoma">
    Information Provided to Travel Coordinator by HDP
    </th>
    </thead>
        <tr>
        <td colspan="2" style="font-weight:bold;text-align:center">
            Travel Schedule
        </td>
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Request Date
        </td>
        <td style="width:33%;padding-left:1em">
            <apex:outputfield value="{!obj.trfCreatedDate__c}"/>
            
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Patient Name
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.Patient_First_Name__c} {!obj.Patient_Last_Name__c}
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Patient DOB
        </td>
        <td style="width:33%;padding-left:1em">
            <apex:outputfield value="{!obj.Patient_DOB__c}"/>
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Patient Address
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.Patient_Street__c}<br/>{!obj.Patient_City__c}, {!obj.Patient_State__c} {!obj.Patient_Zip_Postal_Code__c}
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Patient Home Phone
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.Patient_Home_Phone__c}
        </td>
        
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Patient Mobile Phone
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.Patient_Mobile__c}
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Patient E-mail
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.Patient_Email_Address__c}
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Caregiver Name
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.Caregiver_Name__c}
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Caregiver DOB
        </td>
        <td style="width:33%;padding-left:1em">
            <apex:outputfield value="{!obj.Caregiver_DOB__c}" />
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Caregiver Home Phone
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.caregiver_home_phone__c}
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Caregiver Mobile Phone
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.caregiver_mobile__c}
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Medical Center
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.referred_facility__c}
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Program Type
        </td>
        <td style="width:33%;padding-left:1em">
            {!casetype }
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Travel Date
        </td>
        <td style="width:33%;padding-left:1em">
            <apex:outputField value="{!obj.Estimated_Arrival__c}"/>
        </td>
         
        </tr>

        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Departure Date
        </td>
        <td style="width:33%;padding-left:1em">
            <apex:outputField value="{!obj.Estimated_Departure__c}"/>
        </td>
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Travel Needs
        </td>
         <td style="width:33%;padding-left:1em">
         {!obj.Travel_Needs_Comments__c}
         </td>
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
            Expedited Request?
        </td>
        <td style="width:33%;padding-left:1em">
            {!obj.expeditedTravelRequest__c}
        </td>
         
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Additional Information
            </td>
            <td style="width:33%;padding-left:1em">
                {!obj.Travel_Notes__c}
            </td>
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Method of Transportation
            </td>
            <td style="width:33%;padding-left:1em">
                {!TransportMethod}
            </td>  
        </tr>
        
         <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Preferred Patient Home Airport
            </td>
            <td style="width:33%;padding-left:1em">
               
            </td>  
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
           Arrival Date Time
        </td>
        <td style="width:33%;padding-left:1em">
            <apex:outputfield value="{!obj.Arriving_Flight_Time__c}"/>
        </td>  
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
           Arrival Airport
        </td>
        <td style="width:33%;padding-left:1em">
            {!airport}
        </td> 
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Arrival Flight/Train/Bus #(s)
            </td>
            <td style="width:33%;padding-left:1em">
                {!obj.Arriving_Flight_Number__c}
            </td>  
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Departure Date Time
            </td>
            <td style="width:33%;padding-left:1em">
                <apex:outputfield value="{!obj.Departing_Flight_Time__c}"/>
            </td>  
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Departure Flight/Train/Bus #(s)
            </td>
            <td style="width:33%;padding-left:1em">
                {!obj.Departing_Flight_Number__c}
            </td>  
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Departure Airport
            </td>
            <td style="width:33%;padding-left:1em">
                {!airport}
            </td>  
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
           Hotel Name
        </td>
        <td style="width:33%;padding-left:1em">
            {!hotel}
        </td>  
         
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
           Hotel Check-In Date
        </td>
        <td style="width:33%;padding-left:1em">
            <apex:outputField value="{!obj.Hotel_Check_In_Date__c}"/>
        </td>  
         
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Hotel Check-Out Date
            </td>
            <td style="width:33%;padding-left:1em">
                <apex:outputField value="{!obj.Hotel_Checkout_Date__c}"/>
            </td> 
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Transportation to/from<br/>Airport/Train or<br/>Bus Station
            </td>
            <td style="width:33%;padding-left:1em">
               {!obj.Shuttle_Information_Arrival__c}
            </td>  
        </tr>
        
        <tr>
            <td style="width:33%;text-align:right;padding-right:1em">
               Transportation to/from<br/>Hotel &amp; Medical Center
            </td>
            <td style="width:33%;padding-left:1em">
                {!obj.Shuttle_Information_Departure__c}
            </td> 
        </tr>
        
        <tr>
        <td style="width:33%;text-align:right;padding-right:1em">
           Additional Information
        </td>
        <td style="width:33%;padding-left:1em">
            
        </td> 
        </tr>
    </table>
    </body>
    </html>
</apex:page>