
.hdpinline{
    color: #4a4a56; 
    font-size: 91%;
    font-weight: bold;
    display:inline-block;
    margin-right: 1.2em;">
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 9;
     
}
    
    .overlayinner{
    border-radius:5px;
    width:13%;
    min-width:265px;
    height:6%;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    z-index: 10;
    padding-left: 2%;
    padding-right: 2%;
    <a href='#' onclick='overlay()'>close</a>
    }
    
.rich-tab-header
{
cursor: pointer;

}
 
.rich-tab-active
{
background:none;
font-weight: bold;
}
  
.dateInput
{
display: none;
}