#coe-file-drop-area{
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 10px auto;
  padding: 20px;
  background-color: #f8f8f8;
  text-align: center;
}

#coe-file-drop-area-modal {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 10px auto;
  padding: 20px;
  background-color: #f8f8f8;
  text-align: center;
}

#coe-file-drop-area.highlight{
  border-color: purple;
}
#coe-file-drop-area-modal.highlight{
  border-color: purple;
}

p{
  margin-top: 0;
}

.my-form {
  margin-bottom: 10px;
}

#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.fileChooserButton{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size:16px;
}
#fileElem {
  display: none;
}
#fileElemModal {
  display: none;
}
#fileChooserCancelButton{
  display: none;  
  font-size:16px;
  padding: 10px;
  cursor: pointer;
}
#fileChooserCancelButtonModal{
  display: none;  
  font-size:16px;
  padding: 10px;
  cursor: pointer;
}  