    @media(max-width:767px){
        
        .sectionWrapper{
            height: 100% !important;
        }
        
            }
    
    @media(min-width:768px){
    
        .sectionWrapper{
            height: auto;
        }
        
    }
    
    .pbTitle{
        width: 60% !important;
    
    }
    
    #contentWrapper{
        min-width: 640px;
    }
    
    label{
        width: 10em;
        text-align: right;
        padding-right: 1em;
    }
    
    .label{
    
        color: black;    
        font-size: 85%;
        display: block;
        padding: .9em .6em .3em 0.1em;
        text-align: inherit;

    }
    
    .overlay{
        position:absolute;
        width: 100%; 
        z-index: 1000;  
        height: 100%;"
    }   
    
    .mainTitle{
        font-weight:normal;
    }
    
    
    .pagination-prev, .pagination-next {
      width: 30px;
      height: 30px;
      text-align: center;
      background: #4E443C;
      color: #fff !important;;
      text-decoration: none;
      text-shadow: 0 0 1px #000;
      font: 24px/27px Arial, sans-serif;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      -webkit-box-shadow: 0 0 2px #999;
      -moz-box-shadow: 0 0 2px #999;
      box-shadow: 0 0 2px #999;
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
      cursor: pointer;
      padding-bottom: 3px;
    }
    
    .pagination-prev:hover{
        text-decoration: none !important;
    }
    
    .sectionWrapper{
        margin-left:0;margin-right:0;
        border:1px solid #ccc;
        border-radius: 3px;
        margin-top: 1em;
        box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
    }
    
    .relatedListWrapper{
        border-top:1px solid #ccc;
        padding-top:1em;
        margin-top:1em;
        width:95%;
        margin-right:auto;
        margin-left:auto;
    }
    
    .cciTableHeader{
        background-color: #f3f3ec; 
        font-size: 13px;
        cursor: pointer;
    }
    
    .reqTableHeader{
        font-size: 13px;
        background-color: #f3f3ec;
        //aliceblue;
    }
    
    .attachmentsTableHeader{
        font-size: 13px;
        background-color: #f3f3ec;
    }
    
    .chkTableHeader{
        background-color: #f3f3ec;
        //blanchedalmond;
        font-size: 13px;
    }
    
    #userNavLabel{
        font-size:.7em;
    }
    
    #tsidLabel{
        font-size:.9em;
    }
    
    #tsidButton{
        font-size:.95em;
    }
   
    #tabBar{
        font-size: 88%;
    }
    
    .searchScope, label{
        font-size: 12px;
        font-weight: normal;
    }
    /*
    td a{
        color: #428bca !important;
    }  
    */
    h2{
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .brandPrimaryFgr label{
        text-align: left;
    }