
        .footerContainer{
            max-width: 1400px;
            width: 98% !important;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1em
        }
        
        .button {
            text-align: center;
        }
        
        
        td{
          cursor: pointer; 
        } 
         
        th{
          background-color: white;
          color: #10155e;
        }
        
        .sumLabel{
          display:inline-block;
          width:15em;
        }
        
        .sumData{
          display:inline-block;
        }
        
        .sidebar{
            float:left;
            padding:1em;
        }
        
        .navbar-default .navbar-nav>li>a:hover{
            color:white !important;
        }
        
        #workForm{
            display:none;
            border:1px solid black;
            border-radius:3px;
            margin-bottom:2em;
            padding:10px;
            min-height:400px;
            text-align:center;
        }
        
        .tableWrapper{
            padding: 1em;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 1em;
            border: 1px solid;
            border-radius: 3px;
            max-height: 700px;
        }
        
        .clientName{
            width:100%;
            text-align:center;
            font-size:1.3em;
            color: #10155e;
        }
