<style>
	
	.tab-content{
		border: 1px solid #ddd;
		border-top: none;
	}
/*
    @media(max-width:767px){
        .nav-tabs{
            display: none;
        }
        
        .tab-content{
            box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
			border-radius: 5px;
			border: 1px solid #ddd;
	    }
        
        .smallScreenLabel{
            display: block;
            text-align: center;
            margin-bottom: 2em;
            margin-top: 1em;
            color: #428bca;
            font-weight: bold;
            
        }
        
        .navbar-toggle{
            background-color: #ddd;
            display: block;
        }
        
        .bPageHeader .phHeader{
            display: none;
        }
        
        .bPageHeader{
            margin-top: 1em;
        }        
        
        #toggle{
            display: block;
            position: absolute;
            right: 0px;
            padding-right: 1em; 
        }
    }

    @media(min-width:768px){
        .nav-tabs{
            display: none;
        }
        
        .navbar-toggle{
            background-color: #ddd;
            display: block;
        }

        .bPageHeader .phHeader{
            display: none;
        }

        .bPageHeader{
            margin-top: 1em;
        }
    
        .tab-content{
            box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
			border-radius: 5px;
			border: 1px solid #ddd;
        }
		
        .smallScreenLabel{
            display: block;
            text-align: center;
            margin-bottom: 2em;
            margin-top: 1em;
            color: #428bca;
            font-weight: bold;
            
        } 
       
        #toggle{
            display: block;
            position: absolute;
            right: 0px;
            padding-right: 1em; 
        }          
            
    }
  */  
    @media(min-width:1100px){
    
        .bPageHeader .phHeader{
            display: block;
        }
        
        .bPageHeader{
            margin-top: 0em;
        }
            
        .nav-tabs{
            display: block;
        }
        
        .tab-content{
            box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
			border-radius: 0px;
			border-top: none;
        }
		
        .smallScreenLabel{
            display: none;
        }

        #toggle{
            display: none;
        }
        
    }
    
    .navbar-toggle .icon-bar{
        background-color: #000;        
    }
    
    .tab-pane{
        
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    
    .mainPageRelated{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .treatmentTD, .cmTD, .dmTD, .ccaTD, .ccTD{
        cursor: pointer;
    }
    
    td a{
        color: #428bca !important;
    }  
    
    .panel-label{
        width: 60%;
        display:inline-block;
        font-size:91%; 
        font-weight:bold;
        color:#4a4a56;
        padding-left: 15px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    .panel-data{
        width: 35%;
        display:inline-block;
    }
    
    #tabSelector{
        background-color: #CDE8F0;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
        border: 2px solid #1797c0;
        border-top:none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: -0.6em;
    }
    
    .navSelect{
        background-color: #CDE8F0;
        padding: 5px;
        border-bottom: 1px solid;
        cursor: pointer;
    }
    
    .smallScreenLabelInner{
        background-color: #d9edf7;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 10px;
        
    }
    
    .nav>li>a{
        padding: 7px 10px;
    }
    
    ul li, ol li{
        margin: .4em;
    }
    
    .zen .zen-tabMenu>li{
        font-size: 12px;
    }
    
    h2{
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .nav-tabs>li{
        margin-bottom: -2px;
    }
    
    .nav-tabs>li.active{
        box-shadow: 0px -9px 17px -13px rgba(0, 0, 0, 0.7);
    }
    
    .nav>li>a:hover{
        background-color: transparent;
        border-color: #ddd;
        //box-shadow: 0px -9px 17px -13px rgba(0, 0, 0, 0.7);
        border-bottom: none;
    }

    

</style>