body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.35;
}

.recipient {
    margin-top: 28px;
}

.main > p {
    margin-bottom: 7px;
}

.footer {
    margin-top: 28px;
}

.welcome {
    font-weight: 700;
    margin-bottom: 14px;
    text-align: center;
}

.cards {
    border: 1px solid black;
    font-size: 10px;
    width: 100%;
}

.cardBack {
    border-left: 1px solid black;
}

.cardFront,
.cardBack {
    padding: 15px;
    width: 50%;
}

.separator,
.column {
    float: left;
    position: relative;
}

.column {
    width: 50%;
}

/**
 * Salesforce fails to generate PDFs using :before, ::before, :after, or ::after
 * pseudo-selectors, so we use real selectors instead as a workaround.
 * Without this, the columns will not render properly.
 */
.before,
.after {
    display: table;
}

.after {
    clear: both;
}

.image {
    margin-bottom: 10px;
}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.underline,
.title {
    text-decoration: underline;
}

.title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    text-align: center;
}

.program,
.language {
    width: 100%;
}

.program div {
    margin-top: 4px;
}

.program div,
.program strong,
.program hr {
    margin-left: 25%;
    width: 50%;
}
