/**
* Custom CSS Stylesheet that utilizes CSS 3.0 techniques to create repeating headers
* when applied to a PDF that is rendered from a Salesforce Visualforce page.
*/
@page { 
	size: letter portrait;
	margin-top: 20px;
	margin-bottom: 50px;
	
	@top-left {
		content: element(header_left);
	}
	
	@top-center {
		content: element(header_center);
	}
	
	@top-right {
		content: element(header_right);
	}
	
	@bottom-left {
		content: element(footer_left);
		font-size:11px;

	}
	
	@bottom-center {
		content: element(footer_center);
		font-size:11px;
	}
	
	@bottom-right {
		content: element(footer_right);
		font-size:11px;
	}
}

.header_left {
	text-align: left;
      position: running(header_left);
}

.header_center{
	text-align: center;
	position: running(header_center);
}

.header_right {
	text-align: right;
	position: running(header_right);
}

.footer_left {
	text-align: left;
	position: running(footer_left);
	font-size:11px;

}

.footer_center {
	text-align: center;
	position: running(footer_center);
	font-size:11px;
}

.footer_right {
	text-align: right;
	position: running(footer_right);
	font-size:11px;
}

.pageNumber:before {
	content: counter(page); 
}

.pageCount:before {
	content: counter(pages);  
}

.justpagenumber:after {
	content: counter(pages);  
}

.tdstyle {

        font-size:16px;
        font-family:Arial;
	border-width:thin;
	padding:2px;
	width:200px;
	font-weight:bold;		
}