
#aui-flag-container {
    pointer-events: none;
    position: fixed;
    top: 0px;
    right: 30px;
    z-index: 4000;
    }
    .aui-flag .aui-message {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 3px;
    pointer-events: auto;
    width: 400px;
    }
    .aui-message {
    background: #fff;
    border-top: 1px solid #3572b0;
    border-right: 1px solid #3572b0;
    border-bottom: 1px solid #3572b0;
    border-left: 1px solid #3572b0;
    border-radius: 3px;
    color: #333;
    line-height: 20px;
    margin: 20px 0 0 0;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    }
    .aui-message.closeable .icon-close {
    cursor: pointer;
    left: auto;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    }
    .aui-icon {
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: -999em;
    vertical-align: text-bottom;
    width: 16px;
    }
    .aui-message .aui-icon.icon-close {
    background-image: none;
    color: #707070;
    text-indent: inherit;
    text-align: center;
    }
    .aui-message.success,
    .aui-message-success {
    border-color: #31708f;
    color: #31708f;
    text-align: center;
    font-size: 18px;
    }
    .aui-message .icon-close,
    .aui-icon-close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAOUlEQ…gCECEMHqYSdGlMJZjSCCWo0oQVELaCsCMJe5NwQBEOasoBAGP2Kx0Yi3q/AAAAAElFTkSuQmCC);
    }
    .aui-flag {
    left: 0;
    max-height: 300px;
    opacity: 0;
    position: relative;
    top: -10px;
    transition: opacity .2s, top .5s;
    }
    .aui-flag[aria-hidden="true"] {
    left: 300px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    top: 0;
    transition: max-height .5s .5s, margin-bottom .5s .5s, opacity .8s, left 1s;
    }
    .aui-flag[aria-hidden="false"] {
    opacity: 1;
    }